.iq-navicons-calendar:before
  content: '\e800'

/* ''

.iq-navicons-communities:before
  content: '\e801'

/* ''

.iq-navicons-contacts:before
  content: '\e802'

/* ''

.iq-navicons-documents:before
  content: '\e803'

/* ''

.iq-navicons-messages:before
  content: '\e804'

/* ''

.iq-navicons-notifications:before
  content: '\e805'

/* ''

.iq-navicons-projects:before
  content: '\e806'

/* ''

.iq-navicons-tasks:before
  content: '\e807'

/* ''

.iq-navicons-notifications-o:before
  content: '\e808'

/* ''
