[class^="iq-navicons-"], [class*=" iq-navicons-"]
  font-family: 'iq-navicons'
  font-style: normal
  font-weight: normal
  /* fix buttons height
  line-height: 1em
  /* you can be more comfortable with increased icons size
  /* font-size: 120%;

.iq-navicons-calendar
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe800;&nbsp;')

.iq-navicons-communities
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe801;&nbsp;')

.iq-navicons-contacts
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe802;&nbsp;')

.iq-navicons-documents
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe803;&nbsp;')

.iq-navicons-messages
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe804;&nbsp;')

.iq-navicons-notifications
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe805;&nbsp;')

.iq-navicons-projects
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe806;&nbsp;')

.iq-navicons-tasks
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe807;&nbsp;')
