.error-report-item
  .item-title
    margin: 0

.error-report-description
  font-size: 15px

.error-report-link
  color: $blueLink

.error-report-modal-content
  padding: 15px

.error-report-modal-body
  margin-top: 20px

.error-report-modal-footer
  padding-bottom: 15px

.error-report-icon
  font-size: 20px