.btn.dark.column-title
  .expander(data-target=".task-rules-list", data-expand-on-init=true)
  a= options.title
  .search-expander(data-target=".search, .search-results", data-expanded-class="search-expanded")
    i.icon-plus
.search
.search-results

.task-rules-list