- status = locals[:status]
- children_count = locals[:children_count]

.task-box.project-task-box{class: "task-#{status}"}
  .row
    .col-md-1.project-task-box-stats
      .project-task-box-level= 1 + rand(2000)
      - if children_count > 0
        %a.project-task-box-child-counter{:href => "#"}
          2
      %a.add.project-task-box-add-subtask-btn{:href => "#"}
        %i.icon-plus
    .col-md-6
      .task-box-description-block{"data-status" => "#{status}", :role => "project-task-box-description"}
        %h4.task-box-title-block{"data-href" => "/tasks/10", :role => "project-task-title"}
          %span.title
            test test test task
        %span.text-muted
          Chelny01
          | Изменилась 2 июля
        %span.label.label-default
          Просмотрена

    .col-md-3
      %h4.task-box-title-block
        %span.small
          \#10
        %span -
        %small.user.task-box-user
          Александр Владимирогородский
    .col-md-2
      .row
        .col-md-8
          .task-box-status-block.pull-right
            .status-date.task-box-status-date
              %span.day
                12
                %sup.task-box-status-date-days
                  2 дн.
              %span.month
                июль
          .clearfix
        .col-md-4
          = link_to '#', role: :tooltip, data: {'original-title' => 'Редактировать'}  do
            %i.icon-pencil

        -#%span Редактировать

        -# .settings.pull-left
          %section
            -#.popup
              .list
                %i.icon-reorder
              -#%ul
                %li.edit
                  %a
                    %i.icon-pencil
                    %span Редактировать
            -#.position
              %a.up{"data-method" => "put", :href => "/projects/879/tasks/60979/change_position?up=true", :rel => "nofollow"}
                %i.icon-chevron-up
              %br
              %a.down{"data-method" => "put", :href => "/projects/879/tasks/60979/change_position?down=true", :rel => "nofollow"}
                %i.icon-chevron-down
