// section.project-form-section
//   :padding 34px 50px
//   > h2
//     :color #3489ae
//     :font-size 20px
//   > form
//     input, select, textarea
//       :width 100%
//     input[type='text']
//       +bordered
//       +box-sizing(border-box)
//       +placeholder-color(#999)
//       :background #f1f5f6
//       :padding 5px 11px
//       :line-height 19px
//       :height 28px
//       :color #666
//     input[type='submit']
//       :display block
//       :background #3ab54a
//       :border-color #3ab54a
//       :text-align center
//       :text-decoration none
//       :color #fff
//       :font-weight bold
//       :padding 5px 0
//       :line-height 18px
//       :font-size 13px
//       :border 1px solid rgba(0, 0, 0, 0.2)
//       :width 100%
//       &:hover
//         :background #198748
//       &:active
//         +transition(0.0s background-color)
//     textarea
//       +bordered
//       +box-sizing(border-box)
//       :height 117px
//       :background #f1f5f6
//       :padding 10px 11px
//       :color #666
//       :line-height 21px
//       :font-size 13px
//     > section
//       :margin-bottom 10px
//       header
//         :color #999
//       label
//         :display block
//         :color #999
//         :margin 5px 0
//       .members-container
//         >.member
//           >p
//             >span
//               :margin-right 5px
//               :color #999
//           >a
//             :text-decoration none
//       .add-member
//         :display block
//         :margin-top 10px
//       &#client-section
//         label
//           :display inline
//         > ul
//           :margin-top 10px
//           > li
//             :display inline-block
//             :vertical-align top
//             :width 25%
//             >header
//               :margin-bottom 5px
//               >input[type='radio']
//                 :width auto
//             input, select, textarea
//               :width 90%
//       &#deadtime-section
//         > .input
//           > label
//             :display inline-block
//             :width 25%
//             :text-align right
//           input, select, textarea
//             :width auto
//             :margin-top 5px
//   .hide
//     :display none

//   a.next
//     :display block
//     :background #3ab54a
//     :border-color #3ab54a
//     :text-align center
//     :text-decoration none
//     :color #fff
//     :font-weight bold
//     :padding 5px 0
//     :line-height 18px
//     :height 18px
//     :font-size 13px
//     :border 1px solid rgba(0, 0, 0, 0.2)
//     :width 100%
//     &:hover
//       :background #198748
//     &:active
//       +transition(0.0s background-color)

// Update Create New Project Form
$projectFormWidth: 640px;

.form-gray {
  background-color: #e6e6e6;
}

.project-form-section {
  padding: 0;
  color: #666;
  .container-centered {
    width: 100%;
    max-width: $projectFormWidth;
    margin: 0 auto;
    padding: 0 10px;
    @include box-sizing(border-box);
  }
  .project-form {
    margin-top: 45px;
    ul.errors-list {
      color: #ff0101;
    }
    .inputs-manager {
      .inputs-list {
        li {
          span {
            cursor: pointer;
            font-weight: normal;
            color: #368aaf;
            border-bottom: dashed 1px #368aaf;
          }
          input {
            display: none;
          }
        }
      }
      .editor {
        display: none;
      }
    }
    .form-grid-3 {
      @include set-responsive(0, $projectFormWidth) {
        float: none;
        width: 100%;
      }

      label {
        @include set-responsive(0, $projectFormWidth) {
          display: inline-block;
          padding: 0 0 7px;
        }
      }
    }
    .form-grid-8 {
      @include set-responsive(0, $projectFormWidth) {
        width: 91.66667%;
      }
    }
  }
}

.project-form-navigation {
  text-align: center;
  border-bottom: solid 1px #e6e6e6;
  min-height: 50px;
  line-height: 50px;
  background-color: white;
  position: relative;
  color: $greyText;
  .container-centered {
    position: relative;
    z-index: 1;
    text-transform: uppercase;
    font-size: 11px;
    @include clear;
    &:before {
      content: "";
      height: 1px;
      background-color: #e6e6e6;
      position: absolute;
      left: 10px;
      right: 10px;
      top: 50%;
      z-index: 0;
    }
    > span {
      background: white;
      position: relative;
      z-index: 1;
      padding: 0 25px;
      @include set-responsive(0, 400px) {
        padding: 0 7px;
      }

      &:first-child {
        float: left;
        padding-left: 0;
      }
      &:last-child {
        float: right;
        text-align: right;
        padding-right: 0;
      }
    }
    span {
      vertical-align: middle;
    }
    .active {
      color: #2b8caf;
      .number {
        border-color: #2b8caf;
      }
    }
    .number {
      display: inline-block;
      line-height: 18px;
      width: 18px;
      height: 18px;
      text-align: center;
      border: solid 1px $greyText;
      border-radius: 100%;
      margin-right: 5px;
    }
  }
  .controls {
    z-index: 0;
    padding: 0 5px;
    @include absoluted;
    @include clear;
    @include set-responsive(0, 800px) {
      position: static;
    }

    .back-link {
      float: left;
      color: #666666;
      max-width: 45%;
      @include text-overflow;
      span {
        vertical-align: middle;
      }
    }
  }
}

.project-team {
  max-width: 970px;
  width: 100%;
  margin: 0 auto;
  @include clear;
  color: #666;
  .column-white {
    background-color: white;
    border: 3px solid #e6e6e6;
    border-top-width: 6px;
    min-height: 400px;
  }
  .members-scrolling-list {
    max-height: 400px;
    overflow: auto;
    border-left: solid 1px #e6e6e6;
  }
  h6 {
    font-weight: 600;
    margin-bottom: 5px;
  }
}
