%h4
  Исходящий вызов
%hr
.row
  .col-sm-4
    %strong
      Клиенту
  .col-sm-8
    %a Комков Степан Алексеевич
.row
  .col-sm-4
    %strong
      От сотрудника
  .col-sm-8
    %a Александр Мещеряков
.row
  .col-sm-4
    %strong
      Дата вызова
  .col-sm-8
    18 августа 2017
.row
  .col-sm-4
    %strong
      Статус
  .col-sm-8
    Успешно
.row
  .col-sm-4
    %strong
      Длительность звонка
  .col-sm-8
    1:21 мин
%hr
  %strong
    Комментарий к звонку
  %p
    Хороший клиент, договорились на закупку металлопрофилей
%hr
.btn-group
  %button.btn.btn-default
    %i.fa.fa-save
    &nbsp;
    Скачать запись звонка
.pull-right
  %a.btn.btn-danger{href: '/crm/clients/show/people/calls'}
    Закрыть
.clearfix