.navbar.navbar-default{role: 'tasks-list-filters'}
  .tasks-list-filters-block-content
    .row
      .col-md-3.tasks-list-filters-block-section
        .text-muted.control-label Показать
        %select#status.form-control.tasks-list-filters-block-select{"data-param" => "by_status", name: "status", role: "simple-filter"}
          %option{selected: "selected", value: ""} Все статусы
          %option{disabled: "disabled", value: "new"} Новые
          %option{disabled: "disabled", value: "browsed"} Просмотренные
          %option{value: "in_work"} В работе - 2
          %option{disabled: "disabled", value: "refused"} Отказанные
          %option{disabled: "disabled", value: "completed"} Ждут подтверждения
          %option{disabled: "disabled", value: "accepted"} Выполненные
          %option{disabled: "disabled", value: "declined"} Не принятые
          %option{disabled: "disabled", value: "canceled"} Отмененные
      .col-md-3
        .text-muted.control-label &nbsp;
        %select#community_id.form-control.tasks-list-filters-block-select{"data-param" => "by_community", name: "community_id", role: "simple-filter"}
          %option{selected: "selected", value: ""} Все сообщества
          %option{value: "290"} Личные задачи - 2
      .col-md-3.tasks-list-filters-block-section
        .input-group.input-group-sm
          %span.text-muted.control-label Группировать:
          %select#group_by.form-control.tasks-list-filters-block-select{"data-param" => "group_by", name: "group_by", role: "grouper"}
            %option{selected: "selected", value: ""} Без группировки
            %option{value: "favorite"} По важности
            %option{value: "deadline"} По дедлайну
            %option{value: "projects_u"} По проектам
      .col-md-3.tasks-list-filters-block-section{role: "tasks-sorted-panel"}
        %span.text-muted.control-label Сортировать:
        .input-group-above.input-group-sm{role: "sorter"}
          %select#sort.form-control.tasks-list-filters-block-select{"data-param" => "sort", name: "sort", role: "sorter-value"}
            %option{value: "id"} По номеру
            %option{value: "updated_at"} По последней активности
            %option{value: "end_date"} По дедлайну
          .input-group-addon.btn{"data-direction" => "desc", role: "sorter-direction"}
            %a.fa.fa-sort-amount-desc{href: "#"}
  .text-center
    %a.btn.btn-link-plain{href: "#", role: 'reset-filters', style: 'display: none;'}
      %i.fa.fa-times.text-color-gray-light
      Снять все фильтры
