%article.task-box-block
  %a.task-box-block-link{href: "/tasks/show"}
    .task-box{"data-group-id" => "all_tasks", "data-group-title" => "Все задачи", "data-href" => "/tasks/2531", :role => "task-item", "test-task" => ""}
      .col-md-10
        .row
          .col-md-10
            %h4.fa.text-warning.star-favourite.fa-star-o.task-box-title-icon{"data-url" => "/favorites?base_task_id=2531", :role => "favorite-list-view"}
            %h4.task-box-title-block
              %span.title{"data-original-title" => "test task", "role-bootstrap-tooltip" => "ready", "test-task-title" => "", :title => ""}
                test task
                %span.small
                  \#2531
        .row
          .col-md-10
            .text-muted
              %span
                %span.fa.fa-users
                Fake community
              %span
              [
              %span.user.task-box-user{"data-href" => "/users/203", :role => "user"}
                Я
              →
              %span.user.task-box-user{"data-href" => "/users/203", :role => "user"}
                Себе
              ]
        .row
          .col-md-10
            .text-muted
              %span{:href => "/projects/131"} test project 2
              | Изменилась 22 окт.
        .row
          .col-md-5
            .label.label-warning
              В работе
          .col-md-5
      .col-md-2
        .task-box-status-block
          .status-date.task-box-status-date
            %span.day-list
              6
            -#%sup.task-box-status-date-days
              121 дн.
            %span.month
              Март
          %br.visible-md.visible-lg/
          .clearfix
%article.task-box-block
  %a.task-box-block-link{href: "/tasks/show"}
    .task-box.task-new.task-overdue{"data-group-id" => "all_tasks", "data-group-title" => "Все задачи", "data-href" => "/tasks/2383", :role => "task-item", "test-task" => ""}
      .col-md-10
        .row
          .col-md-10
            %h4.fa.text-warning.star-favourite.fa-star-o.task-box-title-icon{"data-url" => "/favorites?base_task_id=2383", :role => "favorite-list-view"}
            %h4.task-box-title-block
              %span.title{"data-original-title" => "task in group", "role-bootstrap-tooltip" => "ready", "test-task-title" => "", :title => ""}
                task in group
                %span.small
                  \#2383
        .row
          .col-md-10
            .text-muted
              %span
                %span.fa.fa-users
                Fake community
              %span
              [
              %span.user.task-box-user{"data-href" => "/users/203", :role => "user"}
                Я
              →
              %span.user.task-box-user{"data-href" => "/users/203", :role => "user"}
                Себе
              ]
        .row
          .col-md-10
            .text-muted
              %span{:href => "/projects/120"} Test project
              | Изменилась 2 окт.
        .row
          .col-md-5
            .label.label-primary
              Новая
          .col-md-5
      .col-md-2
        .task-box-status-block
          .status-date.task-box-status-date
            %span.day-list
              27
            %sup.task-box-status-date-days
              +40 дн.
            %span.month
              Сентябрь
          %br.visible-md.visible-lg/
          .clearfix

%article.task-box-block
  %a.task-box-block-link{href: "/tasks/show"}
    .task-box.task-new.task-overdue{"data-group-id" => "all_tasks", "data-group-title" => "Все задачи", "data-href" => "/tasks/2343", :role => "task-item", "test-task" => ""}
      .col-md-10
        .row
          .col-md-10
            %h4.fa.text-warning.star-favourite.fa-star-o.task-box-title-icon{"data-url" => "/favorites?base_task_id=2343", :role => "favorite-list-view"}
            %h4.task-box-title-block
              %span.title{"data-original-title" => "test project task", "role-bootstrap-tooltip" => "ready", "test-task-title" => "", :title => ""}
                test project task
                %span.small
                  \#2343
        .row
          .col-md-10
            .text-muted
              %span
                %span.fa.fa-users
                Fake community
              %span
              [
              %span.user.task-box-user{"data-href" => "/users/203", :role => "user"}
                Я
              →
              %span.user.task-box-user{"data-href" => "/users/203", :role => "user"}
                Себе
              ]
        .row
          .col-md-10
            .text-muted
              %span{:href => "/projects/120"} Test project
              | Изменилась 2 окт.
        .row
          .col-md-5
            .label.label-primary
              Новая
          .col-md-5
      .col-md-2
        .task-box-status-block
          .status-date.task-box-status-date
            %span.day-list
              26
            %sup.task-box-status-date-days
              +71 дн.
            %span.month
              Август
          %br.visible-md.visible-lg/
          .clearfix
