- users_count = locals[:users_count] || 4

%section.top-panel
  .container-fluid.top-panel-content
    .row
      .col-md-7
        .top-panel-content-block
          %a{role: :tooltip, 'data-original-title' => 'Изменить тему'}
            %strong
              Без темы
        -#%form.top-panel-form-block{"data-reactid" => ".4.0.0.0"}
          .row{"data-reactid" => ".4.0.0.0.0"}
            .col-md-10{"data-reactid" => ".4.0.0.0.0.0"}
              .input-group{"data-reactid" => ".4.0.0.0.0.0.0"}
                %input.form-control{"data-reactid" => ".4.0.0.0.0.0.0.0", :type => "text", :value => "редизайн конференций"}/
                .input-group-btn{"data-reactid" => ".4.0.0.0.0.0.0.1"}
                  %input.btn.btn-default{"data-reactid" => ".4.0.0.0.0.0.0.1.0", :type => "submit", :value => "Изменить"}/
            .col-md-2.col-collapse{"data-reactid" => ".4.0.0.0.0.1"}
              %a.btn.btn-link-gray-light.btn-link-plain{"data-reactid" => ".4.0.0.0.0.1.0", :href => "#"}
                %i.fa.fa-times{"data-reactid" => ".4.0.0.0.0.1.0.0"}  
                %span{"data-reactid" => ".4.0.0.0.0.1.0.1"} Отменить
      .col-md-5.text-right
        .top-panel-content-block
          - if users_count && users_count > 0
            - data.avatars.last(users_count).each do |u|
              %a.btn-link-plain{href: '/users/2'}
                %img.member-box-avatar-image-small.conference-members-avatar-image{:src => u[:url], :alt => "", :width => "40px", :height => "40px"}
            &nbsp;
            %a
              и ещё 2
            &nbsp;&nbsp;
          %a.btn.btn-outline-primary{role: :tooltip, data: {'original-title' => 'Добавить участника'}, role: 'conference-add-member-btn'}
            %i.fa.fa-plus
          &nbsp;
          %a.btn.btn-outline-primary{role: :tooltip, data: {'original-title' => 'Управление конференцией'}, role: 'conference-settings-btn'}
            %i.fa.fa-cog
          &nbsp;
          %a.btn.btn-outline-gray-light{role: :tooltip, data: {'original-title' => 'Покинуть конференцию'}, role: 'conference-leave-btn',
              href: 'javascript:confirm("Вы не сможете читать сообщения в этой конференции. Покинуть её?")'}
            %i.fa.fa-times




