.user-activities-page {
  table {
    min-width: 80%;
    @extend %simple-table;
    color: #666666;
    th, td {
      padding-top: 8px;
      padding-bottom: 8px;
    }
    th.date {
      width: 115px;
    }
  }
  .pagination {
    margin: 18px 0;
  }
}
