
%section.top-panel
  .container-fluid
    .row
      .col-md-6
        %a.btn-link-gray.btn-link-plain{href: '/users/2'}
          %img.member-box-avatar-image-small.conference-members-avatar-image{:alt => "Шамиль", :hide_wait_message => "true", :src => "https://iq300.s3.amazonaws.com/uploads/user_profile/photo/2/medium_e641ce02-e837-4d54-beaa-25724ff58b98.jpg", :title => "Хамадеев Шамиль Актасович"}/
          Шамиль Хамадеев
      .col-md-6.text-right
        %a.btn.btn-outline-primary{role: 'tooltip conference-add-member-btn', data: {'original-title' => 'Добавить участника'}}
          %i.fa.fa-plus

