- active = locals[:active] || -1

.filters-column
  .list-panel-block-form
    %select.form-control
      - filter_communities = "ООО Айкью 300, ЦИТ".split(', ')
      - for i in 0..2
        - filter_communities.each do |user|
          %option
            = user

  %ul.filters-column-list.filters-column-list-middle
    - data.docs.navigation.each_pair do |k, v|
      %li{class: "#{k} #{active.to_s == k.to_s ? 'active' : ''}"}
        %a= v.title

