.container-fluid
  .row
    .col-sm-6
      .list-panel-block.list-panel-block-left
        .dropdown.dropdown-inline
          %a.btn.btn-collapse.btn-link-plain.btn-link-primary.top-panel-title{:role => "project-tasks-counts", 'data-toggle' => 'dropdown'}
            %i.fa.fa-folder-open-o
            %i.fa.fa-caret-down.icon-size-12
          %ul.dropdown-menu{:role => "menu"}
            %li
              %a{href: ""} Инструкции
            %li
              %a{href: ''} Iq300
            %li
              %a{href: ''} Все документы
        %span.top-panel-title.text-btn-vertical
          Рисунки


    .col-sm-6
      .list-panel-block.text-right
        %a.btn.btn-sm.btn-link-primary{:href => "/tasks/new", role: 'project-tasks-list-add-task-btn'}
          %i.fa.fa-file-text-o.icon-item-block
          Добавить документ
        &nbsp;
        %a.btn.btn-sm.btn-link-primary{:href => "/projects/new"}
          %i.fa.fa-folder-open-o.icon-item-block
          Добавить каталог

        -#.dropdown.dropdown-inline
          %a.btn.btn-link-default.btn-circle-plus{"aria-expanded" => "false", "data-toggle" => "dropdown"}
            %span.btn-circle-plus-icon
              %i.fa.fa-plus.icon-size-16
          %ul.dropdown-menu.dropdown-menu-right{:role => "menu"}
            %li
              %a{:href => "/tasks/new", role: 'project-tasks-list-add-task-btn'}
                %i.fa.fa-file-text-o.icon-item-block
                Добавить документ
            %li
              %a{:href => "/projects/new"}
                %i.fa.fa-folder-open-o.icon-item-block
                Добавить каталог
        -#%a.btn.btn-sm.btn-primary{href: '/crm/clients/new'}
          %i.fa.fa-plus
          %strong
            Добавить клиента
        &nbsp;
        %a.btn.btn-sm.btn-link-plain{href: '[role*="project-tasks-list-search"]', data: {toggle: :collapse}}
          %i.fa.fa-search.icon-color-gray-light.icon-size-14
        -#%a.btn.btn-sm.btn-link-plain{role: 'list-view-switch', data: {toggle: :toggle, target: '[role*="list-view-switch"]'}}
          %i.fa.fa-th-large.icon-color-gray-light.icon-size-14
        -#%a.btn.btn-sm.btn-link-plain{role: 'list-view-switch', data: {toggle: :toggle, target: '[role*="list-view-switch"]'}, style: 'display: none;'}
          %i.fa.fa-th-list.icon-color-gray-light.icon-size-14
        -#%a.btn.btn-sm.btn-link-plain{:href => "#"}
          %i.fa.fa-print.icon-color-gray-light.icon-size-16


  .collapse{role: 'project-tasks-list-search'}
    .list-panel-divider
    .list-panel-block
      .row
        .col-md-6.col-md-offset-3
          %form
            .input-group.input-group-block
              %input.form-control{:placeholder => "Поиск", :type => "search", :value => ""}/
              .input-group-btn
                %a.btn.btn-default
                  %i.fa.fa-search
        .col-sm-3.text-right
          %a.btn.btn-sm.btn-link.btn-link-plain{href: '[role*="project-tasks-list-search"]', data: {toggle: :collapse}}
            %i.fa.fa-times.icon-color-gray-light.icon-size-14{:role => "tasks-print-form-link"}

.list-panel-divider
.container-fluid
  .row
    .col-sm-10
      .list-panel-block
        %span
          - data.avatars.last(5).each do |u|
            %a.btn-link-plain{href: '/users/2', role: 'tooltip', 'data-original-title' => data.users.sample[:name]}
              %img.user-block-avatar-image.user-block-avatar-image-xs.user-block-avatar-image-inline{:src => u[:url], :alt => "", :width => "40px", :height => "40px"}
        %span{role: 'calendar-settings-item-users-list', style: 'display: none;'}
          - for i in 0..3
            - data.avatars.last(5).each do |u|
              %a.btn-link-plain{href: '/users/2', role: 'tooltip', 'data-original-title' => data.users.sample[:name]}
                %img.user-block-avatar-image.user-block-avatar-image-xs.user-block-avatar-image-inline{:src => u[:url], :alt => "", :width => "40px", :height => "40px"}
        &nbsp;
        %a.btn.btn-collapse{'data-toggle' => 'toggle', 'data-target' => '[role*="calendar-settings-item-users-list"]'}
          %small{role: 'calendar-settings-item-users-list'} и ещё 15
          %small{role: 'calendar-settings-item-users-list', style: 'display: none;'} скрыть
    .col-sm-2
      .list-panel-block.text-right
        %a.btn.btn-sm.btn-link-plain.btn-link-gray{:href => "/docs/settings"}
          %i.fa.fa-cog
          Настройки доступа


.list-panel-divider
.container-group
  .docs-list-header-item{role: 'docs-list-header'}
    .row
      .col-sm-7
        %a.btn-link-plain.btn-link-gray{href: ""}
          Название
          %i.fa.fa-sort-amount-desc
      .col-sm-3
        %a.btn-link-plain.btn-link-gray{href: ""}
          Автор изменения
      .col-sm-2
        %a.btn-link-plain.btn-link-gray{href: ""}
          Изменен
          %i.fa.fa-sort-amount-desc
  .docs-list-header-item{role: 'docs-list-header-menu', style: 'display: none;'}
    %span.text-btn
      1 документ
    &nbsp;&nbsp;
    %a.btn-link-plain.btn-link-primary
      %i.fa.fa-download
      Скачать
    &nbsp;&nbsp;
    %a.btn-link-plain.btn-link-danger.pull-right
      %i.fa.fa-times
      Удалить
    .clearfix

