---
body_class: docs-index
nav_item: docs
layout: application_modular
---

- content_for :filters_column do
  = partial 'docs/filters', locals: {active: :all}

- content_for :top_panel do
  = partial 'docs/top_panel'

.form-container-compact
  = partial 'docs/list'

