@import variables
@import buttons

body
  @media screen and (min-width: $screen-sm)
    background-color: $registration-background-desktop
    width: 100%
    height: 100%

.registration-page
  @extend .container-fluid

.registration-page-container
  @media screen and (min-width: $screen-sm)
    margin: 0 auto !important
    position: relative
    max-width: 1000px

.registration-page-body
  width: 70%
  margin: 0 auto
  @media screen and (min-width: $screen-sm)
    position: relative
    width: 78%
    background-color: #fff
    padding-bottom: $registration-page-body-footer-height
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5)
    border-radius: 3px

.registration-page-body-footer
  @media screen and (min-width: $screen-sm)
    background-color: $registration-header-background-desktop
    width: 100%
    bottom: 0
    height: $registration-page-body-footer-height
    position: absolute
    border-top: 1px solid #DBDBDB

.registration-page-footer
  clear: both
  padding: 2em 0

.registration-form-title-wrapper
  text-align: center
  display: block
  text-transform: uppercase
  font-size: 0.7em
  font-weight: 500

.registration-form-title
  position: relative
  top: 8em



.registration-form-title-step1
  top: 11em

.registration-choose-avatar
  max-width: 150px
  width: 100px
  height: 100px
  cursor: pointer
  margin: 0em auto
  display: block
  padding-bottom: 20px

.registration-top-title
  top: 0

.registration-steps-status-block
  display: inline-block
  margin-left: 43%

.registration-steps-status
  list-style: none
  float: left
  margin: 0 2px

.registration-steps-status-link
  display: block
  width: 0.7em
  height: 0.7em
  text-indent: -10000px
  color: white
  border: 1px solid $registration-main-color
  border-radius: 10px
  &.active
    background-color: $registration-main-color

.registration-delimeter
  display: block
  height: 1px
  border: 0
  border-top: 2px solid #DADADA
  margin: 0.5em 0
  padding: 0

.registration-form-input
  border-color: #DADADA
  border-width: 1.3px
  height: 2.6em
  &:focus
    border-color: $registration-main-color

.registration-form-input-hint
  font-size: 0.7em
  color: $registration-main-color
  text-align: center
  margin: 0.3em auto 0.7em

.registration-form-input-wrapper
  margin: .5em auto

.registration-steps-buttons
  display: block
  margin: 0 auto
  padding-right: 5%

.registration-steps-buttons:after
  content: "."
  display: block
  height: 0
  clear: both
  visibility: hidden

.registration-alert
  padding: 0.5em 0.8em
  margin-top: 0.7em
  margin-bottom: 0.7em
  border: 1px solid transparent
  border-radius: 4px

.registration-alert > p
  margin-bottom: 0
  font-size: 0.6em

.registration-alert > p + p
  margin-top: 5px

.registration-alert-info
  color: $registration-alert-info-font-color
  background-color: $registration-alert-info-background-color
  border-color: $registration-alert-info-border-color

.registration-alert-danger
  color: $registration-alert-danger-font-color
  background-color: $registration-alert-danger-background-color
  border-color: $registration-alert-danger-border-color

.enter-logo
  display: block
  margin: 2em auto
  width: 5.3em
  position: relative
  top: -2em

.social-login-link
  display: inline-block
  img
    width: 3em
    height: 3em
    margin: 0.6em 0.4em

.enter-link
  display: block
  color: #808080
  text-decoration: none
  font-weight: 300
  font-size: 0.8em
  margin: 0.4em
  font-family: $registration-font-family-normal

.enter-through-social-links
  margin: 0 auto
  display: inline-block

.enter-container
  margin: 0 auto

.enter-container-centered
  width: 70%
  text-align: center
  margin: 0 auto

.enter-page-title
  color: black
  font-weight: 300
  font-size: 0.9em
  font-family: $registration-font-family-normal

.registration-enter-title
  color: #808080
  font-weight: 300
  font-size: 0.7em
  font-family: $registration-font-family-normal
  width: 80%
  display: block
  margin: 0 auto

.enter-blue-link
  color: $registration-main-color
  font-weight: 500
  text-decoration: none

.registration-page-header
  margin: 0 auto
  width: 73%
  height: $registration-page-header-height
  display: none
  @media screen and (min-width: $screen-sm)
    display: block
    margin-top: 1em
    margin-bottom: -1em

.registration-page-header-title
  font-family: $registration-font-family-light
  font-size: 1.7em
  font-weight: lighter
  color: #385A74
  display: inline
  @media screen and (min-width: $screen-sm)
    top: -7px
    display: inline-block
    position: relative
    left: 29px
    font-size: 1.5em
    font-weight: 300

.registration-header
  display: inline

.registration-step-one-back
  display: none

@media screen and (min-width: $screen-sm)
  .enter-container
    width: 70%
    margin: 0 auto
    text-align: center
  .registration-page
    margin: 0
  .registration-steps-status-block
    margin: 0 auto
  .registration-delimeter
    display: none
  .enter-logo
    display: none
  .enter-link
    display: inline
    margin: 0
    &:nth-child(-n+4)
      &:after
        content: '  |  '
  .enter-through-social-links
    display: block
  .enter-page-title
    width: 66%
    max-width: 416px
    margin: 0 auto
    font-weight: 500
  .registration-form-title-wrapper
    //position: absolute
    top: 0px
    width: 99.99%
    box-sizing: border-box
    padding: 20px
    text-align: left
    background-color: $registration-header-background-desktop
    border-bottom: 1px solid #DBDBDB
    display: block
  .registration-form-title
    position: static
    text-transform: none
    font-size: 1.8em
    font-family: $registration-font-family-light
    font-weight: 300
  .registration-page-form
    width: 256px
    position: relative
    margin: 1em auto
    min-height: $registration-step-btn-desktop-width + $grid-gutter-width
  .registration-choose-avatar
    width: 85px
    height: 85px
  .main-logo
    width: 75px
    height: 31px
  .registration-step1-form-group
    padding-top: 20%


