---
layout: upgrade
---

.upgrade-block-inner
  %h1.upgrade-block-header Вы используете устаревший браузер
  %p
    Вы пользуетесь устаревшим браузером, который не поддерживает современные веб-стандарты,
    чтобы использовать возможности сайта, загрузите и установите последнюю версию одного из этих браузеров:
  %ul
    %li.upgrade-block-chrome{ style: 'background: url(/images/upgrade/background_browser.gif) 0% 0% no-repeat scroll transparent;' }
      %a.upgrade-block-icon{ href: 'http://www.google.com/chrome/' }
        %img{ src: '/images/upgrade/browser_chrome.gif' }
      .upgrade-block-browser-link
        %a{ href: 'http://www.google.com/chrome/' } Google Chrome
    %li.upgrade-block-firefox{ style: 'background: url(/images/upgrade/background_browser.gif) 0% 0% no-repeat scroll transparent;' }
      %a.upgrade-block-icon{ href: 'http://www.mozilla.com/firefox/' }
        %img{ src: '/images/upgrade/browser_firefox.gif' }
      .upgrade-block-browser-link
        %a{ href: 'http://www.mozilla.com/firefox/' } Mozilla Firefox
    %li.upgrade-block-msie{ style: 'background: url(/images/upgrade/background_browser.gif) 0% 0% no-repeat scroll transparent;' }
      %a.upgrade-block-icon{ href: 'http://www.microsoft.com/windows/Internet-explorer/' }
        %img{ src: '/images/upgrade/browser_msie.gif' }
      .upgrade-block-browser-link
        %a{ href: 'http://www.microsoft.com/windows/Internet-explorer/' } Internet Explorer
    %li.upgrade-block-safari{ style: 'background: url(/images/upgrade/background_browser.gif) 0% 0% no-repeat scroll transparent;' }
      %a.upgrade-block-icon{ href: 'http://www.apple.com/safari/download/' }
        %img{ src: '/images/upgrade/browser_safari.gif' }
      .upgrade-block-browser-link
        %a{ href: 'http://www.apple.com/safari/download/' } Safari
    %li.upgrade-block-opera{ style: 'background: url(/images/upgrade/background_browser.gif) 0% 0% no-repeat scroll transparent;' }
      %a.upgrade-block-icon{ href: 'http://www.opera.com/download/' }
        %img{ src: '/images/upgrade/browser_opera.gif' }
      .upgrade-block-browser-link
        %a{ href: 'http://www.opera.com/download/' } Opera
  .upgrade-block-close