@import "jquery.atwho";

.atwho-view {
  ul {
    overflow: hidden;
    white-space: nowrap;
    max-width: 30em;
    &:hover {
      overflow: visible;
      max-width: 50em;
    }
    li {
      img {
        &.avatar {
          margin-right: 0.5em;
          height: 18px;
          vertical-align: bottom;
        }
      }
    }
  }
}

span.mention {
  border-radius: 5px;
  padding: 2px;
  border-width: 1px;
  border-style: solid;
  &.people {
    border-color: #358bae;
    background: white;
    color: #358bae;
    &.highlight {
      background: #358bae;
      color: white;
    }
  }
}
