%section.tasks-filters-column.filters-column.filters-label.section-navigation{role: "tasks-filter"}
  %ul.with-subfolders.tasks-filter{"data-channel" => "presence-203:base_tasks"}
    %li.folder.actual.active{"data-params" => "{\"folder\":\"actual\"}", role: "folder"}
      %a Задачи
    %li.folder.inbox{"data-params" => "{\"folder\":\"inbox\"}", :role => "folder"}
      %a{"data-original-title" => "Задачи, которые поставлены Вам", "data-placement" => "right", "role-bootstrap-tooltip" => "ready", :title => ""}
        Входящие
      %span.counter.filter-item-counter.overview{"data-params" => "{\"by_status\":\"new\",\"folder\":\"inbox\"}", "data-url" => "/tasks", :role => "counter", :style => "display: inline-block;"} 2
    %li.folder.overdue{"data-params" => "{\"folder\":\"inbox\"}", :role => "folder"}
      %a{"data-original-title" => "Задачи, которые поставлены Вам", "data-placement" => "right", "role-bootstrap-tooltip" => "ready", :title => ""}
        Просроченные
      %span.counter.filter-item-counter.overview{"data-params" => "{\"by_status\":\"new\",\"folder\":\"inbox\"}", "data-url" => "/tasks", :role => "counter", :style => "display: inline-block;"} 2
    %li.folder.outbox{"data-params" => "{\"folder\":\"outbox\"}", role: "folder"}
      %a Исходящие
      %span.counter.filter-item-counter{"data-params" => "{\"by_statuses\":[\"completed\",\"refused\"],\"folder\":\"outbox\"}", role: "counter", type: "to-accept-tasks"} 0
    %li.folder.watchable{"data-params" => "{\"folder\":\"watchable\"}", role: "folder"}
      %a Наблюдаемые
    %li.folder{"data-params" => "{\"folder\":\"watchable\"}", role: "folder"}
      %a На согласовании
      %span.counter.filter-item-counter.overview{"data-params" => "{\"by_status\":\"new\",\"folder\":\"inbox\"}", "data-url" => "/tasks", :role => "counter", :style => "display: inline-block;"} 1
    %li.folder.archive{"data-params" => "{\"folder\":\"archive\"}", role: "folder"}
      %a Архив
    %li.folder.templates{"data-params" => "{\"folder\":\"templates\"}", role: "folder"}
      %a Шаблоны
  -# TODO refactor
    %ul.tasks-filter.filters-column-list{"data-channel" => "presence-203:base_tasks"}
      %li.actual.active{"data-params" => "{\"folder\":\"actual\"}", role: "folder"}
        %a Задачи
      %li.inbox{"data-params" => "{\"folder\":\"inbox\"}", role: "folder"}
        %a Входящие
        %span.counter{"data-params" => "{\"by_status\":\"new\",\"folder\":\"inbox\"}", role: "counter", type: "new-tasks"} 0
      %li.outbox{"data-params" => "{\"folder\":\"outbox\"}", role: "folder"}
        %a Исходящие
        %span.counter{"data-params" => "{\"by_statuses\":[\"completed\",\"refused\"],\"folder\":\"outbox\"}", role: "counter", type: "to-accept-tasks"} 0
      %li.watchable{"data-params" => "{\"folder\":\"watchable\"}", role: "folder"}
        %a Наблюдаемые
      %li.archive{"data-params" => "{\"folder\":\"archive\"}", role: "folder"}
        %a Архив
      %li.templates{"data-params" => "{\"folder\":\"templates\"}", role: "folder"}
    -# //refactor
      %a Шаблоны
  .task-categories{role: "task-categories-filter"}
    %span{role: "expander"}
      Категории
      %i.fa.fa-angle-right
  -#
    .form-horizontal{"role-tasks-categories-search" => "ready", style: 'display: block;'}
      .form-group
        .col-xs-11{:role => "categories-search-container"}
          .form-group{"data-reactid" => ".2", :style => "line-height:20px;margin:0;width:100%;"}
            %form.input-group{"data-reactid" => ".2.0"}
              %input.form-control{"data-reactid" => ".2.0.0", "data-test-global-search-field" => "true", :name => "query", :placeholder => "Поиск по категориям", :type => "search", :value => ""}/
              .input-group-btn{"data-reactid" => ".2.0.1"}
                %span{"data-reactid" => ".2.0.1.0"}
                %a.btn.btn-default{"data-reactid" => ".2.0.1.1", "data-test-global-search-btn" => "true", :style => "height:30px;"}
                  %i.fa.fa-search{"data-reactid" => ".2.0.1.1.0"}
      %div{:role => "categories-list"}
        .form-group.form-group-sm{"data-category" => "ткачев", :role => "category"}
          .col-sm-9.small
            .checkbox
              %label
                %input{:type => "checkbox"}/
                ткачев
          .col-sm-3.small
            %span{"data-params" => "categories=%D1%82%D0%BA%D0%B0%D1%87%D0%B5%D0%B2", "data-url" => "/error_reports"}
              4
        .form-group.form-group-sm{"data-category" => "отчет", :role => "category"}
          .col-sm-9.small
            .checkbox
              %label
                %input{:type => "checkbox"}/
                отчет
          .col-sm-3.small
            %span{"data-params" => "categories=%D0%BE%D1%82%D1%87%D0%B5%D1%82", "data-url" => "/error_reports"}
              2
        .form-group.form-group-sm{"data-category" => "документы ткачев", :role => "category"}
          .col-sm-9.small
            .checkbox
              %label
                %input{:type => "checkbox"}/
                документы ткачев
          .col-sm-3.small
            %span{"data-params" => "categories=%D0%B4%D0%BE%D0%BA%D1%83%D0%BC%D0%B5%D0%BD%D1%82%D1%8B+%D1%82%D0%BA%D0%B0%D1%87%D0%B5%D0%B2", "data-url" => "/error_reports"}
              2
