---
body_class: tasks-index
---

= partial 'shared/header'
.content.content-global.display-mode.display-mode-initialized{"data-initial-action" => "index", filters: "true", full_view: "true", list: "true", view: "false"}
  = partial 'shared/navigation'
  %div{"data-scope" => "personal", "role-ready" => "tasks-list-manager"}
  %section.tasks-filters-column.filters-column.filters-label.section-navigation{role: "tasks-filter"}
    %ul.with-subfolders.tasks-filter{"data-channel" => "presence-203:base_tasks"}
      %li.folder.actual.active{"data-params" => "{\"folder\":\"actual\"}", role: "folder"}
        %a Задачи
      %li.folder.inbox{"data-params" => "{\"folder\":\"inbox\"}", role: "folder"}
        %a Входящие
        %span.counter{"data-params" => "{\"by_status\":\"new\",\"folder\":\"inbox\"}", role: "counter", type: "new-tasks"} 0
      %li.folder.outbox{"data-params" => "{\"folder\":\"outbox\"}", role: "folder"}
        %a Исходящие
        %span.counter{"data-params" => "{\"by_statuses\":[\"completed\",\"refused\"],\"folder\":\"outbox\"}", role: "counter", type: "to-accept-tasks"} 0
      %li.folder.watchable{"data-params" => "{\"folder\":\"watchable\"}", role: "folder"}
        %a Наблюдаемые
      %li.folder.archive{"data-params" => "{\"folder\":\"archive\"}", role: "folder"}
        %a Архив
      %li.folder.templates{"data-params" => "{\"folder\":\"templates\"}", role: "folder"}
        %a Шаблоны
    .task-categories{role: "task-categories-filter"}
      %span{role: "expander"}
        Категории
        %i.fa.fa-angle-right
      .form-horizontal
  %section.list-column.tasks-list-column.form-container-compact{role: "tasks-list-scroll-container"}
    .form-group{"data-channel" => "presence-203:base_tasks", "data-url" => "/tasks/list_panel", role: "tasks-list-panel"}
      .page-title.mbm
        .pull-left
          %h2
            Актуальные задачи
            %small 2
        .pull-right
          %a.btn.btn-default{href: "/tasks/new"}
            %span.fa.fa-plus-circle
            Добавить задачу
      .form-group
        .form-field
          .form-group
            .row
              .col-md-3
                %select#status.form-control{"data-param" => "by_status", name: "status", role: "simple-filter"}
                  %option{selected: "selected", value: ""} Все статусы
                  %option{disabled: "disabled", value: "new"} Новые
                  %option{disabled: "disabled", value: "browsed"} Просмотренные
                  %option{value: "in_work"} В работе - 2
                  %option{disabled: "disabled", value: "refused"} Отказанные
                  %option{disabled: "disabled", value: "completed"} Ждут подтверждения
                  %option{disabled: "disabled", value: "accepted"} Выполненные
                  %option{disabled: "disabled", value: "declined"} Не принятые
                  %option{disabled: "disabled", value: "canceled"} Отмененные
              .col-md-3
                %select#community_id.form-control{"data-param" => "by_community", name: "community_id", role: "simple-filter"}
                  %option{selected: "selected", value: ""} Все сообщества
                  %option{value: "290"} Личные задачи - 2
          .form-group.form-group-sm
            .row
              .col-md-3
                .input-group.input-group-sm
                  %span.text-muted.control-label Группировать:
                  %select#group_by.form-control{"data-param" => "group_by", name: "group_by", role: "grouper"}
                    %option{selected: "selected", value: ""} Без группировки
                    %option{value: "favorite"} По важности
                    %option{value: "deadline"} По дедлайну
                    %option{value: "projects_u"} По проектам
              .col-md-3.pull-right{role: "tasks-sorted-panel"}
                %span.text-muted.control-label Сортировать:
                .input-group-above.input-group-sm{role: "sorter"}
                  %select#sort.form-control{"data-param" => "sort", name: "sort", role: "sorter-value"}
                    %option{value: "id"} По номеру
                    %option{value: "updated_at"} По последней активности
                    %option{value: "end_date"} По дедлайну
                  .input-group-addon.btn{"data-direction" => "desc", role: "sorter-direction"}
                    %a.fa.fa-sort-amount-desc{href: "#"}
    .form-group{"data-url" => "/tasks", role: "tasks-list", "test-tasks-list" => ""}
      .form-group{group: "all_tasks", role: "grouped-tasks"}
        %h4.task-group-title Все задачи
        .task-box{"data-group-id" => "all_tasks", "data-group-title" => "Все задачи", "data-href" => "http://edge.iq300.ru/tasks/2317", role: "task-item", "test-task" => ""}
          .row
            .col-md-7
              %h4.fa.text-warning.fa-star-o{"data-url" => "/favorites?base_task_id=2317", role: "favorite-list-view"}
              %h4.task-box-title-block
                %span.title{"test-task-title" => ""} Добавить сотрудников в новое сообщество
              .text-muted
                Личная задача
                | Изменилась 13 авг.
            .col-md-3
              %h4.task-box-title-block
                %span.small #2317
                %span
                →
                %small
                  %a.user.task-box-user{"data-href" => "/users/203", role: "user"}
                    Мне
            .col-md-2
              .task-box-status-block
                .status-date.task-box-status-date
                  %span.day
                    19
                  %span.month
                    Август
                  %sup.task-box-status-date-days
                    6 дн.
                %br.visible-md.visible-lg/
                .label.label-warning В работе
                .clearfix
        .task-box{"data-group-id" => "all_tasks", "data-group-title" => "Все задачи", "data-href" => "http://edge.iq300.ru/tasks/2316", role: "task-item", "test-task" => ""}
          .row
            .col-md-7
              %h4.fa.text-warning.fa-star-o{"data-url" => "/favorites?base_task_id=2316", role: "favorite-list-view"}
              %h4.task-box-title-block
                %span.title{"test-task-title" => ""} Заполнить профиль
              .text-muted
                Личная задача
                | Изменилась 12 авг.
            .col-md-3
              %h4.task-box-title-block
                %span.small #2316
                %span
                →
                %small
                  %a.user.task-box-user{"data-href" => "/users/203", role: "user"}
                    Мне
            .col-md-2
              .task-box-status-block
                .status-date.task-box-status-date
                  %span.day
                    19
                  %span.month
                    Август
                  %sup.task-box-status-date-days
                    6 дн.
                %br.visible-md.visible-lg/
                .label.label-warning В работе
                .clearfix
/ = render 'shared/footer'
