---
body_class: tasks-index
layout: application_modular
nav_item: tasks
---

- content_for :filters_column do
  = partial 'tasks/filters'

- content_for :top_panel do
  .top-panel-container
    = partial 'tasks/list/list_panel'

%section.list-column.tasks-list-column.form-container-compact{role: "tasks-list-scroll-container"}
  .form-group{"data-url" => "/tasks", role: "tasks-list", "test-tasks-list" => ""}
    .form-group{group: "all_tasks", role: "grouped-tasks"}
      = partial 'tasks/list'


/ = render 'shared/footer'
