---
body_class: tasks-index
---

= partial 'shared/header'
.content.content-global.display-mode.display-mode-initialized{"data-initial-action" => "show", :filters => "false", :full_view => "true", :list => "false", :view => "true"}
  %section.top-panel
    .pull-left
      %a.navigation{:href => "#", :onclick => "$('#container').removeClass('show-filters show-list').toggleClass('show-navigation'); return false;"}
        %i.icon-reorder
      %a.btn.btn-lg{:href => "/tasks"}
        %span.fa.fa-reply
        Список задач
  %nav.nav-global.menu-list.menu-list-initialized{"data-channel" => "presence-5:notifications", "data-remote" => "true"}
    .logo
      %a{:href => "/", :title => "IQ300 System"}
        %img.image-x1.img-corrector-initialized{:alt => "IQ300", :src => "/assets/logo_x1_new.png"}/
        %img.image-x2.img-corrector-initialized{:alt => "IQ300", :src => "/assets/logo_x2_new.png"}/
    %ul
      %li.menu-item.notifications{"data-params" => "{\"folder\":\"new\"}", "data-url" => "/notifications"}
        .html-notifier.html-notifier-initialized{"data-channel" => "presence-5:notifications", "data-redirect-url" => "/notifications?folder=new", "data-url" => "/notifications.count?folder=new"}
          %audio#notice-audio
            %source{:src => "/audios/notify.wav", :type => "audio/wav"}
        %a{:href => "/notifications"}
          .picture
            %i.icon-bell
            %sup 1
          %span Уведомления
      %li.active.menu-item.tasks{"data-params" => "{\"overview\":5}", "data-url" => "/tasks"}
        %a{:href => "/tasks"}
          .picture
            %i.icon-list-alt
            %sup 4
          %span Задачи
      %li.menu-item.projects.not-initialize{"data-params" => "null", "data-url" => "/projects"}
        %a{:href => "/projects?folder=in_work"}
          .picture
            %i.icon-books
          %span Проекты
      %li.menu-item.calendars.not-initialize{"data-params" => "null", "data-url" => "/calendar"}
        %a{:href => "/calendar"}
          .picture
            %i.icon-calendar
          %span Календарь
      %li.menu-item.communities.not-initialize{"data-params" => "null", "data-url" => "/communities"}
        %a{:href => "/communities?folder=my"}
          .picture
            %i.icon-briefcase
          %span Сообщества
      %li.menu-item.docs.not-initialize{"data-params" => "null", "data-url" => "/docs"}
        %a{:href => "/docs?folder=my"}
          .picture
            %i.icon-paste
          %span Документы
      %li.menu-item.conversations{"data-params" => "{\"folder\":\"new\"}", "data-url" => "/conversations"}
        %a{:href => "/conversations"}
          .picture
            %i.icon-comment-alt
          %span Сообщения
      %li.menu-item.contacts.not-initialize{"data-params" => "null", "data-url" => "/contacts"}
        %a{:href => "/contacts?folder=all"}
          .picture
            %i.icon-group
          %span Контакты
  %section.tasks-filters-column.filters-column.filters-label.section-navigation{:role => "tasks-filter"}
    %ul.with-subfolders.tasks-filter{"data-channel" => "presence-5:base_tasks"}
      %li.folder.actual{"data-params" => "{\"folder\":\"actual\"}", :role => "folder"}
        %a Задачи
      %li.folder.inbox{"data-params" => "{\"folder\":\"inbox\"}", :role => "folder"}
        %a Входящие
        %span.counter{"data-params" => "{\"by_status\":\"new\",\"folder\":\"inbox\"}", :role => "counter", :type => "new-tasks"}
      %li.folder.outbox{"data-params" => "{\"folder\":\"outbox\"}", :role => "folder"}
        %a Исходящие
        %span.counter{"data-params" => "{\"by_statuses\":[\"completed\",\"refused\"],\"folder\":\"outbox\"}", :role => "counter", :type => "to-accept-tasks"}
      %li.folder.watchable{"data-params" => "{\"folder\":\"watchable\"}", :role => "folder"}
        %a Наблюдаемые
      %li.folder.archive{"data-params" => "{\"folder\":\"archive\"}", :role => "folder"}
        %a Архив
      %li.folder.templates{"data-params" => "{\"folder\":\"templates\"}", :role => "folder"}
        %a Шаблоны
    .task-categories{:role => "task-categories-filter"}
      %span{:role => "expander"}
        Категории
        %i.fa.fa-angle-right
      .form-horizontal
        .form-group.form-group-sm{"data-category" => "dvdsvdsv", :role => "category"}
          .col-sm-9.small
            .checkbox
              %label
                %input{:type => "checkbox"}/
                dvdsvdsv
          .col-sm-3.small
            %span{"data-params" => "categories=dvdsvdsv", "data-url" => "/error_reports"}
              2
        .form-group.form-group-sm{"data-category" => "juinoi", :role => "category"}
          .col-sm-9.small
            .checkbox
              %label
                %input{:type => "checkbox"}/
                juinoi
          .col-sm-3.small
            %span{"data-params" => "categories=juinoi", "data-url" => "/error_reports"}
              2
        .form-group.form-group-sm{"data-category" => "ijoijo", :role => "category"}
          .col-sm-9.small
            .checkbox
              %label
                %input{:type => "checkbox"}/
                ijoijo
          .col-sm-3.small
            %span{"data-params" => "categories=ijoijo", "data-url" => "/error_reports"}
              1
        .form-group.form-group-sm{"data-category" => "ewfewf", :role => "category"}
          .col-sm-9.small
            .checkbox
              %label
                %input{:type => "checkbox"}/
                ewfewf
          .col-sm-3.small
            %span{"data-params" => "categories=ewfewf", "data-url" => "/error_reports"}
              1
        .form-group.form-group-sm{"data-category" => "111", :role => "category"}
          .col-sm-9.small
            .checkbox
              %label
                %input{:type => "checkbox"}/
                111
          .col-sm-3.small
            %span{"data-params" => "categories=111", "data-url" => "/error_reports"}
              1
  %section.view-column.task-view-column.task-view-column-initialized{"data-channel" => "private-base_task-121:create,update,destroy", "data-channel-template" => "private-base_task-%id%:update", "data-status" => "browsed", "data-url" => "/tasks/121", "test-task-view" => ""}
    .form-container
      .page-title
        .pull-left.title
          %h3.task-title
            .favorite.favorite-view.favorite-view-initialized
              %a{"data-method" => "put", :href => "/favorites?base_task_id=121", :rel => "nofollow"}
                %span.fa.fa-big.icon-star-empty.text-warning
            %span fdvfdvfdvfd
          .bread-crumbs
            %a{:href => "/users/5"} Эльвир Нуриахметов
            %span.fa.fa-long-arrow-right
            %a{:href => "/users/6"} Влад Никошнов
        .pull-right.task-status
          .status-box
            .status-label.bg-info{"test-task-status" => ""}
              Просмотрена
            .status-label.bg-danger
              %span
                Просрочена
                %br/
                на 2 дня
            .status-date
              .day
                18
              .month
                Августа
    %ul.nav.nav-tabs.tabnav{"data-channel" => "presence-5:base_task-121", "data-container" => ".tab-content", "data-read-changes-url" => "/changes/read?base_task_id=121", "role-ready" => "tabnav", "test-tabnav" => ""}
      %li.active{"data-changes" => "base_tasks,todo_items,attachment_links"}
        %a{"data-target" => "task-details", :href => "/tasks/121"}
          Детали
          %span.badge{:role => "counter"}
      %li#accessor_users_tab{"data-changes" => "accessor_users"}
        %a{"data-class" => "accessor-users-view", "data-target" => "task_accessor_users", :href => "/tasks/121/accessor_users"}
          Участники
          %span.badge{:role => "counter"}
      %li
        %a{"data-target" => "task_activities", :href => "/tasks/121/activities?initial=true"} История
      %li.discussion.discussion-initialized{"data-changes" => "comments"}
        %a{"data-target" => "task-discussions", :href => "/tasks/121/discussion?initial=true"}
          Обсуждения
          %span.badge{:role => "counter"} 1
    .tab-content
      #task-details.tab-pane.active
        .row
          .resource-watcher-subscription.resource-watcher-subscription-initialized{"data-url" => "/subscriptions?task_decorator_id=121"}
            %label.checkbox{:title => "Вы не можете отписаться от уведомлений"}
              %input#subscribe{:checked => "checked", :disabled => "disabled", :name => "subscribe", :type => "checkbox", :value => "1"}/
              %i
              Следить за изменениями
        .form-group.events{:role => "actions-field", :style => "display: block;"}
          .form-field
            .pull-left
              .group
                %a.btn.btn-default.action.force_accept{:href => "/tasks/121/change_status?do=force_accept", :role => "action"} Принять как выполненную
                %a.btn.btn-default.action.cancel{"data-confirm" => "Вы уверены?", :href => "/tasks/121/change_status?do=cancel", :role => "action"} Отменить
            .pull-right
              %a.btn.btn-default{"data-method" => "put", :href => "/tasks/121/save_as_template", :rel => "nofollow"} Сохранить как шаблон
              %a.btn.btn-default{:href => "/tasks/121/edit"}
                %span.fa.fa-edit
                Редактировать
        .form-group.underline
          .row
            .col-md-6
              %table.table-info.table-responsive
                %tbody
                  %tr
                    %td
                      Номер задачи:
                    %td
                      121
                  %tr
                    %td
                      Сообщество:
                    %td
                      %a{:href => "/communities/8"} REC
                  %tr
                    %td
                      Создана:
                    %td
                      18 августа 2014 в 17:59
            .col-md-6
              %table.table-info.table-responsive
                %tbody
                  %tr
                  %tr
                    %td
                      Категории:
                    %td.badges-list.categories-view.categories-view-initialized
                      .label-tags
                        .add-button
                          %a.with-plus-button.add-tag{:href => "#"}
                            Добавить
                            %span
                              %i.icon-plus
                        .adding-form
                          %form.new-todo{"accept-charset" => "UTF-8", :action => "#", :method => "post"}
                            %div{:style => "margin:0;padding:0;display:inline"}
                              %input{:name => "utf8", :type => "hidden", :value => "✓"}/
                              %input{:name => "authenticity_token", :type => "hidden", :value => "axzWGG14VvSmKixUNQHEmOOUnKTdQ8z4X7tp3IX6c+I="}/
                            #s2id__name.select2-container.select2-container-multi.select-two.todo-body.select-two-initialized{:style => "width: 100%;"}
                              %ul.select2-choices
                                %li.select2-search-field
                                  %input#s2id_autogen1.select2-input.select2-default{:autocapitalize => "off", :autocomplete => "off", :autocorrect => "off", :spellcheck => "false", :style => "width: 122%;", :type => "text"}/
                              .select2-drop.select2-drop-multi.select2-display-none
                                %ul.select2-results
                            %input#_name.select-two.todo-body.select-two-initialized.select2-offscreen{"data-tags" => "[]", "data-url" => "/categories/121?task_decorator_id=121", :name => "#[name]", :placeholder => "Добавить категорию", :size => "30", :tabindex => "-1", :type => "text"}/
                            %input{:type => "reset", :value => "Отменить"}/
        .form-group.todo-list{"role-ready" => "todo-list"}
          .page-title
            .pull-left
              %h3.task-page-section-title
                Чек-лист
            .pull-right
              %span.text-muted{"data-text" => "Выполнено", :role => "progress"}
                Выполнено 0/1
              %a.add-todo.btn.btn-default.add-button{:href => "#"}
                %span.fa.fa-plus-circle
                Добавить
          %div
            %ul
              %li.todo-item.todo-item-initialized{"data-url" => "/tasks/121/todo_items/66"}
                %input#completed{:name => "completed", :type => "checkbox", :value => "1"}/
                %i
                .title wedwedewd
                %span.right
                  %a{:href => "/tasks/new?parent_id=121&todo_item_id=66", :title => "Преобразовать в задачу"}
                    %i.icon-list-alt
                  %a.edit{:href => "#", :title => "Изменить"}
                    %i.icon-pencil
                  %a.remove{"data-confirmation" => "Подтвердите действие", :title => "Удалить"}
                    %i.icon-remove
                %form#edit_todo_item_66.edit-form{"accept-charset" => "UTF-8", :action => "/tasks/121/todo_items/66", :method => "post"}
                  %div{:style => "margin:0;padding:0;display:inline"}
                    %input{:name => "utf8", :type => "hidden", :value => "✓"}/
                    %input{:name => "_method", :type => "hidden", :value => "put"}/
                    %input{:name => "authenticity_token", :type => "hidden", :value => "axzWGG14VvSmKixUNQHEmOOUnKTdQ8z4X7tp3IX6c+I="}/
                  %input#todo_item_title.todo-body{:name => "todo_item[title]", :size => "30", :type => "text", :value => "wedwedewd"}/
                  %input{:name => "commit", :type => "submit", :value => "Сохранить"}/
            .add-todo-form
              %form#new_todo_item.new-todo{"accept-charset" => "UTF-8", :action => "/tasks/121/todo_items", :method => "post", :style => "display: none;"}
                %div{:style => "margin:0;padding:0;display:inline"}
                  %input{:name => "utf8", :type => "hidden", :value => "✓"}/
                  %input{:name => "authenticity_token", :type => "hidden", :value => "axzWGG14VvSmKixUNQHEmOOUnKTdQ8z4X7tp3IX6c+I="}/
                %input#todo_item_title.todo-body{:name => "todo_item[title]", :placeholder => "Добавить пункт", :size => "30", :type => "text"}/
                %input.btn.btn-primary{:name => "commit", :type => "submit", :value => "Сохранить"}/
                %input{:type => "reset", :value => "Отменить"}/
        .form-group
          .page-title{"role-ready" => "task-attachments"}
            .pull-left
              %h3.task-page-section-title
                Файлы к задаче
              .files
                %span.attached-file{"role-ready" => "task-attachment"}
                  %a{:href => "/download?file=40160815-8048-4164-af5e-4c199d6ce5d5.png"}
                    %i.fa.fa-file-text-o.attached-file-icon
                    favicon (1).png
                  %a.attached-file-delete-btn{:href => "/tasks/121/attachments/52?file=52", :role => "remove-attachment"}
                    %i.fa.fa-times
            .pull-right
              %a.btn.btn-default{:href => "#", :role => "new-attachment-button"}
                %span.fa.fa-plus-circle
                %span.title Добавить
              .task-attachment-form
                %form{"accept-charset" => "UTF-8", :action => "/tasks/121/attachments", "data-attachment-max-size" => "50", :enctype => "multipart/form-data", :method => "post"}
                  %div{:style => "margin:0;padding:0;display:inline"}
                    %input{:name => "utf8", :type => "hidden", :value => "✓"}/
                    %input{:name => "authenticity_token", :type => "hidden", :value => "axzWGG14VvSmKixUNQHEmOOUnKTdQ8z4X7tp3IX6c+I="}/
                  %input#attachments_attributes_file.task-attachment{:name => "attachments_attributes[file]", :type => "file"}/
        .form-group{"test-subtasks" => ""}
          .page-title.mbm
            .pull-left
              %h3.task-page-section-title Подзадачи
            .pull-right
              %a.btn.btn-default{"data-original-title" => "", :href => "/tasks/new?parent_id=121", :role => "add-subtask-btn", :title => ""}
                %span.fa.fa-plus-circle
                Добавить
