---
layout: application_modular
body_class: tasks-show
nav_item: tasks
---

-# content_for :top_panel do
  = partial 'tasks/top_panel'

- content_for :back_button do
  %a.btn.btn-lg{:href => "/tasks"}
    %span.fa.fa-angle-left.icon-size-16
    Список задач

%section.view-column.task-view-column{"data-channel" => "private-base_task-65590:update", "data-channel-template" => "private-base_task-%id%:update", "data-status" => "completed", "data-url" => "/tasks/65590", "role-task-view-column" => "ready", "test-task-view" => ""}
  .form-container
    = partial 'tasks/show/title'

  %ul.nav.nav-tabs.tabnav{"data-channel" => "presence-5:base_task-121", "data-container" => ".tab-content", "data-read-changes-url" => "/changes/read?base_task_id=121", "role-ready" => "tabnav", "test-tabnav" => ""}
    %li.active{"data-changes" => "base_tasks,todo_items,attachment_links"}
      -#%a{"data-target" => "task-details", :href => "/tasks/121"}
      %a{"data-target" => "task-details", :href => "/tasks/show"}
        Детали
        %span.badge{:role => "counter"}
    %li#accessor_users_tab{"data-changes" => "accessor_users"}
      -#%a{"data-class" => "accessor-users-view", "data-target" => "task_accessor_users", :href => "/tasks/121/accessor_users"}
      %a{"data-class" => "accessor-users-view", "data-target" => "task_accessor_users", :href => "/tasks/show/accessor_users"}
        Участники
        %span.badge{:role => "counter"}
    %li
      %a{"data-target" => "task_activities", :href => "/tasks/121/activities?initial=true"} История
    %li.discussion.discussion-initialized{"data-changes" => "comments"}
      %a{"data-target" => "task-discussions", :href => "/tasks/121/discussion?initial=true"}
        Обсуждения
        %span.badge{:role => "counter"} 1
  
  .tab-content
    #task-details.tab-pane.active
      = partial 'tasks/show/details'
    



