%section.top-panel
  .container-fluid
    .notification-options
      %form.form-inline.notification-options-form
        .row
          .col-sm-3
            .form-group.top-panel-block-left
              %select{role: 'select2', style: "width: 200px;"}
                %option{selected: ''} Все сообщества
                %option{:value => "id"} Айти Челны
                %option{:value => "updated_at"} UX Fake
                %option{:value => "end_date"} Айкью 300
            -#.form-group.top-panel-block-left
              &nbsp;
              .checkbox
                %label
                  %input{type: 'checkbox'}
                  Только новые
            -#.form-group.top-panel-block-left
              &nbsp;
              %a.btn.btn-link.btn-link-plain.btn-link-primary{href: '#', role: 'tooltip'}
                %strong 
                  %i.fa.fa-check
                  Все прочитаны

          .col-sm-6.text-center
            = partial 'notifications/top_panel_filters'

          .col-sm-3.text-right
            .form-group.top-panel-block-left
              &nbsp;
              %a.btn.btn-link.btn-link-plain.btn-link-primary{href: '#', role: 'tooltip'}
                %i.fa.fa-cog
                Настройки
