---
body_class: notifications-index
---

= partial 'shared/header'
.content.content-global.display-mode{"data-initial-action" => "index", :filters => "false", :full_view => "false", :list => "true", "role-display-mode" => "ready", :view => "false"}
  = partial 'notifications/top_panel'
  = partial 'shared/navigation', locals: {active: 'notifications'}
  %section.list-column.notifications-list-column{"data-channel" => "presence-4:notifications", "data-url" => "/notifications", "role-notifications-list-column" => "ready"}
    %h4.notifications-list-column-title
      12 мая 2014
    .row
      .notification-list-item.notifications-list-item-new
        .col-md-1
          15:01
        .col-md-5
          .notification-list-item-title
            %a.notification-name
              Наладка инфраструктуры для Минкомсвязи
            %strong.notification-type
              Проект
        .col-md-6
          .notification-list-item-description
            .row
              Сменился исполнитель задачи
              %a
                Согласование Тех.задания (25 июля 15:40)
            .row
              Новый исполнитель:
              %a
                %img.notifications-list-item-user-image{src: "https://iq300.s3.amazonaws.com/uploads/user_profile/photo/398/normal_25f93167-06f4-430e-b8ab-a03310342da3.jpg"}
                Игнат Зайцев

    .row
      .notification-list-item.notifications-list-item-new
        .col-md-1
          15:01
        .col-md-5
          .notification-list-item-title
            %a.notification-name
              Наладка инфраструктуры для Минкомсвязи
            %strong.notification-type
              Проект
        .col-md-6
          .notification-list-item-description
            .row
              Новая задача
              %a
                Согласование Тех.задания (25 июля 15:40)
            .row
              %i.fa.fa-users.blue-icon
              ООО "Ромашка" &#91
              %img.notifications-list-item-user-image{src: "https://iq300.s3.amazonaws.com/uploads/user_profile/photo/1394/medium_fc37398f-9139-41cd-be1c-1d252d5f50f8.jpg"}
              %a
                Борис Сергеев
              %i.fa.fa-arrow-right.blue-icon
              %img.notifications-list-item-user-image{src: "https://iq300.s3.amazonaws.com/uploads/user_profile/photo/398/normal_25f93167-06f4-430e-b8ab-a03310342da3.jpg"}
              %a
                Игнат Зайцев
              &#93

    .row
      .notifications-list-item-unread
        .col-md-12
          Новые уведомления
          %i.fa.fa-arrow-circle-o-up.grey-icon

    .row
      .notification-list-item
        .col-md-1
          15:01
        .col-md-5
          .notification-list-item-title
            %a.notification-name
              Наладка инфраструктуры для Минкомсвязи
            %strong.notification-type
              Проект
        .col-md-6
          .notification-list-item-description
            .row
              Статус задачи
              %a Установочная встреча с клиентом
              изменен на
              %a Принята к исполнению

    %h4.notifications-list-column-title
      12 мая 2014
    .row
      .notification-list-item
        .col-md-1
          15:01
        .col-md-5
          .notification-list-item-title
            %a.notification-name
              Очень важный проект
            %strong.notification-type
              Проект
        .col-md-6
          .notification-list-item-description
            .row
              Комментарий к задаче
              %a
                Важная встреча с клиентом
            .row
              %img.notifications-list-item-user-image{src: "https://iq300.s3.amazonaws.com/uploads/user_profile/photo/1394/medium_fc37398f-9139-41cd-be1c-1d252d5f50f8.jpg"}
              %a
                Борис Иванов
              Текст комментария: Я вышел на площадь и остановился перед киоском с газированной водой. Я точно помнил, что мелочи у меня нет, и знал, что придется разменивать бумажку, и уже готовил заискивающую улыбку, потому что продавщицы газированной воды...
              %a
                Полный текст
            .row
              %a.btn.notifications-btn.btn-default
                Ответить

    .row
      .notification-list-item.notifications-list-item-new-participant
        .col-md-1
          15:01
        .col-md-5
          .notification-list-item-title
            %a.notification-name
              ООО "Ромашка"
            %strong.notification-type
              Проект
        .col-md-6
          .notification-list-item-description
            .row
              Новые участники:
            .row
              %img.notifications-list-item-user-image{src: "https://iq300.s3.amazonaws.com/uploads/user_profile/photo/398/normal_25f93167-06f4-430e-b8ab-a03310342da3.jpg"}
              %a
                Игнат Зайцев
              %img.notifications-list-item-user-image{src: "https://iq300.s3.amazonaws.com/uploads/user_profile/photo/462/normal_b95b1f99-369d-4887-b0a2-074a79430bdd.jpg"}
              %a
                Фархад Каримов

    .row
      .notification-list-item
        .col-md-1
          15:01
        .col-md-5
          .notification-list-item-title
            %a.notification-name
              Наладка инфраструктуры для Минкомсвязи
            %strong.notification-type
              Проект
        .col-md-6
          .notification-list-item-description
            .row
              Добавлены файлы:
            .row
              %a
                %i.fa.fa-file-text.blue-icon
                Имя_файла_1.doc,
              %a
                %i.fa.fa-file-text.blue-icon
                Имя_файла_2.doc,
              %a
                %i.fa.fa-file-text.blue-icon
                Имя_файла_3.doc,
              %a
                %i.fa.fa-file-text.blue-icon
                Имя_файла_4.doc

    .row
      .notification-list-item
        .col-md-1
          15:01
        .col-md-5
          .notification-list-item-title
            %a.notification-name
              Наладка инфраструктуры для Минкомсвязи
            %strong.notification-type
              Проект
        .col-md-6
          .notification-list-item-description
            .row
              Новая задача
              %a
                Согласование Тех.задания (25 июля 15:40)
            .row
              %i.fa.fa-users.blue-icon
              ООО "Ромашка" &#91
              %a
                Борис Сергеев
              %i.fa.fa-arrow-right.blue-icon
              %a
                Игнат Зайцев
              &#93

    .row
      .notification-list-item
        .col-md-1
          15:01
        .col-md-5
          .notification-list-item-title
            %a.notification-name
              Наладка инфраструктуры для Минкомсвязи
            %strong.notification-type
              Проект
        .col-md-6
          .notification-list-item-description
            .row
              Новая задача
              %a
                Согласование Тех.задания (25 июля 15:40)
            .row
              %i.fa.fa-users.blue-icon
              ООО "Ромашка" &#91
              %img.notifications-list-item-user-image{src: "https://iq300.s3.amazonaws.com/uploads/user_profile/photo/1394/medium_fc37398f-9139-41cd-be1c-1d252d5f50f8.jpg"}
              %a
                Борис Сергеев
              %i.fa.fa-arrow-right.blue-icon
              %img.notifications-list-item-user-image{src: "https://iq300.s3.amazonaws.com/uploads/user_profile/photo/398/normal_25f93167-06f4-430e-b8ab-a03310342da3.jpg"}
              %a
                Я
              &#93
            .row
              %a.btn.notifications-btn.btn-default
                Принять
              %a.btn.notifications-btn
                Отклонить

    .row
      .notification-list-item
        .col-md-1
          15:01
        .col-md-5
          .notification-list-item-title
            %a.notification-name
              ООО "Ромашка"
            %strong.notification-type
              Проект
        .col-md-6
          .notification-list-item-description
            .row
              Новый проект/сообщество
              %a
                ООО "Ромашка"
            .row
              %a.btn.notifications-btn.btn-default
                Вступить
              %a.btn.notifications-btn
                Отказаться
