---
layout: input_registration
---
.registration-page
  .registration-page-container
    .registration-page-header
      %img{src: '/images/login/logo-blue-bright.png', class: 'main-logo'}
      %p.registration-page-header-title
        Система проектного управления
    .registration-page-content
      .registration-page-body
        %img{src: '/images/login/logo-blue-bright.png', class: 'enter-logo'}
        .registration-form-title-wrapper
          %p.registration-form-title.registration-top-title
            Регистрация
        %form.registration-page-form
          .container-fluid
            .row
              .col-md-4.col-md-offset-2.col-sm-6
                .form-group
                  - "Имя, Фамилия, Название организации, Email, Пароль".split(", ").each do |input|
                    .registration-form-input-wrapper
                      %input.form-control.registration-form-input{placeholder: input}
                  .registration-form-actions
                    %a{href: '', class: 'registration-form-submit-btn'} Регистрация
              .col-md-4.col-md-offset-1.col-sm-5.col-sm-offset-1
                %p.registration-form-text Уже регистрировались?
                %a.registration-form-btn-signup{href: '/sign_up'} Войти



