---
layout: input_registration
---
.registration-page
  .registration-page-container
    .registration-page-header
      %img{src: '/images/login/logo-blue.png', class: 'main-logo'}
      %p.registration-page-header-title
        Система управления задачами и проектами
    .registration-page-body-content
      .registration-page-body
        .registration-form-title-wrapper
          %p.registration-form-title
            Забыли пароль?
        %form.registration-page-form
          %img{src: '/images/login/logo-blue.png', class: 'enter-logo'}
          .form-group
            .registration-form-input-wrapper
              %input.form-control.registration-form-input{placeholder: ''}
          .buttons
            %a{href: '', class: 'btn one-big-btn'} Выслать мне инструкцию
        .registration-page-body-footer

        .registration-page-footer
          .enter-container-centered
            %p.registration-enter-title
              Если у вас что-то не получается, напишите нам
              %a{href: '', class: 'enter-blue-link'} support@iq300.ru
