---
body_class: calendar-show
nav_item: calendar
layout: application_modular
---

- content_for :top_panel do
  .top-panel-container
    .list-panel-container
      .container-fluid
        = partial 'calendar/list_panel'

- content_for :body do
  = partial 'calendar/event_modal'

%section.calendar-content-column{"data-channel" => "private-project-879:update", "data-channel-template" => "private-project-%id%:update", "data-id" => "879", "data-url" => "/projects"}
  .calendar-block-container{role: 'calendar-container'}
    .calendar-block{role: 'fullcalendar', data: {'events' => "#{build? ? '../events.json' : '/events.json'}"}}


