#community-contracts, .community-contracts-modal, .community-tasks-modal {
  .status {
    padding-top: 8px;
    span {
      padding: 0 6px;
      line-height: 18px;
      color: white;
      background: #8d8d8d;
      max-width: 87%;
      @include inline-block;
      @include truncate;
    }
  }
  nav {
    margin-bottom: 22px;
    ul {
      @extend %small-tabs;
    }
  }
  p {
    margin-bottom: 22px;
  }
  table {
    width: 100%;
    @extend %simple-table;
    color: #666666;
    th, td {
      padding-top: 8px;
      padding-bottom: 8px;
    }
    th.date {
      width: 115px;
    }
  }
}
