#community-tab-pane
  #community-services
    .message-success
      color: green
    .task-form-section
      padding: 0
      .buttons
        margin-top: 20px
    ul
      li
        a.close
          width: 12px
          height: 12px
          padding: 0
          vertical-align: middle
          background-image: url("gtk_close.png")
          background-color: white
    .status-message
      margin-top: 15px
      margin-bottom: 5px
