.community-roles-table-item
  border-bottom: 1px solid #e6e6e6
  padding: 10px 0

.community-roles-table-checkbox
  width: 100px
  vertical-align: middle

.community-roles-table-cell-owner
  background-color: $brand-beige-light

.community-roles-table-cell-admin
  background-color: $green-pale

.community-roles-select-owner
  background-color: $brand-danger
  border-color: $brand-danger
  color: #fff
  font-weight: bold

