.search-user-for-community
  position: absolute
  display: none
  top: inherit
  left: inherit
  width: 358px
  margin-top: 15px
  padding: 15px 14px
  z-index: 200
  +bordered
  background: white
  +box-shadow(0px 2px 9px rgba(0, 0, 0, 0.2))
  +translate3d(0,0,0)
  &.create-contact-window
    width: 358px
  &:not(.without-left-pimp)
    @extend %has-top-left-pimp
  &.shown
    display: block
  .invite-by-email
    display: none
    margin-top: 10px
    margin-left: 40px
    +button($brand-success)
    font-size: 0.8em
    cursor: pointer
  p
    margin: 0
    color: #666666
    ~ p
      margin-top: 8px
  input[type=text], input[type=email]
    @extend %full-width-input
    display: block
  input[type=submit]
    +inline-block
    margin: 0
    +button(#348dad)
  ~ section.search-user-for-community
    z-index: 201
  .twitter-typeahead
    width: 100%
    > input#search
      width: 357px !important
  > form
    > button[type=submit]
      width: 36px
      height: 36px
      color: #666666
      font-size: 15px
      margin-left: 23px
      padding: 0
      background: white
      border: none
  .results
    max-height: 333px
    overflow-y: auto
    ul
      margin-top: 4px
      li
        padding-top: 4px
        //:padding-bottom 6px
        +bordered-bottom
        &.contact-exists
          background-color: #f1f5f6
          > form > button
            background-color: #f1f5f6
        .user
          margin-bottom: 0px !important
        .user-email
          display: inline-block
          overflow: hidden
          white-space: nowrap
          text-overflow: ellipsis
          color: $notification
          &.name
            width: 144px
            font-weight: bold
            padding-left: 11px
          &.email
            width: 125px
            font-size: 11px
        .user-invite-button
          float: right
          width: 36px
          border: none
          background: none
          margin-top: 10px
          padding: 0
          color: $invite-button-color
          &[name=commit]
            cursor: pointer
            color: $brand-primary
            font-size: 15px
            &:hover
              background-color: $input-bg
              color: #1abc9c
