.community-profile-header-image
  @extend .media

.community-profile-header-image-block
  @extend .pull-left
  margin-right: $grid-gutter-width/2

.community-profile-header-content
  @extend .media-body

.community-profile-header-image
  width: $grid-gutter-width*2

.community-profile-header-title
  margin-bottom: $grid-gutter-width/3

.community-tariff-progress
  @extend .progress
  margin:
    top: 0
    bottom: 0.5em

.community-tariff-counter
  display: inline-block
  width: 80px

.community-profile-today
  padding:
    top: $grid-gutter-width/2
    bottom: $grid-gutter-width/2
