section.invite-participiant
  margin-bottom: 30px
  > a
    border-right: 1px solid $borderColor
    text-decoration: none
    i
      font-size: 15px
      line-height: 14px
      position: relative
      top: 3px
  > a.add-button
    padding: 12px 10px
    line-height: 20px
    font-size: 13px
    background: #3ab54a
    text-align: center
    color: white
    font-weight: bold
    &:hover
      background-color: darken(#3ab54a, 0.5)
