$notifications-list-update-btn-width: 200px
$notifications-list-update-btn-height: 30px

%notification-list-item-btn
  display: inline-block
  +transition(color 0.3s ease, background 0.3s ease)

.notification-list-item-block
  +translate3d(0, 0, 0)

.notification-list-item-block-card
  position: relative
  margin-bottom: $grid-gutter-width / 3

.notifications-list-column-title
  font-size: $font-size-large
  padding: $grid-gutter-width / 2
  //border-bottom: 1px solid $line-color

.notification-list-item
  @extend %task-box-style
  font-size: $font-size-base
  padding:
    top: 10px
    bottom: 10px
    left: $grid-gutter-width / 2
    right: $grid-gutter-width / 2
  +transition(border 0.3s ease, background 0.3s ease, box-shadow 0.3s ease)

.notification-name
  word-wrap: break-word

.notification-list-item-group
  margin:
    left: $grid-gutter-width / 2
    bottom: $grid-gutter-width / 2

.notifications-list-item-date-block
  @extend .col-md-1
  width: percentage(1/$grid-columns) - 2%
  .notification-list-item-block-important &
    width: percentage(1/$grid-columns) + 5%

.notifications-list-item-description-block
  @extend .col-md-7
  width: percentage(1/$grid-columns*7) - 3%

.notifications-list-item-title-block
  @extend .col-md-4
  width: percentage(1/$grid-columns*4) + 5%
  .notification-list-item-block-important &
    width: percentage(1/$grid-columns*4) - 9%

.notification-list-item-description
  word-wrap: break-word
  .blue-icon
    color: $navigationBackground
  .notifications-btn
    margin-top: 7px
    font-size: $font-size-small
    line-height: 13px

.notifications-list-item-user-image
  border-radius: 100%
  width: 14px
  height: 14px
  vertical-align: text-top

.notifications-list-item-new-participant
  background-color: $notificationNewParticipant

.notifications-list-item-unread
  font-size: $font-size-small
  text-align: center
  color: lighten($gray-light, 10%)
  .grey-icon
    color: lighten($gray-light, 10%)

.notification-list-group-item-counter
  @extend %notification-list-item-btn
  font-size: $font-size-small
  line-height: 1em
  padding: 3px 7px
  border-radius: $badge-border-radius
  &, &:hover, &:focus
    text-decoration: none
    color: #fff
  &, &:focus
    @each $p in background, border
      #{$p}-color: $brand-primary
  &:hover
    @each $p in background, border
      #{$p}-color: lighten($brand-primary, 10%)

.notification-list-item-open-btn
  @extend .btn
  @extend %notification-list-item-btn
  width: 26px
  height: 26px
  padding: 0
  font-size: 18px
  line-height: 25px
  border-radius: 100%
  margin-top: ($line-height-base - 1) * $font-size-base
  &, &:focus
    color: $text-color
    background-color: transparent
    border-color: lighten($gray-light, 10%)
  &:hover
    color: #fff
    @each $p in background, border
      #{$p}-color: lighten($brand-primary, 10%)

.notification-list-item-open-btn-icon
  margin-right: -2px

.notification-list-item-close-btn
  @extend .btn
  @extend .close
  position: absolute
  right: 0
  top: 0

.notifications-list-update-btn
  @extend .btn
  @extend .btn-primary
  display: inline-block
  position: fixed
  z-index: $float-btn-z-index
  left: 50%
  margin-left: - $notifications-list-update-btn-width/2
  width: $notifications-list-update-btn-width
  height: $notifications-list-update-btn-height
  border-radius: $notifications-list-update-btn-height

