.notification-list-item-block {
  @include translate3d(0,0,0);
}

.notifications-list-column-title {
  font-size: $font-size-large;
  padding: $grid-gutter-width/2;
  margin-top: $grid-gutter-width/2;
  border-bottom: 1px solid $line-color;
}

.notification-list-item {
  @extend %task-box-style;
  border-bottom-color: lighten($borderColor, 15%);
  padding: {
    top: 10px;
    bottom: 10px;
    left: $grid-gutter-width/2;
    right: $grid-gutter-width/2;
  }
}

.notification-list-item-group {
  margin: {
    left: $grid-gutter-width/2;
    bottom: $grid-gutter-width/2;
  }
}

.notification-list-item-description {
  .blue-icon {
    color: $navigationBackground;
  }
  .notifications-btn {
    margin-top: 7px;
    font-size: $font-size-small;
    line-height: 13px;
  }
}
.notifications-list-item-user-image {
  border-radius: 100%;
  width: 14px;
  height: 14px;
  vertical-align: text-top;
}
.notifications-list-item-new {
  background-color: $new-item-background;
  border-color: $new-item-border-color;
  border-bottom: 1px solid $new-item-border-color;
  &:hover {
    border-color: $item-hover-border-color;
  }
}
.notifications-list-item-new-participant {
  background-color: $notificationNewParticipant;
}
.notifications-list-item-unread {
  font-size: $font-size-small;
  text-align: center;
  color: lighten($gray-light, 10%);
  .grey-icon {
    color: lighten($gray-light, 10%);
  }
}

.notification-list-item-time {
  margin-bottom: 0.5em;
}

.notification-list-group-item-counter {
  display: inline;
  padding: 3px 7px;
  border-radius: $badge-border-radius;
  font-size: $font-size-small;
  background: none;
  color: $gray;
  border: 1px solid $gray-light;
  @include transition(width 0.3s ease);
  &:hover {
    border-color: $brand-primary;
    color: $brand-primary;
    text-decoration: none;
  }
  .notifications-list-item-new & {
    background-color: darken($new-item-border-color, 30%);
    border-color: darken($new-item-border-color, 30%);
    &, &:hover {
      color: #fff;
      background-color: $brand-primary;
      border-color: $brand-primary;
    }
  }
}
