.notifications-list-column {
  .notifications-list-column-title {
    @include bordered-bottom;
    margin: 13px 9px 0 9px;
    padding:  0 0 9px 15px;
  }
  .notification-list-item {
    @extend .row;
    border-bottom: 1px solid lighten($borderColor, 15%);
    padding: 9px 0 9px 0;
    margin: 0 25px 0 25px;
  }
  .notification-list-item-title {
    .notification-name, .notification-type {
      display: block;
    }
    .notification-type {
      color: $gray-light;
    }
  }
  .notification-list-item-description {
    .blue-icon {
      color: $navigationBackground;
    }
    .notifications-btn {
      margin-top: 7px;
      font-size: $font-size-small;
      line-height: 13px;
    }
  }
  .notifications-list-item-user-image {
    border-radius: 100%;
    width: 14px;
    height: 14px;
    vertical-align: text-top;
  }
  .notifications-list-item-new {
    background-color: saturate(lighten($contentBackgroundColor, 5), 34);
  }
  .notifications-list-item-new-participant {
    background-color: $notificationNewParticipant;
  }
  .notifications-list-item-unread {
    font-size: $font-size-small;
    text-align: center;
    color: lighten($gray-light, 10%);
    .grey-icon {
      color: lighten($gray-light, 10%);
    }
  }
}