// item view
.job-view-column
  > h2
    margin-top: 15px
    margin-bottom: 15px
  > header
    > ul
      > li
        +children-inline
        color: #666666
        > label
          color: #888888
          font-weight: bold
          width: 147px
        > span
          margin-left: 10px
