.form-group{"data-channel" => "presence-203:base_tasks", "data-url" => "/tasks/list_panel", role: "tasks-list-panel"}
  .page-title.mbm
    .pull-left
      %h2
        Мои проекты
        %small 2
    -#.pull-right
      %a.btn.btn-default{href: "#"}
        %span.fa.fa-cog
        Показывать&hellip;
    -#.pull-right
      &nbsp;&nbsp;&nbsp;
    .pull-right
      %a.btn.btn-default{href: "../projects/new/"}
        %span.fa.fa-plus-circle
        Новый проект

