.col-sm-6
  .panel.panel-lg.panel-default
    .panel-heading
      %h4 Текущий баланс
    .panel-body
      .row
        .col-sm-8
          %h3
            %strong 315.98 руб.
        .col-sm-4
          .content-group-xs.pull-right
            %a.btn.btn-default
              %i.fa.fa-refresh
              Обновить
          .content-group-xs.pull-right
            %a.btn.btn-default Тарифы
          .content-group-xs.pull-right
            %a.btn.btn-primary Пополнить
  .panel.panel-lg.panel-default
    .panel-heading
      %h4 SIP-коннектор
    .panel-body
      .row
        .col-sm-8
          Для настройки оборудования у вас есть
          %strong 60
          бесплатных минут.
          .text-muted
            После окончания минут, SIP номера будут автоматически отключены до момента оплаты подключения модуля.
        .col-sm-4
          .content-group-xs.pull-right
            %a.btn.btn-primary Подключить
.col-sm-6
  .panel.panel-lg.panel-default
    .panel-heading
      %h4 Расходы на звонки
    .panel-body
      .row
        .col-sm-2
          Июнь
        .col-sm-7
          .progress
            .progress-bar.progress-bar-success{ style: 'width: 100%' }
        .col-sm-3
          311.80 руб.
        .clearfix
        .col-sm-2
          Июль
        .col-sm-7
          .progress
            .progress-bar.progress-bar-success{ style: 'width: 51%' }
        .col-sm-3
          155.80 руб.
        .clearfix
        .col-sm-2
          Август
        .col-sm-7
          .progress
            .progress-bar.progress-bar-success{ style: 'width: 10%' }
        .col-sm-3
          31.80 руб.
        .clearfix
        .col-sm-12
          %a Детализация звонков
  .panel.panel-lg.panel-default
    .panel-heading
      %h4 Запись разговоров
    .panel-body
      .row
        .col-sm-12
          .content-group-sm
            На вашем тарифном плане доступна запись
            %strong 100
            звонков в месяц, осталось
            %strong 100.
          %a Дополнительная информация