@import form
@import status-block
@import sended-invites-block

community-invites-table
  color: $link-color

.community-invites-cancel-invite-link
  color: $link-color !important
  border: 1px solid $base-color
  padding: 5px
  &:hover
    text-decoration: none
    border: 1px solid $alert-color
    border-radius: 4px
    color: $alert-color !important

.community-invites-resend-invite-link
  @extend .community-invites-cancel-invite-link
  &:hover
    border: 1px solid $blue-brand
    color: $blue-brand !important

.invite-people-list-status-invited
  +badge-style($waiting-color)

.invite-people-list-status-accepted
  +badge-style($member-color)

.invite-people-list-status-error
  color: $alert-color

.invite-people-list-status-canceled
  +badge-style($alert-color)

.community-invites-pane
  width: 90%
  margin-top: 1em
  border-radius: 4px
  border-color: $border-color
  background-color: $base-color
  border: 1px solid $border-color
