.community-invites-status-block
  margin-top: 5em
  border-top: 1px solid $border-color

.collection-action
  height: 6em
  background-color: $heads-color

.community-invites-status-list
  color: $link-color

.community-invites-status-item-head
  font-weight: bold

.community-invites-status-item-head-row
  background-color: $heads-color

.community-invites-status-item-actions-reseted
  font-style: italic

.invite-people-list-status
  width: 39.07em
