section.badges-list,.badges-list {

  > b {
    font-weight: normal;
    @include inline-block;
    margin-left: 4px;
    margin-top: 3px;
  }
  > span {
    @include inline-block(top);
    padding: 0 6px;
    height: 19px;
    line-height: 19px;
    background: #a0b9be;
    margin-left: 4px;
    a {
      @include inline-block(middle);
      line-height: 18px;
      color: white;
      text-decoration: none;
    }
    > a.delete {
      margin-left: 3px;
      margin-right: -4px;
      width: 13px;
      height: 20px;
      position: relative;
      @include transition(0.3s color);
      &:hover {
        color: #fddbdc;
      }
      @include has-after-icon(13px) {
        @extend .icon-remove:before;
        left: -1px;
        top: 2px;
      }
    }
  }
  .add-button {
    margin-left: 5px;
    @include inline-block;
    > a {
      display: block;
      > span {
        margin-top: -3px;
      }
    }
  }
  > a {
    margin-left: 4px;
  }
  .adding-form {
    display: none;
    margin-top: 8px;
    margin-bottom: 12px;
    &.shown {
      display: block;
    }
    .select2-search-field {
      width: 100%;
    }
    @extend %task-page-adding-form;
  }
}
td.badges-list.categories-view {
  width: 100%;
}

.badges-list-container {
  color: #999999;
  font-size: 12px;
  line-height: 20px;
  margin-top: 17px;
  margin-left: -4px;
  margin-bottom: 20px;
}