$community-block-height: 230px

.community-logo
  +image-holder(120px, 120px)

.community-block
  @extend .panel
  position: relative
  height: $community-block-height
  overflow: hidden
  border: solid 1px $input-border
  font-size: $font-size-base
  cursor: pointer
  &:hover
    border-color: lighten($brand-success, 15%)

.community-block-body
  @extend .panel-body
  overflow: hidden
  height: $community-block-height

.community-block-description
  line-height: 1.2em
  margin-bottom: 0.5em

.community-block-footer
  @extend .panel-footer
  position: absolute
  bottom: 0
  width: 100%
  border-top: 0
  background-color: #f1f9fd

.community-block-ribbon
  position: absolute
  right: 0
  top: 0
  width: 65px
  height: 65px
  text-align: center
  &:before
    content: ''
    display: block
    position: absolute
    right: 0
    top: 0
    width: 0
    height: 0
    border-style: solid
    border-width: 0 65px 65px 0
    border-color: transparent lighten($brand-success, 15%) transparent transparent
    border-color: rgba(255, 255, 255, 0) lighten($brand-success, 15%) rgba(255, 255, 255, 0) rgba(255, 255, 255, 0)
  &:after
    content: attr(data-text)
    color: #fff
    position: relative
    z-index: 1
    display: block
    width: 150%
    left: -10%
    top: 20%
    text-align: center
    +rotate(45deg)

.community-block-title
  margin:
    bottom: 10px
    right: 20px
  font-size: 1.5em
  line-height: 1.2

.community-block-overlay
  position: absolute
  text-align: center
  bottom: 0
  right: 0
  left: 0
  padding: 10px
  background-color: rgba(0, 0, 0, 0.7)
  border-radius: 0 0 $border-radius-base $border-radius-base

.community-profile-section
  padding: 15px 30px
  border-left: solid 5px transparent
  border-bottom: solid 1px $input-border

.community-profile-contacts
  background-color: $brand-beige
  border-left-color: $brand-primary

.community-profile-contacts-title
  margin-bottom: 15px

.community-profile-details-stats
  @extend .panel
  @extend .panel-primary

.community-profile-details-stats-heading
  @extend .panel-heading
  padding: 5px 10px

.community-profile-details-stats-title
  @extend .panel-title
  font-size: $font-size-base

.community-profile-details-stats-body
  @extend .panel-body
  text-align: center
  padding: 10px

.community-profile-details-stats-image
  width: $user-avatar-width * 2
  height: $user-avatar-width * 2
  border-radius: 50%
  border: 1px solid $line-color
