.dropdown
  &.dropdown-inline
    display: inline-block

.dropdown-menu
  .open > &,
  &.bootstrap-datetimepicker-widget
    transform: scale(1, 1) translate(0, 0)
    opacity: 1

.dropdown-menu
  transform-origin: top left
  animation-fill-mode: forwards
  transform: scale(0, 0) translate(0, 0)
  opacity: 0
  display: block
  transition: all 0.2s $transition-bounce
  &.pull-right,
  .pull-right &,
  .navbar-right &
    transform-origin: top right
  .dropup &
    +transform-origin(bottom)
    .pull-right &,
    .navbar-right &
      transform-origin: top right

.dropup > .dropdown-menu:after
  border-bottom: 0
  border-top: 6px solid $line-color
  top: auto
  display: inline-block
  bottom: -6px
  content: ''
  position: absolute
  left: 50%
  border-right: 6px solid transparent
  border-left: 6px solid transparent

