section.expandable
  margin-bottom: 19px
  > div
    display: none
  > header
    +bordered-bottom
    height: 32px
    line-height: 32px
    color: #999999
    span
      cursor: pointer
    a
      color: #328ba9
    > a.trigger
      +inline-block
      background: white
      float: right
      width: 29px
      height: 28px
      color: #999999
      +bordered
      border-bottom: none
      margin-top: 4px
      position: relative
      +has-after-icon(14px)
        @extend .icon-chevron-down:before
        top: 7px
        left: 0
        right: 0
        text-align: center
        //:color #999
    > .right
      float: right
      margin-right: 12px
      line-height: 28px
      margin-top: 4px
      +unselectable
      input
        +inline-block
        margin-left: 5px
        margin-top: 6px
        
  &.expanded
    > header > a.trigger:before
      @extend .icon-chevron-up:before
    > div
      display: block
      padding-top: 10px
