body #wrapper > header
  +clear
  margin-top: 13px
  margin-bottom: 17px
  //+children-inline
  > .logo
    float: left
    margin-left: 14px
    margin-top: 7px
    a
      color: #1e1e20
  > .search
    margin-top: 19px
    margin-right: 21px
    border: 1px solid $borderColor
    background: white
    float: right
    form
      +children-inline
    input
      // h: 26
      padding: 5px 8px 6px 8px
      margin: 5px 3px 3px 6px
      line-height: 15px
      height: 15px
      +placeholder-color($placeholderColor)
      width: 320px
      border: 1px solid $borderColor
      -webkit-box-sizing: content-box
      -moz-box-sizing: content-box
      box-sizing: content-box
      -webkit-appearance: textfield
    input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button
      -webkit-appearance: none
    button
      background: image-url("icons/search.png") no-repeat center center white
      border: 0
      padding: 0
      margin: 0
      border-left: 1px solid $borderColor
      width: 36px
      height: 36px
      cursor: pointer
  > aside.user_widget
    float: right
