$member-box-height: 168px

.member-box
  padding: $grid-gutter-width / 2 5% $grid-gutter-width / 2 0
  height: $member-box-height - $grid-gutter-width
  overflow: hidden

.member-box-avatar
  position: relative

.member-box-avatar-image
  border-radius: 50%
  border: 1px solid $line-color

.member-box-avatar-image-small
  @extend .member-box-avatar-image
  width: $user-avatar-width
  height: $user-avatar-width
