.atwho-view
  ul
    overflow: hidden
    white-space: nowrap
    max-width: 30em
    &:hover
      overflow: visible
      max-width: 50em
    li
      img
        &.avatar
          margin-right: 0.5em
          height: 18px
          vertical-align: bottom
          border-radius: 50%

span.mention
  border-radius: 5px
  padding: 2px
  border-width: 1px
  border-style: solid
  &.people
    border-color: $blue-link-color
    background: white
    color: $blue-link-color
    &.highlight
      background: $blue-link-color
      color: white
    a:hover, a
      color: inherit
