.multiselect-container.dropdown-menu
  .project-tasks-list-users-filter &
    min-width: 300px
  & > li
    &, &.active
      & > a
        background-color: transparent
        color: $text-color
  .glyphicon
    @extend .fa
  .glyphicon-remove-circle
    @extend .fa-times-circle
  .glyphicon-search
    @extend .fa-search
  .filter
    .btn,
    .form-control
      padding: ($padding-base-vertical - 1) $padding-base-horizontal
      height: $input-height-base

