.multiselect-container.dropdown-menu
  .project-tasks-list-users-filter &
    min-width: 300px
  & > li
    &, &.active
      & > a
        background-color: transparent
        color: $text-color
  .glyphicon
    @extend .fa
  .glyphicon-remove-circle
    @extend .fa-times-circle
  .glyphicon-search
    @extend .fa-search
  .filter
    .btn,
    .form-control
      padding: ($padding-base-vertical - 1) $padding-base-horizontal
      height: $input-height-base

.multiselect-container
  padding: 5px
  min-width: 250px
  max-width: 500px
  & > li
    & > a
      white-space: normal
  label
    &.radio, &.checkbox
      white-space: normal !important
  &.multiselect-color-picker-container
    min-width: 0
    & > li
      & > a
        & > label
          padding: 3px 20px

.form-inline .multiselect-container
  label
    &.checkbox,
    &.radio
      padding: 3px 20px 3px 25px
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis
  li
    a
      label
        &.checkbox input[type=checkbox],
        &.radio input[type=radio]
          margin:
            left: -20px
            right: 5px
            bottom: 0

.multiselect-option-bullet
  display: inline-block
  width: 6px
  height: 6px
  +border-radius(100%)
  background-color: $gray-light
  margin-bottom: ($font-size-base - 6px)/2 - 1px

.multiselect-color-picker-option
  display: inline-block
  width: $font-size-base
  height: $font-size-base
  +border-radius(100%)
  background-color: $gray-light

.multiselect-color-picker-option-sm
  width: $font-size-base/1.5
  height: $font-size-base/1.5

.multiselect-color-picker-list-item
  input
    display: none
  &.active .multiselect-color-picker-option,
  input:checked + .multiselect-color-picker-option
    box-shadow: 0 0 0 2px #fff, 0 0 0 3px $brand-primary

.multiselect-color-picker-list-item-radio
  padding: 5px
  cursor: pointer

.multiselect-btn
  @extend .btn
  @extend .btn-link-plain

.multiselect-block-primary
  .multiselect-btn
    @extend .btn-link-primary

.multiselect-block-default
  .multiselect-btn
    @extend .btn-link-gray

