.notice-message {
  color: darkgreen;
  position: absolute;
  left: $navColumnWidth;
  z-index: 12;
  background-color: rgba(215, 255, 225, 0.5);
  padding: 0px;
  right: 0px;
  font-size: 16px;
  line-height: 29px;
  height: 29px !important;
  overflow: hidden !important;
  text-align: center;
  a {
    color: #666666;
    position: absolute;
    right: 20px;
    top: 5px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .notice-message {
    left: 0;
  }
}
