%page-tabs-block
  margin:
    top: 1.5em
    bottom: 1em
  .nav.nav-tabs
    & > li
      & > a
        font-size: 1.1em
      &.active > a
        font-weight: bold

.page-tabs-block
  @extend %page-tabs-block
