.popover-close-btn
  @extend .btn-link-plain
  display: block
  position: absolute
  top: -15px
  right: -15px
  width: 30px
  height: 30px
  border-radius: 100%
  text-align: center
  line-height: 30px
  font:
    size: 20px
    weight: bold
  color: $gray-light
  &, &:hover, &:focus
    background-color: #fff
    border: 1px solid rgba(#000, 0.2)
  &:hover
    color: $gray

.popover-form-block
  @extend .popover
  width: 300px
  font-style: normal
  color: $text-color
  .popover-content
    padding: 0
  .checkbox
    padding:
      left: 10px
      right: 10px


.popover-form-control
  @extend .form-control
  border-radius: 0
  &, &:hover, &:focus
    border: none
    border-bottom: 1px solid $line-color
    +box-shadow(none)
  &:focus
    border-bottom-color: lighten($brand-primary, 40%)

.popover-form-text
  @extend .popover-form-control
  display: block
  height: auto

.popover-form-control-title
  font:
    size: 1.2em
    weight: bold
  height: 36px
  padding:
    top: 10px
    bottom: 10px

.popover-form-actions,
.popover-form-content-block
  padding: 10px

.popover-form-actions-bottom
  border-top: 1px solid $line-color

.popover-form-submit-btn
  @extend .btn
  @extend .btn-outline-primary

.popover-form-cancel-btn
  @extend .btn
  @extend .btn-outline-gray-light

