.search-block
  position: relative

.search-block-reset-btn
  @extend .btn-link-plain
  @extend .btn-link-gray
  position: absolute
  top: 2px
  right: 2px
  font-size: 18px
  padding: 0 6px
  &:before
    content: "\00d7"
    display: inline-block

