.nav-tabs
  & > li
    & > a
      &:hover
        color: $blue-link-color
      &.nav-tab-item-btn
        padding:
          @each $s in top, bottom
            #{$s}: nth($nav-link-padding,1) - $padding-small-vertical - 1px
          @each $s in left, right
            #{$s}: nth($nav-link-padding,1) - $padding-small-horizontal - 1px
    &.active
      & > a
        &.nav-tab-item-btn
          .nav-tab-item-btn-label
            border-color: transparent

.nav-tab-item-btn-label
  @extend .btn
  @extend .btn-outline-gray
  padding: $padding-small-vertical $padding-small-horizontal
  background-color: transparent

//@media only screen and (min-width: 320px) and (max-width: 640px)
  header.tab-navigation > ul > li > a > span
    display: none

.tab-buttons
  padding-top: 0
  padding-bottom: 0
  > li
    position: relative
    &:first-child
      &:before
        display: none
      &.active a
        border-left: 0
        padding-left: 16px
    &:before
      content: ''
      position: absolute
      top: 25%
      bottom: 25%
      left: -1px
      width: 1px
      background-color: #e8e8e8

.tab-panels
  background-color: #fff
  padding-left: $space-large
  padding-right: $space-large

.tab-content-wide
  margin-left: -$space-large
  margin-right: -$space-large
  padding-left: $space-large
  padding-right: $space-large

.comment-tab-panel
  margin-bottom: $line-height-base/2*1em
