%task-box-style
  border-left: solid 5px $item-border-color
  padding: 10px 10px 10px 25px
  //border-bottom: 1px solid $gray-lighter;
  +box-shadow(inset 0 -1px 0 $item-border-bottom-color)
  cursor: pointer
  font-size: 12px
  +clear
  +transition(all)
  &:hover
    border-left-color: $item-hover-border-color
    background-color: $item-hover-background

%task-draft-style
  border-left-color: $draft-item-border-color
  font:
    style: italic
  &, a
    color: lighten($text-color, 10%)
  &:hover
    border-left-color: $draft-item-border-color

%task-new-style
  border-left-color: $brand-primary
  background-color: $new-item-background
  &:hover
    border-left-color: $brand-primary
  .task-box-title-block
    font-weight: bold

%task-overdued-style
  border-left-color: $brand-danger
  &:hover
    border-left-color: $brand-danger

a.task-box-block-link
  color: $text-color

.task-box
  @extend %task-box-style
  &:hover
    border-top-color: transparent
    + .task-box
      border-top-color: transparent
  + .task-box
    border-top: solid 1px #eee
  > .pull-left
    white-space: nowrap
    span
      vertical-align: middle
      &.title
        max-width: 70%
        text-overflow: ellipsis
        white-space: nowrap
        overflow: hidden
        display: inline-block
    max-width: 75%
  .label, .status-date
    vertical-align: middle
  .fa-star, .icon-star-empty, .fa-star-o,
  .task-box-title-icon
    float: left
    margin: 3px 0 0 -23px
  .task-details-subtasks-list &
    padding-left: 10px
    .star-favourite
      display: none

.task-group-title
  color: #ccc
  margin: 10px

.task-box-user
  white-space: nowrap

.task-box-status-block
  text-align: center
  +center-block-container
  .project-task-box &
    &:before
      display: none
      content: none
  //@media screen and (max-width: 768px)
    text-align: left
    padding-top: 10px

.task-box-status-date,
.task-box-status-repeat
  position: relative
  +center-block-content
  display: block
  padding: 0
  min-height: 0

.task-box-status-date
  white-space: nowrap

.task-box-status-repeat
  @extend .text-muted
  padding-top: 1em

.task-box-status-date-days
  font-size: 0.8em
  //@media screen and (max-width: 768px)
    position: inherit

.task-box-status-date-hypen
  position: absolute
  margin-left: -$grid-gutter-width
  width: $grid-gutter-width
  text-align: center

.task-box-title-block
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
  margin-bottom: 0.2em

.task-title
  color: #000
  font-size: 2em
  font-weight: bold

.task-new
  @extend %task-new-style
  .task-box-title-block,
  .task-box-title-block a,
  .status-date
    color: $brand-primary
  .task-box-title-block,
  .task-box-title-block a
    font-weight: bold

.task-template
  background-color: $template-item-background
  border-left-color: $template-item-border-color
  .status-date
    color: $brand-success

.task-overdued,
.task-overdue
  @extend %task-overdued-style
  @extend %task-block-overdued
  &, &.task-new, &.task-in_work
    .task-box-title-block,
    .task-box-title-block a,
    .status-date
      color: $brand-danger

.task-in_work
  a
    color: $text-color-dark

.task-draft
  @extend %task-draft-style

.task-completed,
.task-accepted
  .title a
    color: #666
    text-decoration: line-through
    &:hover
      text-decoration: underline



.task-with-change,
.project-box-project-with-change
  background-color: $new-item-background

.task-status-badge
  padding: 2px 6px
  display: inline-block
  text-align: center
  font:
    size: 12px
    weight: 500
  background-color: $brand-status-info-light
  border-radius: 5px
  border: 2px solid rgba(#000, .1)
  color: $brand-caption-clarified
  margin-left: auto
  &.task-status-badge-overdued
    background-color: $brand-status-danger-light
  &.task-status-badge-close-deadline
    background-color: $brand-status-warning-light
  .task-status-badge-icon
    font-size: 16px
    font-weight: 600



