// new user block
$user-block-btn-width: 30px
$user-block-btn-height: $user-block-btn-width

%user-block-btn
  @extend .btn
  @extend .btn-xs
  width: $user-block-btn-width
  height: $user-block-btn-height
  line-height: $user-block-btn-height*0.9
  text-align: center
  margin:
    right: 5px

.user-block
  @extend .media

.user-block-avatar
  @extend .pull-left
  position: relative

.user-block-avatar-image
  @extend .media-object
  @extend .img-circle
  width: $user-avatar-width
  height: $user-avatar-width
  +bordered

.user-block-status-bullet
  @extend .user-status-bullet
  @extend .user-status-bullet-xs
  @extend .user-status-bullet-bottom-right
  right: 0
  bottom: 0

.user-block-content
  @extend .media-body

.user-block-content-name
  display: inline-block
  margin-right: 8px

.user-block-position
  font-size: $font-size-small
  color: $text-muted

.user-block-add-btn
  @extend %user-block-btn
  @extend .btn-outline-primary

.user-block-added-btn
  @extend %user-block-btn
  @extend .btn-outline-success

.user-block-remove-btn
  @extend %user-block-btn
  @extend .btn-outline-danger

.user-block-compose-btn
  @extend %user-block-btn
  @extend .btn-outline-primary


