.user
  +children-inline
  position: relative
  padding-top: 4px
  padding-bottom: 8px
  .avatar
    position: absolute
    top: 4px
    left: 0
    line-height: 34px
    img
      vertical-align: top
      +bordered
      max-width: $user-avatar-width
      max-height: $user-avatar-width
  .name
    padding-left: 45px
    font-size: 11px
    a
      line-height: 19px
      display: block
      font-size: 12px
    > span
      display: block
      &.online, &.offline
        margin-left: -45px
        margin-right: 10px
  &.extended
    .avatar
      line-height: 75px
      img
        max-width: 75px
        max-height: 75px
    .name
      padding-left: 86px
      .extras
        display: block
        height: 30px
        p
          +truncate
          width: 170px
          cursor: default

.user-avatar
  display: inline-block
  width: $user-avatar-width
  height: $user-avatar-width
  +border-radius(100%)
  border: 1px solid $line-color
