$user-status-bullet-size: 14px

.user-status-bullet
  display: inline-block
  vertical-align: -10%
  width: $user-status-bullet-size
  height: $user-status-bullet-size
  border-radius: 50%
  // Positions
  &.user-status-bullet-bottom-right
    position: absolute
    right: 0
    bottom: 3px
  // Sizes
  &.user-status-bullet-sm
    width: $user-status-bullet-size / 2
    height: $user-status-bullet-size / 2
  // Colors
  &.user-status-bullet-online
    background-color: $brand-success
  &.user-status-bullet-offline
    background-color: $bg-grey
  &.user-status-bullet-away
    background-color: $brand-warning
