// new user block
$user-block-btn-width: 30px
$user-block-btn-height: $user-block-btn-width

%user-block-avatar-middle
  vertical-align: middle

%user-block-btn
  @extend .btn
  @extend .btn-xs
  width: $user-block-btn-width
  height: $user-block-btn-height
  text-align: center
  margin:
    right: 5px

.user-block
  display: flex
  flex-direction: row
  padding-bottom: 10px

.user-block-inline
  @extend .user-block
  padding-bottom: 0

.user-block-avatar-block
  flex: 0 2 auto
  order: 1
  margin-right: 10px

.user-block-content
  flex: 2 1 auto
  order: 2
  overflow: hidden
  padding-left: 10px
  &.user-block-content-centered
    justify-content: center
    display: flex
    flex-direction: column
    overflow: visible
    .user-block-content-name
      overflow: visible
      vertical-align: middle

.user-block-actions
  flex: 0 0 auto
  order: 3

.user-block-avatar
  display: inline-block
  position: relative

.user-block-avatar-image
  @extend .media-object
  @extend .img-circle
  width: $user-avatar-width
  height: $user-avatar-width
  +bordered

.user-block-avatar-image-inline
  @extend %user-block-avatar-middle
  display: inline-block

.user-block-avatar-image-xs
  width: $user-avatar-width-xs
  height: $user-avatar-width-xs

.user-block-status-bullet
  @extend .user-status-bullet
  @extend .user-status-bullet-xs
  @extend .user-status-bullet-bottom-right
  right: 0
  bottom: 0

.user-block-content-name
  display: inline-block
  margin-right: 8px
  &, &:hover
    text-decoration: none

.user-block-content-name-line
  display: block
  max-width: 100%
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

.user-block-position
  font-size: $font-size-small
  color: $text-muted

.user-block-add-btn
  @extend %user-block-btn
  @extend .btn-outline-primary

.user-block-added-btn
  @extend %user-block-btn
  @extend .btn-outline-success

.user-block-remove-btn
  @extend %user-block-btn
  @extend .btn-outline-danger

.user-block-compose-btn
  @extend %user-block-btn
  @extend .btn-outline-primary


