%view-column-layout-padding
  padding: $space-middle $space-large

%view-column-tab-content
  @extend %view-column-layout-padding
  background-color: #fff

%view-column-gray
  background-color: $bg-light-grey
  padding: 0

%view-column-template
  background-color: $template-item-background

.view-column-gray
  @extend %view-column-gray

.view-column-header
  @extend %view-column-layout-padding

.view-column-tabnav
  padding:
    left: $space-large
    right: $space-large

.view-column-tab-content
  @extend %view-column-tab-content

