// Page title
.page-title
  display: table
  width: 100%
  > .pull-left
    max-width: 70%
  .bread-crumbs
    margin-top: 8px
    .fa
      padding: 0 5px
    a
      color: inherit
      &:hover
        text-decoration: underline

.page-title-cell
  display: table-cell
  vertical-align: top
  width: 100%
  + .page-title-cell
    padding-left: 20px
    text-align: right

// @end
