.accessor-users
  .user
    padding: 0 0 4px 0
    .avatar
      top: 0
    .name
      color: #999999
  > section
    > p
      margin-bottom: 6px
      color: #999999
    > a, .user-wrapper > a, .users-cooperation > a
      font-size: 11px
      color: #358bae
      margin-right: 12px
      &.remove, &.remove-user
        color: #ff2021
    .user-wrapper
      +inline-block
      width: 48%
      margin-right: 1%
      margin-bottom: 23px
    ~ section
      margin-top: 29px
  > section.form
    overflow: hidden
    margin-bottom: 25px
    .input
      margin-bottom: 9px
    input[type=submit]
      float: right
      +inline-block
      margin-left: 14px
      +button(#348dad)
  .spectator
    .highlight
      text-align: center
      background: $brand-primary
      color: white
      padding-left: 5px
      padding-right: 5px

.accessor-users-new-contact-view
  color: $gray-light
  .user
    +inline-block
    width: 280px
    margin:
      right: 2%
      bottom: 14px
  .icon-remove
    display: inline
    color: red
    text-decoration: none
    padding-left: 5px
