.purr
  position: fixed
  top: 30px
  right: 100px
  width: 250px
  padding: 20px
  background-color: #ffcccc
  border: solid 2px #cc6666
  z-index: 30
  &:first-letter
    text-transform: uppercase

.task-status-in_work
  background: #543ab5 !important

.task-status-new
  background: #9cb53a !important

.task-status-browsed
  background: #b5913a !important

.task-status-refused
  background: #ca7841 !important

.task-status-completed
  background: #39b78c !important

.task-status-accepted
  background: #39b74b !important

.task-status-declined
  background: #b73960 !important

.task-status-delegated
  background: #b739b3 !important
