$spx: 907

// when smallest screen its 891

=width-percent($val)
  width: percentage($val / $spx)

=padding-left-percent($val)
  padding-left: percentage($val / $spx)

=padding-right-percent($val)
  padding-right: percentage($val / $spx)

section.tasks-list-column
  //:width 319px
  // small size (default)
  .form-field
    padding: 10px
    .row
      margin: 0 -5px
      div[class^="col-"]
        padding: 0 5px
  > ul
    > li
      > *
        +text-overflow
        padding:
          left: 6px
          right: 6px
      > .id
        width: 34px
      > .name
        padding-left: 12px
        width: 160px
      > .end_date
        width: 58px
      > .status, > .community, > .favorite
        display: none

// MIDDLE size mixin
%list-column-middle-size
  > ul > li
    > .name
      width: 260px

// WIDE size mixin (full width)
%list-column-wide-size
  //:width 907px !important
  > ul > li
    // veritcal line near date column
    &:after
      right: percentage(69 / $spx)
    // 'active' caret indicator
    &:before
      display: none
    > *
      padding:
        left: percentage(6 / 907) !important
        right: percentage(6 / 907) !important
    > .id
      +width-percent(34)
    > .name
      padding:
        left: percentage(12 / 907) !important
      +width-percent(379)
    > .end_date
      +width-percent(58)
    > .status, > .community, > .favorite
      display: inline-block
    > .status
      +width-percent(110)
    > .community
      padding:
        left: percentage(12 / 907) !important
      +width-percent(154)
    > .favorite
      +width-percent(88)

%list-column-short-flexible
  // total 347px
  > ul > li
    position: relative
    > *
      padding:
        left: percentage(6 / 347)
        right: percentage(6 / 347)
    > .id
      padding: 0
      width: 46px
      position: absolute
      left: 0
      top: 0
    > .name
      > .title, .customer
        padding-left: 52px
      padding:
        right: percentage(5 / 347)
        left: percentage(6 / 347)
      width: percentage(285 / 347)
    > .end_date
      overflow: hidden
      padding: 0 percentage(4 / 347)
      width: percentage(43 / 347)

// general styles
section.tasks-list-column
  > ul
    font-size: 12px
    li > .id, li > .end_date
      text-align: center
    > li.header
      position: relative
      z-index: 1
      padding:
        top: 0
      height: 44px
      line-height: 44px
      font:
        size: 14px
      +box-shadow(0 2px 12px rgba(black, 0.12))
      > div > a
        display: block
      > .end_date
        font-weight: normal
    > li
      > .name
        overflow: hidden
        .customer
          +truncate
          color: #9a9a9c
          font-size: 10px
          padding-right: 20px
        .title
          +truncate
          padding-right: 15px
      > .name, > .favorite
        position: relative
      > .favorite
        line-height: 48px
        text:
          align: center
      .icons
        width: 22px
        height: 100%
        position: absolute
        right: 5px
        top: 0
        text-align: right
        font-size: 10px
        color: #999999
        .comments
          +absoluted
          bottom: 21px
          height: 21px
          line-height: 24px
          i
            font-style: normal
            margin-left: 3px
            @extend %icon
            &:before
              @extend .icon-comment-alt:before
          &.has-new
            color: #4cade0
            i:before
              content: "\f075"
        .attachements
          +absoluted
          top: 21px
          line-height: 22px
  ul.infinite-list
    position: absolute
    top: 45px
    bottom: 0
    overflow-y: auto
    overflow-x: hidden
    li
      width: auto !important
      margin: 0 !important
      border: 1px solid transparent
      height: 42px
      line-height: 42px
      min-height: 42px
      > .id
        color: #666666
      > div
        line-height: 42px
        height: 42px
      > .name
        padding:
          top: 1px
          bottom: 1px
        line-height: 20px
        height: 40px
        > .customer
          +text-overflow
          position: relative
          top: 2px
          font:
            size: 10px
        > .title
          +text-overflow
          position: relative
          top: -3px
          font:
            size: 12px
          color: #666666
      > .community
        color: #666666
        +truncate
        a
          color: #666666
      > .status
        line-height: 42px
        span
          margin: 12px 0
          padding: 0 6px
          line-height: 18px
          height: 18px
          color: white
          background: #8d8d8d
          max-width: 87%
          +inline-block(middle)
          +truncate
      > .end_date
        color: #666666
      // for new tasks
      &.new
        background: #e3ebed
        font-weight: bold
        &:after
          background: lighten(#e3ebed, 3%)
        > .end_date
          font-weight: normal
        > .id, > .name > .title
          color: #666666
      // for archived tasks
      &.archived
        > .id, > .name > .title, > .community, > .end_date
          color: #666666
      // for overdued tasks
      &.overdued
        > .id, > .name > .title, > .community, > .end_date
          color: #ff0101
      & + li
        margin:
          top: -1px !important
    > li.active
      &, > .id, > .name > .title
        color: white
      .icons
        color: #cbdfea
      > .community
        color: #e9e7e8
      &:after
        background: lighten($brand-primary, 3%)
      > .name .customer
        color: #e9e7e8

.new-elements
  text-align: center

.tasks-time-period-filters
  line-height: 44px
  +children-inline
  .filter
    margin-left: 15px
    +children-inline
    input[type=checkbox]
      
    i
      margin:
        top: 15px !important
      & + label
        margin:
          left: 5px
    label
      height: 44px
      line-height: 46px
      color: #338baf
      cursor: pointer
      &:hover
        text-decoration: underline

//@media only screen and (min-width: 320px) and (max-width: 480px)
  .tasks-time-period-filters
    display: none
