%task-page-section-title,
.task-page-section-title,
.task-form-section-title
  font-size: 1.75em
  margin-bottom: 0.7em

%task-page-section-block
  margin-bottom: $grid-gutter-width

.task-form-section-block
  @extend %task-page-section-block

.task-page-section-block
  @extend %task-page-section-block



