$task-checklist-weight-width: 30px
$task-checklist-title-width: 85%

%task-checklist-item-input
  float: left
  margin-right: $grid-gutter-width/3

%task-checklist-item-block
  @extend %task-checklist-item-input
  padding:
    top: $padding-base-vertical - 1px
    bottom: $padding-base-vertical - 1px

.task-checklist-item
  @extend .clearfix
  margin-bottom: $grid-gutter-width/4
  padding-bottom: $grid-gutter-width/4
  border-bottom: 1px solid $line-color

.task-checklist-item-form
  float: left
  width: 100%

.task-checklist-item-form-actions
  margin:
    top: 5px
    bottom: 5px
  padding-right: $task-checklist-weight-width + $grid-gutter-width/2 + 1px

.task-checklist-item-input-title
  @extend %task-checklist-item-input
  width: $task-checklist-title-width

.task-checklist-item-weight-help
  @extend %task-checklist-item-input
  width: 100%
  text-align: right

.task-checklist-item-input-weight
  @extend %task-checklist-item-input
  width: 110px

.task-checklist-item-buttons
  float: left
  width: $task-checklist-weight-width

.task-checklist-item-title
  @extend %task-checklist-item-block
  width: 60%
  .task-checklist-item-done &
    text-decoration: line-through

.task-checklist-item-weight
  @extend %task-checklist-item-block

.task-checklist-item-progress
  @extend %task-checklist-item-block
  padding: 1px 0

.task-checklist-item-actions
  text-align: right
  margin: -5px 0

.task-checklist-item-checkbox
  width: $grid-gutter-width

