section.subtask-list {
  > div {
    overflow: hidden;
    ul {
      margin-top: 10px;
      li {
        line-height: 14px;
        padding: 8px;
        margin-bottom: 4px;
        background: #e3ebed;
        @include transition(0.3s);
        &:hover {
          background: lighten(#e3ebed, 4%);
        }
        @include children-inline(middle);
        position: relative;
        input[type=checkbox] {
          position: absolute;
          left: 8px;
          top: 9px;
          margin: 0;
          @extend %blue-ok-checkbox-without-white-border;
          + i {
            position: absolute;
            left: 8px;
            top: 9px;
            margin: 0;
          }
        }
        .title {
          padding-right: 42px;
          padding-left: 24px;
          color: #666666;
        }
        span.right {
          position: absolute;
          right: 10px;
          top: 10px;
          > a {
            color: #999999;
          }
        }
        &.done {
          .title {
            color: #999999;
            text-decoration: line-through;
          }
        }
      }
    }
  }
}
