%section.tasks-filters-column.filters-column
  %ul.with-subfolders.projects-filter.projects-filter-initialized
    %li.expanded.folder.nested{"data-folder" => "all"}
      .expander.expander-initialized
      %a Проекты
      %span.counter
      %ul.flat
        %li.folder{"data-folder" => "draft"}
          %a Инициализация
        %li.folder{"data-folder" => "scenario"}
          %a Планирование
          %span.bubble-counter-sm 1
        %li.active.folder{"data-folder" => "in_work"}
          %a В работе
          %span.bubble-counter-sm 2
        %li.folder{"data-folder" => "archived"}
          %a Архив
          %span.bubble-counter-sm 1
        %li.folder{"data-folder" => "canceled"}
          %a Отмененные
          %span.bubble-counter-sm 1
    %li.flat.folder{"data-folder" => "template"}
      %a Шаблоны
    %li.flat.folder{"data-folder" => "favorite"}
      %a Избранные
    %li.folder.nested{"data-folder" => "all"}
      .expander.expander-initialized
      %a Роль
      %span.counter.related
      %ul.flat
        %li.folder{"data-folder" => "manager"}
          %a Менеджер
        %li.folder{"data-folder" => "member"}
          %a Участник

