.accessor-users.project-members-view{"data-parent-url" => "/projects/120", "data-scroll-container" => ".column-content", "data-url" => "/projects/120/project_memberships", "role-project-members" => "ready"}
  = partial 'projects/participants/list'

