%section.list-column.projects-list-column.projects-list-column-initialized{"data-channel" => "presence-1757:projects", "data-list-with-scroll" => "true", "data-url" => "/projects"}
  %menu.sortable-header.header.sortable-header-initialized{"data-sortable-collection" => "tasks", "data-store" => "1"}
    %a.id{"data-column" => "id", "data-direction" => "asc"}
      %b №
    %a.name{"data-column" => "title", "data-direction" => "asc"}
      %b Название
    %a.end_date.right{"data-column" => "end_date", "data-direction" => "asc"}
      %b Дедлайн
  .infinite-list.projects-list{"data-url" => "/projects"}
    %a.project-item{"data-id" => "1163", href: "/projects/1163"}
      .id
        %p 1163
      .name
        %p Делимся планами на Июль месяц
        %span TOR
      .end_date.right
        %p
          14 июля 2014 в 00:00
    %a.project-item{"data-id" => "1102", href: "/projects/1102"}
      .id
        %p 1102
      .name
        %p Проверка нового механизма создания проектов
        %span Айкью 300, ООО
      .end_date.right
        %p
          03 июля 2014 в 00:00
    %a.project-item{"data-id" => "879", href: "/projects/879"}
      .id
        %p 879
      .name
        %p UX/UI Iq300
        %span Айкью 300, ООО
      .end_date.right
        %p
          31 декабря 2015 в 00:00
    %a.project-item{"data-id" => "847", href: "/projects/847"}
      .id
        %p 847
      .name
        %p UX-UI решение по макету "Создание проекта"
        %span TOR
      .end_date.right
        %p
          27 мая 2014 в 00:00
    %a.project-item{"data-id" => "636", href: "/projects/636"}
      .id
        %p 636
      .name
        %p Разработка системы IQ300
        %span Айкью 300, ООО
      .end_date.right
        %p
          31 декабря 2014 в 00:00

