:plain
  <section class="list-column projects-list-column projects-list-column-initialized" data-channel="presence-1757:projects" data-list-with-scroll="true" data-url="/projects">

  <menu class="sortable-header header sortable-header-initialized" data-sortable-collection="tasks" data-store="1"><a class="id" data-column="id" data-direction="asc"><b>№</b></a><a class="name" data-column="title" data-direction="asc"><b>Название</b></a><a class="end_date right" data-column="end_date" data-direction="asc"><b>Дедлайн</b></a></menu>
  <div class="infinite-list projects-list" data-url="/projects">
  <a href="/projects/show" class="project-item" data-id="879"><div class="id"><p>879</p></div><div class="name"><p>UX/UI Iq300 </p><span>Айкью 300, ООО</span></div><div class="end_date right"><p class="">
  31 декабря 2015 в 00:00
  </p></div></a>
  <a href="/projects/show" class="project-item" data-id="636"><div class="id"><p>636</p></div><div class="name"><p>Разработка системы IQ300</p><span>Айкью 300, ООО</span></div><div class="end_date right"><p class="">
  31 декабря 2014 в 00:00
  </p></div></a>

  </div>

  </section>
