%section.actions
  Статус:
  %span.inactive.project-state{"data-state" => "in_work"}
    1.
    Инициализация
  →
  %span.inactive.project-state{"data-state" => "in_work"}
    2.
    Планирование
  →
  %span.active.project-state{"data-state" => "in_work"}
    3.
    В работе
  →
  %span.inactive.project-state{"data-state" => "in_work"}
    4.
    Завершен

