%section.tree.project-tasks-list.project-tasks-list-initialized.project-tasks-list-show-groups{role: 'project-tasks-list'}
  = partial 'projects/show/tasks_list_panel'

  %ul.contents
    %li.active
      = partial 'projects/tasks/list'
