%section.top-panel
  .pull-left
    %a.navigation{href: "#", onclick: "$('#container').removeClass('show-filters show-list').toggleClass('show-navigation'); return false;"}
      %i.icon-reorder
    %a.add-button.small{"data-popup" => "add-button-target", href: "/projects/new"}
      %i.icon-plus
    %a.add-button.big{"data-popup" => "add-button-target", href: "/projects/new"}
      %i.icon-plus
      %span Создать проект
    %a.voronka.mode-trigger.mode-trigger-initialized{href: "#", mode: "filters", onclick: "$('#container').removeClass('show-navigation show-list').toggleClass('show-filters'); return false;", state: "false"}
      %i.icon-filter
    -# wtf html fix with inline style
    = partial 'shared/select2', locals: {title: 'Выберите сообщество'}
