%section.top-panel
  .pull-left
    %a.navigation{href: "#", onclick: "$('#container').removeClass('show-filters show-list').toggleClass('show-navigation'); return false;"}
      %i.icon-reorder
    %a.add-button.small{"data-popup" => "add-button-target", href: "/projects/new"}
      %i.icon-plus
    %a.add-button.big{"data-popup" => "add-button-target", href: "/projects/new"}
      %i.icon-plus
      %span Создать проект
    -# wtf html fix with inline style
    = partial 'shared/select2', locals: {title: 'Выберите сообщество'}
