---
body_class: crm-index
layout: application_modular
nav_item: crm
---

- content_for :back_button do
  %a.btn.btn-lg{:href => "/crm"}
    %span.fa.fa-angle-left.icon-size-16
    Список клиентов

%section.view-column.view-column-gray
  .view-column-header
    = partial 'crm/clients/show/people/title'
  = partial 'shared/tabnav', locals: {nav: data.crm.clients.people.tabs, active: :calls, css_class: "view-column-tabnav"}
  .tab-content.view-column-tab-content
    = partial 'crm/clients/show/people/calls/details'
