.search-header {
  .form-control {
    border-radius: $input-border-radius;
  }
  
  // Header global
  .header-global & {
    padding-top: 12px;
    padding-left: 12px;
    float: left;
    width: 200px;
    .search-button {
      display: none;
    }
  }
  
  // Top Panel global
  .top-panel & {
    &:hover form {
      visibility: visible;
      @include opacity(1);
    }
    form {
      position: absolute;
      z-index: 5;
      top: 100%;
      right: 0;
      left: 0;
      padding: 8px;
      background: $contentBackgroundColor;
      border-top: 1px solid $borderColor;
      border-bottom: 1px solid $borderColor;
      visibility: hidden;
      @include opacity(0);
      @include transition;
    }
    .search-button {
      @include inline-block;
      width: $topPanelHeight;
      height: $topPanelHeight;
      background: $headerDarker;
      padding: 0;
      margin: 0 -1px;
      border: 0;
      border-left: 1px solid $borderColor;
      border-right: 1px solid $borderColor;
      font-size: 16px;
      color: #666666;
      text-align: center;
      line-height: $topPanelHeight;
      @include transition(2s background-color);
      &:hover {
        background: darken($headerDarker, 10%);
      }
    } 
  }
}


@media only screen and (min-width: 320px) and (max-width: 640px) {
  .header-global .search-header {
    margin-right: 29px + 113px;
  }
}
