.top-panel {
  position: absolute;
  top: $headerHeight;
  right: 0;
  left: 0;
  padding-left: $navColumnWidth;
  background: #fff;
  z-index: 11;
  height: $topPanelHeight !important;
  line-height: $topPanelHeight;
  overflow: visible !important;
  border-bottom: solid 1px #f2f2f2;
  @include box-sizing(border-box);
  @include clear;
  > .pull-left {
    > * {
      float: left;
    }
    > a {
      border-right: 1px solid $borderColor;
      text-decoration: none;
      min-width: $topPanelHeight;
      height: $topPanelHeight;
      color: inherit;
      @include inline-block;
      @include transition;
      @include box-sizing(border-box);
      i {
        font-size: 15px;
        line-height: 14px;
        position: relative;
        top: 2px;
      }
    }
    > .btn {
      padding-top: 12px;
      padding-bottom: 12px;
      border: 0;
      font-weight: 400;
      line-height: 21px;
      &:hover {
        text-decoration: underline;
      }
    }
    > a.navigation, > a.list {
      line-height: $topPanelHeight;
      height: $topPanelHeight;
      background: #245b79;
      border: 1px solid transparent;
      text-align: center;
      display: none;
      > i {
        font-size: 15px;
        color: white;
      }
      &:hover {
        background: darken(#245b79, 15%);
        border-color: $voronkaBackgroundHover;
      }
    }
    > a.voronka {
      text-align: center;
      width: $topPanelHeight;
      line-height: $topPanelHeight;
      background: $voronkaBackground;
      color: #666666;
      border: 1px solid $borderColor;
      &:hover {
        border-color: $voronkaBackgroundHover;
      }
    }
    > a.link {
      line-height: 44px;
      color: #338baf;
      padding: 0 18px;
      border: none;
      > i {
        margin-left: 5px;
        &.icon-plus {
          margin-top: 11px;
          background: #3ab54a;
          line-height: 20px;
          height: 18px;
          width: 18px;
          text-align: center;
          @include inline-block;
          padding: 0;
          color: white;
        }
        &.icon-ok {
          color: #3bb44b;
          &.checkbox {
            @include inline-block;
            width: 14px;
            height: 14px;
            min-height: 14px;
            color: white;
            font-size: 11px;
            background: #4aaee0;
            margin: 0 5px 0 0;
            line-height: 14px;
            text-align: center;
            top: 14px;
          }
        }
        &.icon-chevron-down {
          color: white;
          background: #9fbbbe;
          font-size: 11px;
          text-align: center;
          margin-right: 5px;
          margin-left: 0;
          @include inline-block;
          width: 20px;
          height: 14px;
          line-height: 14px;
          top: 14px;
        }
      }
      &:hover {
        > span {
          text-decoration: underline;
        }
        > i {
          text-decoration: none;
        }
      }
      & ~ a.link {
        margin-left: 7px;
      }
    }
    > a.add-button, > a.collapsed {
      padding: 0 10px;
      width: $topPanelHeight;
      line-height: $topPanelHeight;
      font-size: 13px;
      border: 1px solid rgba(0, 0, 0, 0.2);
    }
    > a.add-button {
      min-width: $filtersColumnWidth;
      background: #3ab54a;
      border-color: #3ab54a;
      text-align: center;
      color: white;
      font-weight: bold;
      white-space: nowrap;
      &:hover {
        background: #198748;
      }
      &.small {
        min-width: $topPanelHeight;
      }
      &:active {
        @include transition(0s background-color);
      }
      &.blue {
        background: #4daee3;
        border-color: #4daee3;
        &:hover {
          background: lighten(#4daee3, 3%);
        }
        &:active {
          background: darken(#4daee3, 5%);
        }
      }
      &.light {
        background: #8cc63e;
        border-color: #8cc63e;
        &:hover {
          background: #3ea1c6;
          border-color: lighten(#3ea1c6, 10%);
        }
      }
      &.back-button {
        text-align: left;
        min-width: 50px;
        padding-right: 15px;
      }
    }
    > a.add-button.small {
      display: none;
    }
    > a.add-button.big {
      display: none;
      text-align: left;
      &.centered {
        text-align: center;
      }
      i.icon-plus {
        display: inline-block;
        margin: 0 10px 0 5px;
      }
      span {
        display: inline-block;
        text-align: center;
      }
    }
    > a.add-button.strong {
      display: inline;
    }
    > a.spinner {
      background: #b4c7cb;
      width: 44px;
      height: 44px;
      line-height: 44px;
      color: #696566;
      text-align: center;
      @include unselectable;
      &:hover {
        background: lighten(#b4c7cb, 4%);
      }
    }
    > a.collapsed {
      color: white;
      background: #338cae;
      display: none;
    }
    > ul {
      float: right;
      @include bordered;
      height: 26px;
      min-width: 50px;
      margin: 8px 6px 0 0;
      li {
        @include inline-block;
        & ~ li {
          @include bordered-left;
        }
        &.disabled {
          //:display none
          >a {
            cursor: default;
            color: #cccccc;
          }
        }
        > a {
          @include inline-block;
          line-height: 26px;
          color: #666666;
          text-decoration: none;
          padding-left: 15px;
          padding-right: 15px;
        }
      }
      //li.disabled:first-child + li
      // //:border-left none
   
    }
    section.subtop {
      position: absolute;
      display: none;
      top: 48px;
      @include bordered;
      background: white;
      padding: 15px 14px;
      z-index: 200;
      @include box-shadow(0px 2px 9px rgba(0, 0, 0, 0.2));
      width: 312px;
      &.create-contact-window {
        width: 348px;
      }
      @extend %has-top-left-pimp;
      &.shown {
        display: block;
      }
      p {
        margin: 0;
        color: #666666;
        ~ p {
          margin-top: 8px;
        }
      }
      input[type=text], input[type=email], textarea {
        @extend %full-width-input;
        display: block;
      }
      input[type=submit] {
        @include inline-block;
        margin: 0;
        @include button(#348dad);
      }
      ~ section.subtop {
        z-index: 201;
      }
    }
  }
  > .pull-right {
    display: none;
    text-align: right;
    @include children-inline;
    > .help-links {
      line-height: 48px;
      font-size: 23px;
      > span {
        display: block;
        width: $topPanelHeight;
        height: $topPanelHeight;
        text-align: center;
        color: #666666;
        background: $headerDarker;
        border-left: 1px solid $borderColor;
      }
      > section {
        position: absolute;
        z-index: 5;
        left: -1px;
        right: -1px;
        top: 100%;
        height: 44px;
        background: $contentBackgroundColor;
        border: 1px solid $borderColor;
        visibility: hidden;
        @include opacity(0);
        @include transition;
        @include children-inline;
        > a, > div > a, > div {
          position: relative;
          height: $topPanelHeight;
          width: $topPanelHeight;
          text-decoration: none;
          text-align: center;
        }
        a {
          @include hover-opacity;
        }
        > a#Intercom {
          background: $navigationBackground;
          color: #91a8ae;
          border-left: 1px solid $borderColor;
        }
        > a.help {
          color: #666666;
          background: $headerDarker;
          border-left: 1px solid $borderColor;
        }
        > .contact_support_button {
          border-left: 1px solid $borderColor;
          > a {
            display: block;
            background: $navigationBackground;
            color: #91a8ae;
            font-size: 20px;
            > span {
              display: none;
            }
          }
        }
      }
      &:hover > section {
        visibility: visible;
        @include opacity(1);
      }
    }
  }
}

%active-switcher-button {
  background: #338cae;
  color: white;
}

@media only screen and (min-width: 320px) and (max-width: 800px) {
  .top-panel {
    > .pull-left {
      > a.link {
        > i {
          margin-left: 0 !important;
          margin-right: 0 !important;
        }
        > span {
          display: none;
        }
      }
      > a.add-button.small {
        @include inline-block;
      }
      > a.add-button.big {
        display: none !important;
      }
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .top-panel {
    padding-left: 0;
    top: 0;
    > .pull-left {
      > a.navigation, > a.list {
        @include inline-block;
      }
    }
    > .pull-right {
      display: block;
    }
  }
}
