---
body_class: profile-index
layout: application_modular
---

.form-container.container-grey
  .tabs-page-header
    .row
      .col-sm-2
        .fluid-square
          %a{:href => "#"}
            %img.fluid-square-content{:src => "/images/community/2.png", :alt => ""}/
      .col-sm-10
        .content-group
          %h2.content-heading
            Иванов Иван Сергеевич
            %small 123
          %ul.list-inline
            %li 
              %span.user-status-bullet.user-status-bullet-online
            %li Сейчас в системе IQ300
            %li 
              %span.user-status-bullet.user-status-bullet-offline
            %li Последний вход в систему: 27 августа в 12:23 
          %ul.list-inline
            %li 
              %span.fa.fa-lg.fa-clock-o.text-warning
            %li
              Другой часовой пояс. Местное время 23:34
        .tabs-page-header-actions
          %a.btn.btn-default{:href => "#"} Написать сообщение
          %a.btn.btn-default{:href => "#"} Добавить в контакты
          %a.btn.btn-default{:href => "#"} Поставить задачу
          .btn-group
            %a.btn.btn-default.dropdown-toggle{:href => "#", "data-toggle" => "dropdown"} 
              Другое
              %span.fa.fa-sort-desc
            %ul.dropdown-menu{:role => "menu"}
              %li
                %a{:href => "#"} Другое 1
              %li
                %a{:href => "#"} Другое 2
              %li
                %a{:href => "#"} Другое 3

%ul.nav.nav-tabs.tab-buttons.tabnav.container-grey
  %li.active
    %a{"data-toggle" => "tab", :href => "#profile-index"} Профиль
  %li
    %a{"data-toggle" => "tab", :href => "#profile-edit"} Редактирование профиля
  %li
    %a{"data-toggle" => "tab", :href => "#profile-notification-settings"} Настройки уведомлений
  %li
    %a{:href => "#"} Структура сообщества
  %li
    %a{"data-toggle" => "tab", :href => "#community-partners"} Карта партнера
  %li
    %a{:href => "#"} Отчеты
  %li
    %a{"data-toggle" => "tab", :href => "#profile-actions"} Активность

.tab-content.tab-panels

  #profile-index.tab-pane.active
    %h2.content-heading Контактная информация
    .content-section
      .row
        .col-sm-3
          %ul.unstyled-list
            %li 
              Email: 
              %a{:href => "#"} ivanov@romaska.ru
            %li
              Телефон: +7 9272447671
            %li
              %span.fa.fa-lg.fa-skype
              %a{:href => "#"} ivanov&romaska21
            %li
              Часовой пояс: (GMT +04:00) Москва
        .col-sm-3
          %ul.unstyled-list
            %li
              %span.fa.fa-lg.fa-facebook-square
              %a{:href => "#"} /ivanov&romaska
            %li
              %span.fa.fa-lg.fa-google-plus-square
              %a{:href => "#"} /ivanov&romaska
            %li
              %span.fa.fa-lg.fa-twitter-square
              %a{:href => "#"} /ivanov&romaska
            %li
              %span.fa.fa-lg.fa-linkedin-square
              %a{:href => "#"} /ivanov&romaska

    %h2.content-heading Состоит в сообществах
    .content-section
      .row
        .col-sm-6
          - (1..5).each_with_index do |item, i|
            .community-block
              .community-block-body
                .media 
                  .pull-left
                    %a{:href => "#"}
                      %img{:src => "/images/community/#{i+1}.png", :alt => "", :width => "75px", :height => "75px"}/
                  .media-body
                    %h3.community-block-title ООО «Название сообщества»
                    %h4 Роль в сообществе
  
  #profile-edit.tab-pane
    %h2.form-heading Контактная информация
    .form-group
      .row
        .col-xs-6
          .form-group
            %label Имя:
            %input.form-control{:type => "text", :placeholder => "Введите ваше имя"}/
          .form-group
            %label Фамилия:
            %input.form-control{:type => "text", :placeholder => "Введите вашу фамилию"}/
          .form-group
            %label Отчество:
            %input.form-control{:type => "text", :placeholder => "Введите ваше отчество"}/

    %h4.form-heading Пол:
    .form-group
      .radio
        %label
          %input{:type => "radio"}/
          %span Мужской
      .radio
        %label
          %input{:type => "radio"}/
          %span Женский
    
    %h4.form-heading Фотография:
    .form-group
      %ul.list-inline.form-inline
        %li.input-group
          %img.img-circle{:src => "/images/community/2.png", :alt => "", :width => "115px", :height => "115px"}/
        %li.input-group
          %a.btn.btn-default{:href => "#"} Выбрать файл
        %li.input-group
          %a.btn.btn-default{:href => "#"} Без фотографии
    .form-group
      .row
        .col-sm-6
          %h4.form-heading Основной мобильный телефон:
          %h4.form-heading
            %strong +79061234567
          .form-group
            %a.btn.btn-default{:href => "#"} Добавить
            %a.btn.btn-default{:href => "#"} Изменить
          .help-block На этот телефон будут приходить сообщения о событиях (Новая задача, Подключение к новому проекту и т.д.), для которых вы включите уведомления с через SMS.

    %h4.form-heading Привязать к социальным сетям:
    .form-group
      %ul.unstyled-list
        %li 
          %span.fa.fa-2x.fa-twitter-square
          %a{:href => "#"} Связать с Twitter
        %li 
          %span.fa.fa-2x.fa-facebook-square
          %a{:href => "#"} Связать с Facebook
        %li 
          %span.fa.fa-2x.fa-google-plus-square
          %a{:href => "#"} Связать с Google+
        %li 
          %span.fa.fa-2x.fa-linkedin-square
          %a{:href => "#"} Связать с LinkedIn
    .form-group
      .row
        .col-sm-3
          %label Введите данные Skype
          %input.form-control{:type => "text"}/
    
    .form-group
      .row
        .col-sm-3
          .form-group
            %label Язык интерфейса:
            %select.select-wide{:role => "select2"}
              %option{:value => ""} Русский
              %option{:value => ""} Русский
              %option{:value => ""} Русский
              %option{:value => ""} Русский
              %option{:value => ""} Русский
          .form-group
            %label Часовой пояс:
            %select.select-wide{:role => "select2"}
              %option{:value => ""} (GMT +04:00) Москва
              %option{:value => ""} (GMT +04:00) Москва
              %option{:value => ""} (GMT +04:00) Москва
              %option{:value => ""} (GMT +04:00) Москва
              %option{:value => ""} (GMT +04:00) Москва
    
    %h4.form-heading Конфиденциальность
    .checkbox
      %label
        %input{:type => "checkbox"}/
        %span Показывать телефон
    .checkbox
      %label
        %input{:type => "checkbox"}/
        %span Показывать email

    .form-group.buttons
      %a.btn.btn-default{:href => "#"} Сохранить
      %a.btn.btn-link{:href => "#"} Отмена
  

  #profile-notification-settings.tab-pane
    %h2.form-heading Уведомлять о e-mail в сообщениях
    .row
      .col-sm-6
        .content-group
          .content-group-sm
            Читайте в сообщениях email, отправленные на вашу почту другими пользователями системы.
            Эта опция должна быть включена и у отправителя, и у получателя письма.
          .collapse.in{role: 'email-integration'}
            %a.btn.btn-default{data: {toggle: :collapse}, href: '[role="email-integration"], [role="email-integration-form"]'}
              Включить интеграцию с email
          .content-group-sm
            %form.collapse{role: 'email-integration-form'}
              .alert.alert-danger-light
                Не удалось включить интеграцию с email.
                %br
                Проверьте пароль и попробуйте ещё раз.
              .form-group
                %input.form-control{type: :email, value: "elvir@mail.com", disabled: :disabled}
              .form-group
                %input.form-control{type: :password, placeholder: 'Пароль от вашей почты'}
              .form-group
                %button.btn.btn-default{type: 'submit', data: {toggle: :collapse}, href: '[role="email-integration-form"], [role="email-integration-done"]'}
                  Сохранить
                %a.btn.btn-link-gray
                  Отменить

            .collapse{role: 'email-integration-done'}
              .content-group-sm
                %i.fa.fa-check.icon-color-success
                Интеграция с email
                %strong elvir@mail.com
                включена
              -#.content-group-sm
                %i.fa.fa-times.icon-color-danger
                Интеграция с email
                %strong elvir@mail.com
                включена

              %a.btn.btn-default{data: {toggle: :collapse}, href: '[role="email-integration"], [role="email-integration-form"]'}
                Отключить
              %a.btn.btn-default{data: {toggle: :collapse}, href: '[role="email-integration"], [role="email-integration-form"]'}
                Изменить пароль


    %h2.form-heading Уведомлять о событиях
    .form-group
      .row
        .col-sm-3
        .col-sm-1.text-center IQ300
        .col-sm-1.text-center SMS
        .col-sm-1.text-center E-mail
      .row
        .col-sm-3 Новая задача
        .col-sm-1.text-center 
          %input{:type => "checkbox"}/
        .col-sm-1.text-center
          %input{:type => "checkbox"}/
        .col-sm-1.text-center
          %input{:type => "checkbox"}/
      .row
        .col-sm-3 Изменения задачи или проекта
        .col-sm-1.text-center 
          %input{:type => "checkbox"}/
        .col-sm-1.text-center
          %input{:type => "checkbox"}/
        .col-sm-1.text-center
          %input{:type => "checkbox"}/
      .row
        .col-sm-3 % Событие %
        .col-sm-1.text-center 
          %input{:type => "checkbox"}/
        .col-sm-1.text-center
          %input{:type => "checkbox"}/
        .col-sm-1.text-center
          %input{:type => "checkbox"}/
      .row
        .col-sm-3 % Событие %
        .col-sm-1.text-center 
          %input{:type => "checkbox"}/
        .col-sm-1.text-center
          %input{:type => "checkbox"}/
        .col-sm-1.text-center
          %input{:type => "checkbox"}/
      .row
        .col-sm-3 % Событие %
        .col-sm-1.text-center 
          %input{:type => "checkbox"}/
        .col-sm-1.text-center
          %input{:type => "checkbox"}/
        .col-sm-1.text-center
          %input{:type => "checkbox"}/
    
    .form-group
      .form-inline
        .input-group.col-sm-3
          Не отправлять SMS-уведомления с
        .input-group.col-sm-3
          %ul.list-inline
            %li
              %select{:role => "select2"}
                %option{:value => ""} 8:00
                %option{:value => ""} 8:00
                %option{:value => ""} 8:00
                %option{:value => ""} 8:00
                %option{:value => ""} 8:00
            %li до
            %li
              %select{:role => "select2"}
                %option{:value => ""} 21:00
                %option{:value => ""} 21:00
                %option{:value => ""} 21:00
                %option{:value => ""} 21:00
                %option{:value => ""} 21:00
    
    %h2.form-heading Напоминания о просроченных и приближающихся задачах
    .checkbox
      %label
        %input{:type => "checkbox"}/
        %span Просроченные задачи
    .checkbox
      %label
        %input{:type => "checkbox"}/
        %span Задачи с дедлайном завтра
    .checkbox
      %label
        %input{:type => "checkbox"}/
        %span Задачи с дедлайном послезавтра
    .form-group.form-inline
      .input-group.col-sm-3
        Время отправки ежедневных напоминаний:
      .input-group.col-sm-3
        %ul.list-inline
          %li
            %select{:role => "select2"}
              %option{:value => ""} 8:00
              %option{:value => ""} 8:00
              %option{:value => ""} 8:00
              %option{:value => ""} 8:00
              %option{:value => ""} 8:00
    .form-group.buttons
      %a.btn.btn-default{:href => "#"} Сохранить
      %a.btn.btn-link{:href => "#"} Отмена

  
  #profile-actions.tab-pane
    .content-group
      .row
        .col-sm-3
          %h3 Показать историю
        .col-sm-4
          %select{:name => "", :role => "select2"}
            %option{:value => ""} за последний месяц
            %option{:value => ""} за последний месяц
            %option{:value => ""} за последний месяц
            %option{:value => ""} за последний месяц
    %h3.content-heading 12 мая 2014
    .content-group
      .tab-content-wide.container-white
        .row
          .col-md-1
            %p.text-muted 15:10
          .col-md-4
            %p 
              %a{:href => "#"} Наладка инфраструктуры для Минкомсвязь
            %p.text-muted Проект
          .col-md-7
            %ul.list-inline
              %li Сменился исполнитель задачи
              %li
                %a{:href => "#"} Согласование Техзадания
            %ul.list-inline
              %li Новый исполнитель:
              %li 
                %a{:href => "#"} 
                  %img.img-circle.middle{:src => "/images/community/6.png", :alt => "", :width => "25px", :height => "25px"}/
                  %span Игнат Зайцев
      .tab-content-wide.container-grey
        .row
          .col-md-1
            %p.text-muted 15:06
          .col-md-4
            %p 
              %a{:href => "#"} Наладка инфраструктуры для Минкомсвязь
            %p.text-muted Проект
          .col-md-7
            %ul.list-inline
              %li Новая задача
              %li
                %a{:href => "#"} Согласование Техзадания (25 июля 15:40)
            %p Текст комментария. Я вышел на площадь и остановился перед киоском с газированной водой. Я точно помнил, что мелочи у меня нет, и знал, что придется разменивать бумажку, и уже готовил заискивающую улыбку, потому что продавщицы газированной воды...  
            %p
              %a.btn.btn-link{:href => "#"}
                %span.fa.fa-reply
                Ответить
      .tab-content-wide.container-white
        .row
          .col-md-1
            %p.text-muted 15:10
          .col-md-4
            %p 
              %a{:href => "#"} Наладка инфраструктуры для Минкомсвязь
            %p.text-muted Проект
          .col-md-7
            %ul.list-inline
              %li Статус задачи 
              %li
                %a{:href => "#"} Установочная встреча с клиентом
            %ul.list-inline
              %li изменен на 
              %li 
                .label.label-warning Принята к исполнению
