@import print
@import libs/fullcalendar

.fc-basic-view .fc-body .fc-row
  min-height: 94px

body #wrapper > .print
  >
    .header > img
      float: left
    .controls > a
      line-height: 19px
      border-radius: 3px
      margin: 0 7px
  width: 950px      