// Setup: custom vars, mixins and helpers
// --------------------------------------
@import "helpers/paths";
@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/icons";
@import "helpers/extras";

// Reset
// --------------------------------------
@import "base/_reset";

// Libs and plugins
// --------------------------------------
@import "libs/gantt";

// Customize pages
// --------------------------------------
@import "pages/paragraphs/gantt";

html, body {
  font-size: 13px;
  font-family: Arial, sans-serif;
  line-height: 19px;
}

body {
  padding: 4px 13px 0;
  position: relative;
  background-color: #c7d2d8;
  &:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 3px;
    display: block;
    background-color: #cad7dd;
    border-bottom: 1px solid #c6d1d7;
  }
  #wrapper {
    border-bottom: none;
    min-width: 980px;
    max-width: 1280px;
    &.gantt {
      max-width: 100%;
    }
    margin: 9px auto 0 auto;
    padding: 0;
    height: 100%;
    > .print {
      background-color: white;
      border: none;
      padding: 10px;
      > .controls {
        height: 36px;
        padding-top: 22px;
        padding-bottom: 22px;
        text-align: right;
        > a {
          display: inline-block;
          margin: 0 20px;
          background: #338cae;
          color: white;
          vertical-align: top;
          line-height: 26px;
          text-decoration: none;
          padding: 5px 15px;
        }
        & + * {
          margin-top: 10px;
        }
      }
      .header {
        height: 80px;
        img {
          height: 100%;
          @include inline-block;
        }
        & + .controls {
          margin-top: -80px;
        }
      }
      > .project {
        > .project-title {
          margin-top: 20px;
          font-size: 20px;
          line-height: 30px;
        }
        > table.tasks {
          margin-top: 20px;
          width: 100%;
          border: 1px solid black;
          td, th {
            padding: 5px 10px;
            & + td, & + th {
              border-left: 1px solid black;
            }
          }
          td {
            border-top: 1px solid black;
          }
        }
      }
    }
    h1, .corp-title {
      text-align: center;
      font-size: 18px;
    }
  }
  li {
    padding-top: 10px;
    list-style-type: none;
    p {
      padding-left: 10px;
    }
  }
  .paragraphs {
    margin-left: 20px;
    margin-top: 15px;
    img {
      float: right;
    }
    li {
      padding-top: 10px;
      list-style-type: none;
    }
    &.sublist {
      margin-left: 30px;
    }
  }
}

@media print {
  .controls {
    display: none;
  }
}
