- name = locals[:name] || 'John Doe'
- role = locals[:role] || 'Участник'

.project-participants-section-list-item
  .user
    .avatar
      %img.member-box-avatar-image-small{:alt => "Александр", :hide_wait_message => "true", :src => "https://iq300-edge.s3.amazonaws.com/uploads/user_profile/photo/141/medium_50e2e4ea-a09d-4977-8972-bf233bf0453c.jpg", :style => "width:34px;height:34px;", :title => "Мещеряков Александр "}/
    .name
      %a{:href => "/users/203", :role => "member-name"}
        = name
      %span.user-email
        = role


