.row.project-participants
  .col-xs-4.project-participants-section
    .project-participants-section-title
      Заказчик
    .project-participants-section-list
      = partial 'projects/participants/list_item', locals: {name: 'Александр Мещеряков', role: 'Руководитель'}
  .col-xs-4.project-participants-section
    .project-participants-section-title
      Исполнитель
    .project-participants-section-list
      = partial 'projects/participants/list_item'
  .col-xs-4.project-participants-section
    .project-participants-section-title
      &nbsp;

.project-participants-section
  .project-participants-section-title
    Наблюдатели
  .project-participants-section-list
    .row
      - for i in 0..9
        .col-xs-4
          = partial 'projects/participants/list_item'

.project-participants-section
  .project-participants-section-title
    Приглашённые участники
  .project-participants-section-list
    .row
      - for i in 0..4
        .col-xs-4
          = partial 'projects/participants/list_item'


