$spx: 715

// when smallest screen its 891

=width-percent($val)
  width: percentage($val / $spx)

=padding-left-percent($val)
  padding-left: percentage($val / $spx)

=padding-right-percent($val)
  padding-right: percentage($val / $spx)

section.subtop.invite-contact
  left: 270px

section.subtop.create-contact-window
  > form
    > span.twitter-typeahead
      width: 293px
      height: 36px
      display: inline-block
      > input#search
        width: 333px
    > button[type=submit]
      width: 36px
      height: 36px
      color: #666666
      font-size: 15px
      margin: 0
      padding: 0
      background: white
      border: none
  .results
    max-height: 333px
    overflow-y: auto
    ul
      margin-top: 9px
      li
        padding-top: 6px
        padding-bottom: 6px
        +bordered-bottom
        &.contact-exists
          background-color: #f1f5f6
          > form > button
            background-color: #f1f5f6
        form
          span
            display: inline-block
            overflow: hidden
            white-space: nowrap
            text-overflow: ellipsis
            color: #666666
            &.name
              width: 144px
              font-weight: bold
              padding-left: 11px
            &.email
              width: 125px
              font-size: 11px
          button
            float: right
            width: 36px
            border: none
            background: white
            margin: 0
            padding: 0
            color: #1abc9c
            &.plus
              cursor: pointer
              color: #338cae
              font-size: 15px
              &:hover
                background-color: #f1f5f6
                color: #1abc9c

.contacts-list-column
  ul.infinite-list
    position: absolute
    top: 45px
    bottom: 0
    overflow-y: auto
    overflow-x: hidden
  ul
    font-size: 12px
    li.header
      font-size: 14px
      line-height: 44px
      +box-shadow(0 2px 12px rgba(black, 0.12))
      .person
        strong, small
          padding-left: 46px
        strong
          display: block
          line-height: 14px
        small
          display: block
          font-weight: normal
          line-height: 11px
          margin-bottom: 2px
    li
      line-height: 44px
      > *
        padding: 0 15px
      .person
        position: relative
        width: 204px
        .image
          position: absolute
          left: 15px
          //+bordered
          img
            margin-top: 4px
            +bordered
            max-height: 34px
            max-width: 34px
            vertical-align: top
        .name, .position
          padding-left: 46px
        .name
          color: #3389aa
          line-height: 44px
          +truncate
        .position
          color: #666666
          font-size: 11px
      .contacts
        display: none
      .favorite
        > a
          color: transparent
          > i
            vertical-align: top
        &:hover > a
          color: #666666
        &.starred
          > a
            color: #fab035
            > i:before
              @extend .icon-star:before
      .actions
        width: 23px
        text-align: center
        padding: 0
        margin: 0
        position: relative
        > a
          font-size: 14px
          +inline-block
          text-decoration: none
          color: #999999
          &:hover
            color: #666666
        > ul
          @extend ul.context-menu
        &.shown
          > ul
            display: block
      &.active
        .name
          color: white
        .position, .actions > a
          color: #e9e7e8

%contact-list-wide
  ul li .person
    width: 293px

%contact-list-wider
  ul li
    > *
      +padding-left-percent(15)
      +padding-right-percent(15)
    .person
      +width-percent(216)
    .contacts
      +inline-block
      +width-percent(356)
    .actions
      padding-left: 0
      +width-percent(23)
      > ul
        right: 28px

.contacts-view-column
  padding: 17px 15px
  section.other-section
    aside
      width: 175px
    .communities
      //:margin-left 200px
      ul
        margin-right: -10px
        li
          width: 219px
          .name
            width: 155px

.contacts-filters-column
  top: $headerHeight

.contacts-content-column
  @extend %list-column-block

.contacts-list-container
  position: relative
  .spinner-box
    &.is-loading
      display: block
      position: absolute
      left: 50%
      bottom: 0
      width: 50px
      height: 50px
      margin:
        left: -25px
        top: -25px

.contacts-list-header
  padding-bottom: 15px
  border-bottom: 1px solid $line-color


