.folders-page
  p.breadcrumbs
    margin-bottom: 20px
  .form-holder
    +inline-block
    a#new-folder
      @extend %green-link-button
      line-height: 28px
      height: 28px
      +unselectable
      i
        line-height: 28px
        margin-left: -3px
        margin-right: 2px
  .toggable-form
    position: relative
    @extend %has-top-left-pimp
    display: none
    width: 400px
    +bordered
    +box-shadow(0px 2px 9px rgba(0, 0, 0, 0.2))
    margin-top: 7px
    margin-bottom: 12px
    padding: 10px
    .notify-users
      color: $notification
    li
      color: #999999
      margin-bottom: 7px
      label
        display: block
        margin-bottom: 2px
        label.checkbox-title
          display: inline
        abbr
          color: #bb0c0c
          margin-left: 1px
    select
      min-width: 200px
    input[type=submit]
      margin-top: 3px
      +inline-block
      +button(#348dad)
    input[type=text]
      @extend %full-width-input
    textarea
      @extend %full-width-input
      height: 67px
  .folders-tree
    margin-top: 15px
    .jqtree-toggler
      margin-right: 3px
      text-decoration: none
    li
      font-size: 15px
      margin-bottom: 6px
      i
        font-size: 15px
        margin-right: 4px
        position: relative
        top: 2px
        &.icon-file-alt
          top: 1px
      ul
        margin-top: 5px
        li
          margin-left: 24px
    a
      word-wrap: break-word
  .folders-root
    margin-top: 22px
    i
      font-size: 13px
      margin-right: 3px
      position: relative
      top: 1px
  .jqtree-tree .jqtree-loading > div .jqtree-title:after
    content: url(spinner-mini.gif)
    margin-left: 8px
  .tree-spinner
    text-align: center
  .folders-tree i
    //font-size: 2em
  .folders-root .icon-folder-open
    //font-size: 2.1em

.attachments-page
  section.attachments
    margin: 27px 0 22px 0
    > article
      +inline-block
      +bordered
      width: 170px
      padding: 10px
      text-align: center
      margin-right: 15px
      margin-bottom: 15px
      .image
        height: 100px
        text-align: center
        a, a img
          +inline-block
          line-height: 0
        img
          max-width: 100px
          max-height: 100px
        > i
          font-size: 32px
          margin: 30px 0
          line-height: 40px
          color: #aaaaaa
      .actions
        margin-top: 3px
        margin-bottom: -3px
        span
          color: #999999
      .name
        +truncate

.attachment-page
  .pseudo-form
    margin: 22px 0
    p
      margin-bottom: 6px
      > span
        +inline-block
        width: 130px
        text-align: right
        font-weight: bold
        margin-right: 3px
      textarea
        width: 260px
        height: 50px
        +bordered
        padding: 3px 6px
        margin-top: 2px
      input[type=submit]
        margin-top: 3px
        +inline-block
        +button(#348dad)
  #attachment
    margin: 10px 0
