section.paragraphs-list-column
  box-shadow: none
  .paragraphs-list-inner
    width: 100%
    > button#add_top_level_paragraph
      width: 100%
      padding-top: 5px
      padding-bottom: 5px
      font-weight: bold
      color: #1abc9c
      border: none
      cursor: pointer
      &:hover
        opacity: 0.4
    margin-top: 14px
    box-shadow: none
    color: #666666
    ul
      &
      display: block
      width: 100%
      position: relative
      list-style-type: none
      font-size: 12px
      li.paragraph-item
        &, > *
        position: relative
        list-style-type: none
        display: block
        line-height: 18px
        width: 100%
        +children-inline(middle)
        cursor: pointer
        padding-top: 5px
        padding-bottom: 5px
        > ul.sublist
          padding-left: 10px
          background: #f1f5f6
          width: 100%
          +box-sizing(border-box)
          &.empty
            display: none
        &.hovered
          border-left: 1px solid #338cae
          margin-left: -1px
          z-index: 40
          background-color: #e3ebed
          > .paragraph-controls > button
            background-color: #e3ebed
          &.sublist
            border: none
            margin: 0
        &:hover
          cursor: pointer
        > .id, > .end-date, > ul > li > .id, > ul > li > .end-date
          @extend %list-column-short-flexible
          text-align: center
          font-weight: bold
          vertical-align: middle
          padding-left: 5px
          padding-right: 5px
          > a
            text-decoration: none
            color: #666666
            font-weight: normal
        > .name, > ul > li > .name
          @extend %list-column-middle-size
          width: 300px
          margin-left: 10px
          +truncate
          > .title
            font-weight: bold
            width: 289px
            +truncate
            > span.best_in_place
              > form
                > input[type=text]
                  border: 1px solid #cccccc
                  background-color: #f1f5f6
                  color: #666666
          > .completed
            text-decoration: line-through
          > .executor
            color: #666666
            font-size: 10px
            width: 289px
            > p
            > span.best_in_place
              > form
                > textarea, > select
                  border: 1px solid #cccccc
                  background-color: #f1f5f6
                  color: #666666
                  font-size: 10px
                > textarea
                  width: 289px
        > .end-date
          min-width: 95px
          max-width: 190px
          .best_in_place
            input
              width: 70px !important
        > .paragraph-controls, > ul > li > .paragraph-controls
          margin-right: 10px
          float: right
          > button
            cursor: pointer
            color: #666666
            background-color: #f1f5f6
            font-size: 15px
            margin: 0
            padding: 0
            border: none
            &.convert-to-task
              color: #1abc9c
            &.remove-paragraph
              color: #e74c3c
            &:hover
              opacity: 0.4
