.kanban-card{"data-reactid" => ".2.1.$3636"}
  .kanban-card-content
    .kanban-card-name{"data-reactid" => ".2.1.$3636.0"}
      %span{"data-reactid" => ".2.1.$3636.0.0"} Разработать решение для визуализации функции интеграции с почтой
    .kanban-card-info{"data-reactid" => ".2.1.$3636.1"}
      %i.fa.fa-calendar.kanban-card-info-icon
      30 января
    .kanban-card-info{"data-reactid" => ".2.1.$3636.0.1"}
      %i.fa.fa-user.kanban-card-info-icon{"data-reactid" => ".2.1.$3636.0.1.0"}
      %span{"data-reactid" => ".2.1.$3636.0.1.1"} Эльвир Нуриахметов
    .kanban-card-info{"data-reactid" => ".2.1.$3636.0.1"}
      %i.fa.fa-briefcase.kanban-card-info-icon{"data-reactid" => ".2.1.$3636.0.1.2"}
      %span{"data-reactid" => ".2.1.$3636.0.1.3"}
        Оптимизация работы системы на мобильных устройствах(планшетах)

