body
  @media screen and (min-width: $screen-sm)
    background-color: $registration-background-desktop
    width: 100%
    height: 100%

.registration-page
  @extend .container-fluid

.registration-form-text
  font:
    size: 0.8em
    weight: 300
  color: lighten($gray, 20%)

p.registration-form-text
  margin-bottom: 1em

.registration-page-container
  @media screen and (min-width: $screen-sm)
    margin: 0 auto !important
    position: relative
    max-width: 1000px
    // for vertical centering
    //height: 80vh

.registration-page-form
  margin-bottom: 2em
  @media screen and (min-width: $screen-sm)
    position: relative
    margin:
      top: 2em

.registration-page-content
  //@media screen and (min-width: $screen-sm)
    +center-block-container

.registration-page-body
  @media screen and (min-width: $screen-sm)
    width: 70%
    margin: 0 auto
    position: relative
    width: 78%
    background-color: #fff
    padding-bottom: $registration-page-body-footer-height
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5)
    border-radius: $registration-page-body-border-radius
    //+center-block-content
    text-align: left

.registration-page-body-footer
  @media screen and (min-width: $screen-sm)
    background-color: $registration-header-background-desktop
    width: 100%
    bottom: 0
    height: $registration-page-body-footer-height
    position: absolute
    border-top: 1px solid #DBDBDB

.registration-page-footer
  clear: both
  padding: 2em 0

.registration-form-title-wrapper
  text-align: center
  display: block
  text-transform: uppercase
  font-weight: 500
  padding: 20px
  border:
    top-left-radius: $registration-page-body-border-radius
    top-right-radius: $registration-page-body-border-radius
  @media screen and (min-width: $screen-sm)
    box-sizing: border-box
    text-align: left
    background-color: $registration-header-background-desktop
    border-bottom: 1px solid #DBDBDB

.registration-form-title
  position: relative
  top: 8em
  @media screen and (min-width: $screen-sm)
    position: static
    text-transform: none
    font-size: $font-size-base*1.5
    font-family: $registration-font-family-light
    font-weight: 300

.registration-choose-avatar
  max-width: 150px
  width: 100px
  height: 100px
  cursor: pointer
  margin: 0em auto
  display: block
  padding-bottom: 20px

.registration-top-title
  top: 0

.registration-delimeter
  display: block
  height: 1px
  border: 0
  border-top: 2px solid #DADADA
  margin: 0.5em 0
  padding: 0

.registration-form-input
  border-color: #DADADA
  border-width: 1.3px
  height: 2.6em
  &:focus
    border-color: $registration-main-color

.registration-form-input-hint
  font-size: 0.7em
  color: $registration-main-color
  text-align: center
  margin: 0.3em auto 0.7em

.registration-form-input-wrapper
  margin-bottom: 1em

.registration-alert
  padding: 0.5em 0.8em
  margin-top: 0.7em
  margin-bottom: 1.5em
  border: 1px solid transparent
  border-radius: 4px
  font-size: $font-size-base

.registration-alert > p
  margin-bottom: 0

.registration-alert > p + p
  margin-top: 5px

.registration-alert-info
  color: $registration-alert-info-font-color
  background-color: $registration-alert-info-background-color
  border-color: $registration-alert-info-border-color

.registration-alert-danger
  color: $registration-alert-danger-font-color
  background-color: $registration-alert-danger-background-color
  border-color: $registration-alert-danger-border-color

.enter-logo
  display: block
  margin: 2em auto
  width: 5.3em
  position: relative

.enter-container
  margin: 0 auto

.enter-container-centered
  width: 70%
  text-align: center
  margin: 0 auto

.enter-page-title
  color: black
  font-weight: 300
  font-size: 0.9em
  font-family: $registration-font-family-normal

.registration-enter-title
  color: #808080
  font-weight: 300
  font-size: 0.7em
  font-family: $registration-font-family-normal
  width: 80%
  display: block
  margin: 0 auto

.enter-blue-link
  color: $registration-main-color
  font-weight: 500
  text-decoration: none

.registration-page-header
  margin: 0 auto
  width: 73%
  height: $registration-page-header-height
  display: none
  @media screen and (min-width: $screen-sm)
    display: block
    margin-top: 1em
    margin-bottom: -1em

.registration-page-header-title
  font-family: $registration-font-family-light
  font-size: 1.7em
  font-weight: lighter
  color: $registration-main-color
  display: inline
  @media screen and (min-width: $screen-sm)
    top: -7px
    display: inline-block
    position: relative
    left: 29px
    font-size: 1.5em
    font-weight: 300

.registration-header
  display: inline

@media screen and (min-width: $screen-sm)
  .enter-container
    width: 70%
    margin: 0 auto
    text-align: center
  .registration-page
    margin: 0
  .registration-delimeter
    display: none
  .enter-logo
    display: none
  .enter-link
    display: inline
    margin: 0
    &:nth-child(-n+4)
      &:after
        content: '  |  '
  .enter-page-title
    width: 66%
    max-width: 416px
    margin: 0 auto
    font-weight: 500

  .registration-choose-avatar
    width: 85px
    height: 85px
  .main-logo
    width: 75px
    height: 31px


