$registration-font-family-normal: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
$registration-font-family-light: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
//$wide-screen: "screen and (min-width: 768px)"

$registration-page-header-height: 60px
$registration-page-body-footer-height: 30px
$registration-page-body-border-radius: 4px

$registration-step-btn-desktop-width: 100px

$registration-main-color: #375a6e
$registration-background-desktop: #F7F8F3
$registration-header-background-desktop: #f4f4f4

$registration-alert-info-font-color: #31708f
$registration-alert-info-background-color: #d9edf7
$registration-alert-info-border-color: #bce8f1

$registration-alert-danger-font-color: #a94442
$registration-alert-danger-background-color: #f2dede
$registration-alert-danger-border-color: #ebccd1


