$registration-font-family-normal: $font-family-base
$registration-font-family-light: $font-family-base
//$wide-screen: "screen and (min-width: 768px)"

$registration-page-header-height: 60px
$registration-page-body-footer-height: 30px
$registration-page-body-border-radius: 4px

$registration-step-btn-desktop-width: 100px

$registration-main-color: #375a6e
$registration-background-desktop: #F7F8F3
$registration-header-background-desktop: #f4f4f4


