%section.top-panel
  .container-fluid
    .row
      .col-md-2
        %a.btn{:href => "/conversations"}
          %span.fa.fa-reply
          Сообщения
      .col-md-10.text-right
        %a.btn-link-plain.btn-link-gray{href: '/users/2'}
          %img.member-box-avatar-image-small.conference-members-avatar-image{:src => data.avatars.last[:url], :alt => "", :width => "40px", :height => "40px"}
          Эльвир Нуриахметов
