section.search-worker-for-community {
  @extend section.search-user-for-community;
  top: 33px;
  width: 448px;
  .results {
    ul {
      &, > li {
        width: 100%;
        position: relative;
      }
      li.header {
        background: #dbe3e6;
        color: #646665;
        line-height: 32px;
        padding-top: 4px;
        @include bordered-bottom;
        font-weight: bold;
      }
      > li > * {
        @include inline-block;
        .user {
          width: 210px;
          @include truncate;
        }
        .job {
          width: 200px;
        }
      }
    }
  }
}

section.new-worker {
  @extend section.invite-participiant;
}

.workers-list-column {
  @extend section.list-column;
  ul li {
    > * {
      padding: 0 0.9%;
    }
    .title {
      width: 240px;
      font-weight: bold;
    }
    .department {
      width: 200px;
    }
    .job {
      width: 300px;
    }
    &.header ~ li {
      > * {
        padding-top: 3px;
        padding-bottom: 3px;
      }
    }
  }
}
