$subscription-mails-main-font-size: 14px 
$subscription-mail-footer-font-color: #d3d3d3

.subscription-mail-container  
  width: 50%
  margin: 50px auto
  font-size: $subscription-mails-main-font-size
  font-weight: 500

.subscription-mail-logo
  text-align: center
  margin: 1em auto 2em

.subscription-mail-header
  margin-bottom: 1.5em

.subscription-mail-body
  margin-bottom: 2em

.subscription-mail-subheader
  font-weight: 600
  margin: 30px auto

.subscription-mail-footer
  color: $subscription-mail-footer-font-color
