.col-md-11{"data-url" => "/api/web/communities/205/statistic_items", "role-community-distribution-running-tasks-chart" => "ready", :style => "min-height:420px;"}
  .community-distribution-running-tasks-chart-fields
    %h2{:style => "padding-bottom:20px;"}
      Распределение всех запущенных задач в сообществе 'wfwerfergrtg trg t5g 5g 5g5g5'
  .community-distribution-running-tasks-chart-container{"data-kind" => "distribution_running_tasks", "data-url" => "/api/web/communities/205/statistic_items", :role => "community-distribution-running-tasks-chart"}
    .c3{:style => "opacity: 1; max-height: 320px; position: relative;"}
      %svg{:height => "320", :style => "overflow: hidden;", :width => "1143.328125"}
        %defs
          %clippath#c3-1435926335678-clip
            %rect{:height => "296", :width => "1143.328125"}
          %clippath#c3-1435926335678-clip-xaxis
            %rect{:height => "40", :width => "1205.328125", :x => "-31", :y => "-20"}
          %clippath#c3-1435926335678-clip-yaxis
            %rect{:height => "320", :width => "20", :x => "-29", :y => "-4"}
          %clippath#c3-1435926335678-clip-grid
            %rect{:height => "296", :width => "1143.328125"}
          %clippath#c3-1435926335678-clip-subchart
            %rect{:width => "1143.328125"}
        %g{:transform => "translate(0.5,4.5)"}
          %text.c3-text.c3-empty{"dominant-baseline" => "middle", :style => "opacity: 0;", "text-anchor" => "middle", :x => "571.6640625", :y => "148"}
          %rect.c3-zoom-rect{:height => "296", :style => "opacity: 0;", :width => "1143.328125"}
          %g.c3-regions{"clip-path" => "url(http://edge3.iq300.ru/communities/205/statistic_items#c3-1435926335678-clip)", :style => "visibility: hidden;"}
          %g.c3-grid{"clip-path" => "url(http://edge3.iq300.ru/communities/205/statistic_items#c3-1435926335678-clip-grid)", :style => "visibility: hidden;"}
            %g.c3-xgrid-focus
              %line.c3-xgrid-focus{:style => "visibility: hidden;", :x1 => "-10", :x2 => "-10", :y1 => "0", :y2 => "296"}
          %g.c3-chart{"clip-path" => "url(http://edge3.iq300.ru/communities/205/statistic_items#c3-1435926335678-clip)"}
            %g.c3-event-rects.c3-event-rects-single{:style => "fill-opacity: 0;"}
              %rect.c3-event-rect.c3-event-rect-0{:height => "296", :width => "1143.328125", :x => "0.3359375", :y => "0"}
            %g.c3-chart-bars
              %g.c3-chart-bar.c3-target{:class => "c3-target-В-проекте", :style => "opacity: 1; pointer-events: none;"}
                %g.c3-shapes.c3-bars{:class => "c3-shapes-В-проекте c3-bars-В-проекте", :style => "cursor: pointer;"}
              %g.c3-chart-bar.c3-target{:class => "c3-target-Вне-проекта", :style => "opacity: 1; pointer-events: none;"}
                %g.c3-shapes.c3-bars{:class => "c3-shapes-Вне-проекта c3-bars-Вне-проекта", :style => "cursor: pointer;"}
            %g.c3-chart-lines
              %g.c3-chart-line.c3-target{:class => "c3-target-В-проекте", :style => "opacity: 1; pointer-events: none;"}
                %g.c3-shapes.c3-lines{:class => "c3-shapes-В-проекте c3-lines-В-проекте"}
                %g.c3-shapes.c3-areas{:class => "c3-shapes-В-проекте c3-areas-В-проекте"}
                %g.c3-selected-circles{:class => "c3-selected-circles-В-проекте"}
                %g.c3-shapes.c3-circles{:class => "c3-shapes-В-проекте c3-circles-В-проекте", :style => "cursor: pointer;"}
              %g.c3-chart-line.c3-target{:class => "c3-target-Вне-проекта", :style => "opacity: 1; pointer-events: none;"}
                %g.c3-shapes.c3-lines{:class => "c3-shapes-Вне-проекта c3-lines-Вне-проекта"}
                %g.c3-shapes.c3-areas{:class => "c3-shapes-Вне-проекта c3-areas-Вне-проекта"}
                %g.c3-selected-circles{:class => "c3-selected-circles-Вне-проекта"}
                %g.c3-shapes.c3-circles{:class => "c3-shapes-Вне-проекта c3-circles-Вне-проекта", :style => "cursor: pointer;"}
            %g.c3-chart-arcs{:transform => "translate(571.6640625,143)"}
              %text.c3-chart-arcs-title{:style => "text-anchor: middle; opacity: 0;"}
              %g.c3-chart-arc.c3-target{:class => "c3-target-В-проекте"}
                %g.c3-shapes.c3-arcs{:class => "c3-shapes-В-проекте c3-arcs-В-проекте"}
                  %path.c3-shape.c3-shape.c3-arc{:class => "c3-arc-В-проекте", :d => "M-129.2010277386966,-41.979958685836586A135.85,135.85 0 0,1 -2.4955240149625186e-14,-135.85L0,0Z", :style => "fill: rgb(31, 119, 180); cursor: pointer; opacity: 1;", :transform => ""}
                %text{:dy => ".35em", :style => "opacity: 1; text-anchor: middle; pointer-events: none;", :transform => "translate(-63.880501219146,-87.92396694866927)"} 2
              %g.c3-chart-arc.c3-target{:class => "c3-target-Вне-проекта"}
                %g.c3-shapes.c3-arcs{:class => "c3-shapes-Вне-проекта c3-arcs-Вне-проекта"}
                  %path.c3-shape.c3-shape.c3-arc{:class => "c3-arc-Вне-проекта", :d => "M8.318413383208396e-15,-135.85A135.85,135.85 0 1,1 -129.2010277386966,-41.979958685836586L0,0Z", :style => "fill: rgb(255, 127, 14); cursor: pointer; opacity: 1;", :transform => ""}
                %text{:dy => ".35em", :style => "opacity: 1; text-anchor: middle; pointer-events: none;", :transform => "translate(63.880501219145984,87.92396694866929)"} 8
            %g.c3-chart-texts
              %g.c3-chart-text.c3-target{:class => "c3-target-В-проекте", :style => "opacity: 1; pointer-events: none;"}
                %g.c3-texts{:class => "c3-texts-В-проекте"}
              %g.c3-chart-text.c3-target{:class => "c3-target-Вне-проекта", :style => "opacity: 1; pointer-events: none;"}
                %g.c3-texts{:class => "c3-texts-Вне-проекта"}
          %g.c3-grid.c3-grid-lines{"clip-path" => "url(http://edge3.iq300.ru/communities/205/statistic_items#c3-1435926335678-clip-grid)"}
            %g.c3-xgrid-lines
            %g.c3-ygrid-lines
          %g.c3-axis.c3-axis-x{"clip-path" => "url(http://edge3.iq300.ru/communities/205/statistic_items#c3-1435926335678-clip-xaxis)", :style => "visibility: visible; opacity: 0;", :transform => "translate(0,296)"}
            %text.c3-axis-x-label{:dx => "-0.5em", :dy => "-0.5em", :style => "text-anchor: end;", :transform => "", :x => "1143.328125"}
            %g.tick{:style => "opacity: 1;", :transform => "translate(572, 0)"}
              %line{:x1 => "0", :x2 => "0", :y2 => "6"}
              %text{:style => "text-anchor: middle; display: block;", :transform => "", :x => "0", :y => "9"}
                %tspan{:dx => "0", :dy => ".71em", :x => "0"} 0
            %path.domain{:d => "M0,6V0H1143.328125V6"}
          %g.c3-axis.c3-axis-y{"clip-path" => "url(http://edge3.iq300.ru/communities/205/statistic_items#c3-1435926335678-clip-yaxis)", :style => "visibility: visible; opacity: 0;", :transform => "translate(0,0)"}
            %text.c3-axis-y-label{:dx => "-0.5em", :dy => "1.2em", :style => "text-anchor: end;", :transform => "rotate(-90)", :x => "0"}
            %g.tick{:style => "opacity: 1;", :transform => "translate(0,272)"}
              %line{:x2 => "-6"}
              %text{:style => "text-anchor: end;", :x => "-9", :y => "0"}
                %tspan{:dy => "3", :x => "-9"} 2
            %g.tick{:style => "opacity: 1;", :transform => "translate(0,231)"}
              %line{:x2 => "-6"}
              %text{:style => "text-anchor: end;", :x => "-9", :y => "0"}
                %tspan{:dy => "3", :x => "-9"} 3
            %g.tick{:style => "opacity: 1;", :transform => "translate(0,190)"}
              %line{:x2 => "-6"}
              %text{:style => "text-anchor: end;", :x => "-9", :y => "0"}
                %tspan{:dy => "3", :x => "-9"} 4
            %g.tick{:style => "opacity: 1;", :transform => "translate(0,149)"}
              %line{:x2 => "-6"}
              %text{:style => "text-anchor: end;", :x => "-9", :y => "0"}
                %tspan{:dy => "3", :x => "-9"} 5
            %g.tick{:style => "opacity: 1;", :transform => "translate(0,108)"}
              %line{:x2 => "-6"}
              %text{:style => "text-anchor: end;", :x => "-9", :y => "0"}
                %tspan{:dy => "3", :x => "-9"} 6
            %g.tick{:style => "opacity: 1;", :transform => "translate(0,67)"}
              %line{:x2 => "-6"}
              %text{:style => "text-anchor: end;", :x => "-9", :y => "0"}
                %tspan{:dy => "3", :x => "-9"} 7
            %g.tick{:style => "opacity: 1;", :transform => "translate(0,26)"}
              %line{:x2 => "-6"}
              %text{:style => "text-anchor: end;", :x => "-9", :y => "0"}
                %tspan{:dy => "3", :x => "-9"} 8
            %path.domain{:d => "M-6,1H0V296H-6"}
          %g.c3-axis.c3-axis-y2{:style => "visibility: hidden; opacity: 0;", :transform => "translate(1143.328125,0)"}
            %text.c3-axis-y2-label{:dx => "-0.5em", :dy => "-0.5em", :style => "text-anchor: end;", :transform => "rotate(-90)", :x => "0"}
            %g.tick{:style => "opacity: 1;", :transform => "translate(0,296)"}
              %line{:x2 => "6", :y2 => "0"}
              %text{:style => "text-anchor: start;", :x => "9", :y => "0"}
                %tspan{:dy => "3", :x => "9"} 0
            %g.tick{:style => "opacity: 1;", :transform => "translate(0,267)"}
              %line{:x2 => "6", :y2 => "0"}
              %text{:style => "text-anchor: start;", :x => "9", :y => "0"}
                %tspan{:dy => "3", :x => "9"} 0.1
            %g.tick{:style => "opacity: 1;", :transform => "translate(0,237)"}
              %line{:x2 => "6", :y2 => "0"}
              %text{:style => "text-anchor: start;", :x => "9", :y => "0"}
                %tspan{:dy => "3", :x => "9"} 0.2
            %g.tick{:style => "opacity: 1;", :transform => "translate(0,208)"}
              %line{:x2 => "6", :y2 => "0"}
              %text{:style => "text-anchor: start;", :x => "9", :y => "0"}
                %tspan{:dy => "3", :x => "9"} 0.3
            %g.tick{:style => "opacity: 1;", :transform => "translate(0,178)"}
              %line{:x2 => "6", :y2 => "0"}
              %text{:style => "text-anchor: start;", :x => "9", :y => "0"}
                %tspan{:dy => "3", :x => "9"} 0.4
            %g.tick{:style => "opacity: 1;", :transform => "translate(0,149)"}
              %line{:x2 => "6", :y2 => "0"}
              %text{:style => "text-anchor: start;", :x => "9", :y => "0"}
                %tspan{:dy => "3", :x => "9"} 0.5
            %g.tick{:style => "opacity: 1;", :transform => "translate(0,119)"}
              %line{:x2 => "6", :y2 => "0"}
              %text{:style => "text-anchor: start;", :x => "9", :y => "0"}
                %tspan{:dy => "3", :x => "9"} 0.6
            %g.tick{:style => "opacity: 1;", :transform => "translate(0,90)"}
              %line{:x2 => "6", :y2 => "0"}
              %text{:style => "text-anchor: start;", :x => "9", :y => "0"}
                %tspan{:dy => "3", :x => "9"} 0.7
            %g.tick{:style => "opacity: 1;", :transform => "translate(0,60)"}
              %line{:x2 => "6", :y2 => "0"}
              %text{:style => "text-anchor: start;", :x => "9", :y => "0"}
                %tspan{:dy => "3", :x => "9"} 0.8
            %g.tick{:style => "opacity: 1;", :transform => "translate(0,31)"}
              %line{:x2 => "6", :y2 => "0"}
              %text{:style => "text-anchor: start;", :x => "9", :y => "0"}
                %tspan{:dy => "3", :x => "9"} 0.9
            %g.tick{:style => "opacity: 1;", :transform => "translate(0,1)"}
              %line{:x2 => "6", :y2 => "0"}
              %text{:style => "text-anchor: start;", :x => "9", :y => "0"}
                %tspan{:dy => "3", :x => "9"} 1
            %path.domain{:d => "M6,1H0V296H6"}
        %g{:style => "visibility: hidden;", :transform => "translate(0.5,320.5)"}
          %g.c3-chart{"clip-path" => "url(http://edge3.iq300.ru/communities/205/statistic_items#c3-1435926335678-clip-subchart)"}
            %g.c3-chart-bars
            %g.c3-chart-lines
          %g.c3-brush{"clip-path" => "url(http://edge3.iq300.ru/communities/205/statistic_items#c3-1435926335678-clip)", :style => "pointer-events: all; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"}
            %rect.background{:style => "visibility: hidden; cursor: crosshair;", :width => "0", :x => "0"}
            %rect.extent{:style => "cursor: move;", :width => "0", :x => "0"}
            %g.resize.e{:style => "cursor: ew-resize; display: none;", :transform => "translate(0,0)"}
              %rect{:height => "6", :style => "visibility: hidden;", :width => "6", :x => "-3"}
            %g.resize.w{:style => "cursor: ew-resize; display: none;", :transform => "translate(0,0)"}
              %rect{:height => "6", :style => "visibility: hidden;", :width => "6", :x => "-3"}
          %g.c3-axis-x{"clip-path" => "url(http://edge3.iq300.ru/communities/205/statistic_items#c3-1435926335678-clip-xaxis)", :style => "opacity: 0;", :transform => "translate(0,0)"}
            %g.tick{:style => "opacity: 1;", :transform => "translate(572, 0)"}
              %line{:x1 => "0", :x2 => "0", :y2 => "6"}
              %text{:style => "text-anchor: middle; display: block;", :transform => "", :x => "0", :y => "9"}
                %tspan{:dx => "0", :dy => ".71em", :x => "0"} 0
            %path.domain{:d => "M0,6V0H1143.328125V6"}
        %g{:transform => "translate(0,300)"}
          %g.c3-legend-item{:class => "c3-legend-item-В-проекте", :style => "visibility: visible; cursor: pointer;"}
            %text{:style => "pointer-events: none;", :x => "501.703125", :y => "9"} В проекте
            %rect.c3-legend-item-event{:height => "18", :style => "fill-opacity: 0;", :width => "82.28125", :x => "487.703125", :y => "-5"}
            %rect.c3-legend-item-tile{:height => "10", :style => "pointer-events: none; fill: rgb(31, 119, 180);", :width => "10", :x => "487.703125", :y => "0"}
          %g.c3-legend-item{:class => "c3-legend-item-Вне-проекта", :style => "visibility: visible; cursor: pointer;"}
            %text{:style => "pointer-events: none;", :x => "583.984375", :y => "9"} Вне проекта
            %rect.c3-legend-item-event{:height => "18", :style => "fill-opacity: 0;", :width => "85.640625", :x => "569.984375", :y => "-5"}
            %rect.c3-legend-item-tile{:height => "10", :style => "pointer-events: none; fill: rgb(255, 127, 14);", :width => "10", :x => "569.984375", :y => "0"}
      .c3-tooltip-container{:style => "position: absolute; pointer-events: none; display: none;"}
