---
layout: page
---

.container
  .row
    .col-xs-6
      %div{"data-reactid" => ".3.1.1.0.0"}
        %article{"data-reactid" => ".3.1.1.0.0.$16"}
          .crm-clients-list-card{"data-reactid" => ".3.1.1.0.0.$16.0"}
            %a{"data-reactid" => ".3.1.1.0.0.$16.0.0", :href => "/crm/communities/247/clients/16/info"}
              .row{"data-reactid" => ".3.1.1.0.0.$16.0.0.0"}
                .col-md-3{"data-reactid" => ".3.1.1.0.0.$16.0.0.0.0"}
                  .crm-clients-list-card-title.content-group-xs{"data-reactid" => ".3.1.1.0.0.$16.0.0.0.0.0"}
                    %span.small.text-color-gray{"data-reactid" => ".3.1.1.0.0.$16.0.0.0.0.0.0"}
                      %span{"data-reactid" => ".3.1.1.0.0.$16.0.0.0.0.0.0.0"} #
                      %span{"data-reactid" => ".3.1.1.0.0.$16.0.0.0.0.0.0.1"} 16
                    %span{"data-reactid" => ".3.1.1.0.0.$16.0.0.0.0.0.1"}  
                    %strong{"data-reactid" => ".3.1.1.0.0.$16.0.0.0.0.0.2"} test client
                .col-md-2{"data-reactid" => ".3.1.1.0.0.$16.0.0.0.1"}
                  %small.text-muted{"data-reactid" => ".3.1.1.0.0.$16.0.0.0.1.0"} Контактное лицо
                  %br{"data-reactid" => ".3.1.1.0.0.$16.0.0.0.1.1"}/
                  %div{"data-reactid" => ".3.1.1.0.0.$16.0.0.0.1.2"}
                    %span.btn-link.btn-link-primary{"data-reactid" => ".3.1.1.0.0.$16.0.0.0.1.2.0"} Таггарт Дэгни
                    %br{"data-reactid" => ".3.1.1.0.0.$16.0.0.0.1.2.1"}/
                    %span{"data-reactid" => ".3.1.1.0.0.$16.0.0.0.1.2.2"} ddd
                .col-md-2{"data-reactid" => ".3.1.1.0.0.$16.0.0.0.2"}
                  %small.text-muted{"data-reactid" => ".3.1.1.0.0.$16.0.0.0.2.0"} Ответственный
                  %br{"data-reactid" => ".3.1.1.0.0.$16.0.0.0.2.1"}/
                  %object{"data-reactid" => ".3.1.1.0.0.$16.0.0.0.2.2"}
                    %a{"data-reactid" => ".3.1.1.0.0.$16.0.0.0.2.2.0"} Артур Шайдуллин
                .col-md-2{"data-reactid" => ".3.1.1.0.0.$16.0.0.0.3"}
                  %small.text-muted{"data-reactid" => ".3.1.1.0.0.$16.0.0.0.3.0"} Канал
                  %br{"data-reactid" => ".3.1.1.0.0.$16.0.0.0.3.1"}/
                .col-md-2{"data-reactid" => ".3.1.1.0.0.$16.0.0.0.4"}
                  %small.text-muted{"data-reactid" => ".3.1.1.0.0.$16.0.0.0.4.0"} Последняя активность
                  %br{"data-reactid" => ".3.1.1.0.0.$16.0.0.0.4.1"}/
                  %span.link-gray{"aria-describedby" => "1479828743611", "data-reactid" => ".3.1.1.0.0.$16.0.0.0.4.2"} 14.01.2016 16:23
                .col-md-1.dropdown{"data-reactid" => ".3.1.1.0.0.$16.0.0.0.5"}
                  %button.project-task-box-actions-btn.pull-right{"data-reactid" => ".3.1.1.0.0.$16.0.0.0.5.0", "data-toggle" => "dropdown"}
                    %i.fa.fa-bars.icon-color-gray-light.project-task-box-actions-icon{"data-reactid" => ".3.1.1.0.0.$16.0.0.0.5.0.0"}
                  %ul.dropdown-menu.dropdown-menu-right{"data-reactid" => ".3.1.1.0.0.$16.0.0.0.5.1"}
                    %li{"data-reactid" => ".3.1.1.0.0.$16.0.0.0.5.1.0"}
                      %object{"data-reactid" => ".3.1.1.0.0.$16.0.0.0.5.1.0.0"}
                        %a.btn.btn-link{"data-reactid" => ".3.1.1.0.0.$16.0.0.0.5.1.0.0.0", :href => "/crm/communities/247/clients/16/edit"} Редактировать
                    %li{"data-reactid" => ".3.1.1.0.0.$16.0.0.0.5.1.1"}
                      %object{"data-reactid" => ".3.1.1.0.0.$16.0.0.0.5.1.1.0"}
                        %a.btn.btn-link{"data-reactid" => ".3.1.1.0.0.$16.0.0.0.5.1.1.0.0", :href => "/crm/communities/247/deals/new?client_id=16&responsible_id=16&client_contact_id=8"} Добавить сделку
                    %li{"data-reactid" => ".3.1.1.0.0.$16.0.0.0.5.1.2"}
                      %object{"data-reactid" => ".3.1.1.0.0.$16.0.0.0.5.1.2.0"}
                        %a.btn.btn-link{"data-reactid" => ".3.1.1.0.0.$16.0.0.0.5.1.2.0.0"} Добавить проект
                    %li{"data-reactid" => ".3.1.1.0.0.$16.0.0.0.5.1.3"}
                      %span.btn.btn-link{"data-reactid" => ".3.1.1.0.0.$16.0.0.0.5.1.3.0"} Удалить клиента
            .row{"data-reactid" => ".3.1.1.0.0.$16.0.1"}
              .col-md-12{"data-reactid" => ".3.1.1.0.0.$16.0.1.0"}
                %a.pull-right{"data-reactid" => ".3.1.1.0.0.$16.0.1.0.0"}
                  %span{"data-reactid" => ".3.1.1.0.0.$16.0.1.0.0.0"} Сделки
                  %span{"data-reactid" => ".3.1.1.0.0.$16.0.1.0.0.1"}  
                  %i.fa.icon-color-gray-light.fa-angle-down{"data-reactid" => ".3.1.1.0.0.$16.0.1.0.0.2"}

