---
layout: page
---

= partial '/ui/nav', locals: {active: :index}

.container-fluid
  #banner.page-header
    .row
      .col-lg-8.col-md-7.col-sm-6
        .content-group
          %h1 Iq300 UI kit
        .content-group
          .content-group
            %h3 Интерактивный прогресс–бар
          .progress.slider-progress
            .progress-bar.slider-progress-bar-primary{"aria-describedby" => "dealsPprogressTooltip-25-negotiation", :style => "width:25%;cursor:pointer;"}
            .progress-bar.slider-progress-bar-primary{"aria-describedby" => "dealsPprogressTooltip-25-negotiation", :style => "width:25%;cursor:pointer;"}
            .progress-bar.slider-progress-bar-primary{"aria-describedby" => "dealsPprogressTooltip-25-negotiation", :style => "width:25%;cursor:pointer;"}
            .progress-bar.slider-progress-bar-transparent{"aria-describedby" => "dealsPprogressTooltip-25-finish", :style => "width:25%;cursor:pointer;"}
          .progress.slider-progress
            .progress-bar.slider-progress-bar-danger{"aria-describedby" => "dealsPprogressTooltip-25-processing", :style => "width:25%;cursor:pointer;"}
            .progress-bar.slider-progress-bar-danger{"aria-describedby" => "dealsPprogressTooltip-25-processing", :style => "width:25%;cursor:pointer;"}
            .progress-bar.slider-progress-bar-danger{"aria-describedby" => "dealsPprogressTooltip-25-processing", :style => "width:25%;cursor:pointer;"}
            .progress-bar.slider-progress-bar-transparent{"aria-describedby" => "dealsPprogressTooltip-25-finish", :style => "width:25%;cursor:pointer;"}
          .progress.slider-progress
            .progress-bar.slider-progress-bar-warning{"aria-describedby" => "dealsPprogressTooltip-25-proposal", :style => "width:25%;cursor:pointer;"}
            .progress-bar.slider-progress-bar-warning{"aria-describedby" => "dealsPprogressTooltip-25-proposal", :style => "width:25%;cursor:pointer;"}
            .progress-bar.slider-progress-bar-warning{"aria-describedby" => "dealsPprogressTooltip-25-proposal", :style => "width:25%;cursor:pointer;"}
            .progress-bar.slider-progress-bar-transparent{"aria-describedby" => "dealsPprogressTooltip-25-finish", :style => "width:25%;cursor:pointer;"}

