.bootstrap-datetimepicker-widget.dropdown-menu.usetwentyfour.bottom.pull-right{:style => "top: 106px; left: 981.969px;"}
  %ul.list-unstyled
    %li
      .datepicker
        .datepicker-days{:style => "display: block;"}
          %table.table-condensed
            %thead
              %tr
                %th.prev.disabled{"data-action" => "previous"}
                  %span.fa.fa-angle-left.datetimepicker-icon
                %th.picker-switch{:colspan => "5", "data-action" => "pickerSwitch"} июнь 2015
                %th.next.disabled{"data-action" => "next"}
                  %span.fa.fa-angle-right.datetimepicker-icon
              %tr
                %th.dow пн
                %th.dow вт
                %th.dow ср
                %th.dow чт
                %th.dow пт
                %th.dow сб
                %th.dow вс
            %tbody
              %tr
                %td.day.disabled{"data-action" => "selectDay"} 1
                %td.day.disabled{"data-action" => "selectDay"} 2
                %td.day.active{"data-action" => "selectDay"} 3
                %td.day.disabled{"data-action" => "selectDay"} 4
                %td.day.disabled{"data-action" => "selectDay"} 5
                %td.day.disabled.weekend{"data-action" => "selectDay"} 6
                %td.day.disabled.weekend{"data-action" => "selectDay"} 7
              %tr
                %td.day.disabled{"data-action" => "selectDay"} 8
                %td.day.disabled{"data-action" => "selectDay"} 9
                %td.day.disabled{"data-action" => "selectDay"} 10
                %td.day.disabled{"data-action" => "selectDay"} 11
                %td.day.disabled{"data-action" => "selectDay"} 12
                %td.day.disabled.weekend{"data-action" => "selectDay"} 13
                %td.day.disabled.weekend{"data-action" => "selectDay"} 14
              %tr
                %td.day.disabled{"data-action" => "selectDay"} 15
                %td.day.disabled{"data-action" => "selectDay"} 16
                %td.day.disabled{"data-action" => "selectDay"} 17
                %td.day.disabled{"data-action" => "selectDay"} 18
                %td.day.disabled{"data-action" => "selectDay"} 19
                %td.day.disabled.weekend{"data-action" => "selectDay"} 20
                %td.day.disabled.weekend{"data-action" => "selectDay"} 21
              %tr
                %td.day.disabled{"data-action" => "selectDay"} 22
                %td.day.disabled{"data-action" => "selectDay"} 23
                %td.day.disabled{"data-action" => "selectDay"} 24
                %td.day.disabled{"data-action" => "selectDay"} 25
                %td.day.disabled{"data-action" => "selectDay"} 26
                %td.day.disabled.weekend{"data-action" => "selectDay"} 27
                %td.day.disabled.weekend{"data-action" => "selectDay"} 28
              %tr
                %td.day.disabled{"data-action" => "selectDay"} 29
                %td.day.disabled{"data-action" => "selectDay"} 30
                %td.day.new.disabled{"data-action" => "selectDay"} 1
                %td.day.new.disabled{"data-action" => "selectDay"} 2
                %td.day.new.disabled{"data-action" => "selectDay"} 3
                %td.day.new.disabled.weekend{"data-action" => "selectDay"} 4
                %td.day.new.disabled.weekend{"data-action" => "selectDay"} 5
        .datepicker-months{:style => "display: none;"}
          %table.table-condensed
            %thead
              %tr
                %th.prev.disabled{"data-action" => "previous"}
                  %span.fa.fa-angle-left.datetimepicker-icon
                %th.picker-switch{:colspan => "5", "data-action" => "pickerSwitch"} 2015
                %th.next.disabled{"data-action" => "next"}
                  %span.fa.fa-angle-right.datetimepicker-icon
            %tbody
              %tr
                %td{:colspan => "7"}
                  %span.month.disabled{"data-action" => "selectMonth"} янв
                  %span.month.disabled{"data-action" => "selectMonth"} фев
                  %span.month.disabled{"data-action" => "selectMonth"} март
                  %span.month.disabled{"data-action" => "selectMonth"} апр
                  %span.month.disabled{"data-action" => "selectMonth"} май
                  %span.month.active{"data-action" => "selectMonth"} июнь
                  %span.month.disabled{"data-action" => "selectMonth"} июль
                  %span.month.disabled{"data-action" => "selectMonth"} авг
                  %span.month.disabled{"data-action" => "selectMonth"} сен
                  %span.month.disabled{"data-action" => "selectMonth"} окт
                  %span.month.disabled{"data-action" => "selectMonth"} ноя
                  %span.month.disabled{"data-action" => "selectMonth"} дек
        .datepicker-years{:style => "display: none;"}
          %table.table-condensed
            %thead
              %tr
                %th.prev.disabled{"data-action" => "previous"}
                  %span.fa.fa-angle-left.datetimepicker-icon
                %th.picker-switch{:colspan => "5", "data-action" => "pickerSwitch"} 2010-2021
                %th.next.disabled{"data-action" => "next"}
                  %span.fa.fa-angle-right.datetimepicker-icon
            %tbody
              %tr
                %td{:colspan => "7"}
                  %span.year.disabled{"data-action" => "selectYear"} 2010
                  %span.year.disabled{"data-action" => "selectYear"} 2011
                  %span.year.disabled{"data-action" => "selectYear"} 2012
                  %span.year.disabled{"data-action" => "selectYear"} 2013
                  %span.year.disabled{"data-action" => "selectYear"} 2014
                  %span.year.active{"data-action" => "selectYear"} 2015
                  %span.year.disabled{"data-action" => "selectYear"} 2016
                  %span.year.disabled{"data-action" => "selectYear"} 2017
                  %span.year.disabled{"data-action" => "selectYear"} 2018
                  %span.year.disabled{"data-action" => "selectYear"} 2019
                  %span.year.disabled{"data-action" => "selectYear"} 2020
                  %span.year.disabled{"data-action" => "selectYear"} 2021
    %li.picker-switch.accordion-toggle
      %table.table-condensed
        %tbody
          %tr
            %td
              %a{"data-action" => "today"}
                %span.fa.fa-crosshairs.datetimepicker-icon
            %td
              %a{"data-action" => "close"}
                %span.fa.fa-times.datetimepicker-icon

