%nav.nav-global.menu-list.menu-list-initialized{"data-channel" => "presence-1757:notifications", "data-remote" => "true"}
  .logo
    %a{href: "/", title: "IQ300 System"}
      %img.image-x1.img-corrector-initialized{alt: "IQ300", src: "/assets/logo_x1_new.png"}/
      %img.image-x2.img-corrector-initialized{alt: "IQ300", src: "/assets/logo_x2_new.png"}/
  %ul
    %li.menu-item.notifications{"data-params" => "{\"folder\":\"new\"}", "data-url" => "/notifications"}
      .html-notifier.html-notifier-initialized{"data-channel" => "presence-1757:notifications", "data-redirect-url" => "/notifications?folder=new", "data-url" => "/notifications.count?folder=new"}
        %audio#notice-audio
          %source{src: "/audios/notify.wav", type: "audio/wav"}
      %a{href: "/notifications"}
        .picture
          %i.icon-bell
          %sup 3
        %span Уведомления
    %li.menu-item.tasks{"data-params" => "{\"overview\":1757}", "data-url" => "/tasks"}
      %a{href: "/tasks"}
        .picture
          %i.icon-list-alt
        %span Задачи
    %li.active.menu-item.projects.not-initialize{"data-params" => "null", "data-url" => "/projects"}
      %a{href: "/projects?folder=in_work"}
        .picture
          %i.icon-books
        %span Проекты
    %li.menu-item.calendars.not-initialize{"data-params" => "null", "data-url" => "/calendar"}
      %a{href: "/calendar"}
        .picture
          %i.icon-calendar
        %span Календарь
    %li.menu-item.communities.not-initialize{"data-params" => "null", "data-url" => "/communities"}
      %a{href: "/communities?folder=my"}
        .picture
          %i.icon-briefcase
        %span Сообщества
    %li.menu-item.docs.not-initialize{"data-params" => "null", "data-url" => "/docs"}
      %a{href: "/docs?folder=my"}
        .picture
          %i.icon-paste
        %span Документы
    %li.menu-item.conversations{"data-params" => "{\"folder\":\"new\"}", "data-url" => "/conversations"}
      %a{href: "/conversations"}
        .picture
          %i.icon-comment-alt
        %span Сообщения
    %li.menu-item.contacts.not-initialize{"data-params" => "null", "data-url" => "/contacts"}
      %a{href: "/contacts?folder=all"}
        .picture
          %i.icon-group
        %span Контакты

