#step-0.popover.tour-tour.tour-tour-0.fade.right.in{:role => "tooltip", :style => "height: initial; width: 285px; max-width: 285px; top: 90.5px; left: 304px; display: block;"}
  .arrow{:style => "top: 50%;"}
  %h3.popover-title Подсказка 1 из 4
  .popover-content В этом поле отображаются фильтры первого уровня раздела Проекты.
  .popover-navigation
    .btn-group
      %button.btn.btn-sm.btn-default.disabled{"data-role" => "prev"} Назад
      %button.btn.btn-sm.btn-primary{"data-role" => "next"} Далее
    %button.btn.btn-sm.btn-default{"data-role" => "end"} ОK
