.panel.panel-lg.panel-default
  .panel-body
    .row
      .col-md-6
        .community-profile.content-group
          %h2.community-profile-contacts-title Информация и контакты
          .content-group-sm
            Кабельные и беспроводные сети. Оборудование для IT-коммуникаций
          %ul.unstyled-list
            %li Телефон: +7 (8552) 30-55-42
            %li
              %a{:href => "#"} http://www.starbucks.com
            %li
              %a{:href => "#"} E-mail: welcome@romaska.ru
      .col-md-6
        %h2.community-profile-contacts-title Последняя активность
        - for i in 0..3
          .content-group-sm
            14.01.2016 16:23
            %a Артур Шайдуллин
            добавил контакт
            %a Таггарт Дэгни


