.input-group-inline-label {
  display: inline-block;
  font-weight: normal;
  margin-right: 1em;
  padding: 0.5em 0;
}

.input-group-inline-dash {
  @extend .input-group-inline-label;
  padding-top: 0.3em;
  margin: {
    left: 0.7em;
    right: 0.7em;
  }
}

.input-group-inline-block {
  @extend .input-group-inline;
  margin-bottom: 0.5em;
}

.input-group-inline-block-link {
  display: inline-block;
  padding: $font-size-base*0.7;
  &:first-child {
    padding-left: 0;
  }
  &:last-child {
    padding-right: 0;
  }
}
