.header-global
  position: relative
  z-index: $header-z-index
  height: $headerHeight
  line-height: $headerHeight
  padding-left: $navColumnWidth
  background-color: transparent
  .logo
    position: absolute
    display: block
    left: 14px
    top: 14px
    height: 30px
    width: 70px
    background:
      image: url("#{$images-path}/logo-blue.png")
      image: url("#{$images-path}/logo-blue.svg")
      repeat: no-repeat
      size: contain
    &.summa
      top: 8px
      height: 41px
      width: 64px
      background:
        image: url("#{$images-path}/logo-summa-small.png")
        position: center
  .app-version
    font-size: 80%
    font-weight: bold
    margin-left: 1em
    color: red
  .user-nav
    float: right
    height: $headerHeight
    padding-right: 20px
    .userpic
      display: inline-block
      height: $headerHeight
      vertical-align: middle
      img
        border-radius: 100%
        display: inline-block
        margin: floor(($headerHeight - $user-avatar-width) / 2 + 2px) 0.5em 0 0
        width: $user-avatar-width
        height: $user-avatar-width
        box-sizing: border-box
        box-shadow: 0 0 0 1px rgba(#000, 0.1)

.user-nav-link
  color: inherit
  display: inline-block
  vertical-align: top
  line-height: $headerHeight - 1px
  &:hover
    text-decoration: none

.user-nav-btn
  padding:
    left: $grid-gutter-width/3
    right: $grid-gutter-width/3

.app-header-widget-button-icon
  display: inline-block
  font-size: 18px

.app-header-widget-button-text
  display: inline-block
  vertical-align: top

.header-back-btn
  @extend .btn
  @extend .btn-lg

.header-back-btn-icon
  @extend .fa
  @extend .fa-angle-left
  @extend .icon-size-16

//@media only screen and (min-width: 320px) and (max-width: 480px)
  .header-global
    display: none
    padding-left: $navColumnWidth / 2
    > .logo
      width: $navColumnWidth / 2 - 1
      height: $navColumnWidth / 2 - 1
      > a
        width: $navColumnWidth / 2 + 2
        height: $navColumnWidth / 2 + 2
        margin-left: -3px
        margin-top: -3px
        > img
          width: 47px
          height: 47px
        &:active
          width: $navColumnWidth / 2 + 1
          height: $navColumnWidth / 2 + 1
          margin-left: -2px
          margin-top: -2px

