.header-global
  position: relative
  z-index: 12
  height: $headerHeight
  line-height: $headerHeight
  padding-left: $navColumnWidth
  background-color: $headerBg
  .logo
    position: absolute
    display: block
    left: 14px
    top: 14px
    height: 30px
    width: 70px
    background:
      image: url("#{$images-path}/logo-blue.png")
      image: url("#{$images-path}/logo-blue.svg")
      repeat: no-repeat
      size: contain
  .app-version
    font-size: 80%
    font-weight: bold
    margin-left: 1em
    color: red
  .user-nav
    float: right
    height: $headerHeight
    padding-right: 20px
    .userpic
      display: inline-block
      height: $headerHeight
      vertical-align: middle
      img
        border-radius: 100%
        display: inline-block
        margin: floor(($headerHeight - $user-avatar-width - 2px) / 2) 0.5em 0 0
        border: 1px solid #ddd
        width: $user-avatar-width
        height: $user-avatar-width
    a
      color: inherit
      display: inline-block
      vertical-align: top
      line-height: $headerHeight
      margin-left: 16px
      padding-left: 20px
      border-left: 1px solid #e9e9e9

//@media only screen and (min-width: 320px) and (max-width: 480px)
  .header-global
    display: none
    padding-left: $navColumnWidth / 2
    > .logo
      width: $navColumnWidth / 2 - 1
      height: $navColumnWidth / 2 - 1
      > a
        width: $navColumnWidth / 2 + 2
        height: $navColumnWidth / 2 + 2
        margin-left: -3px
        margin-top: -3px
        > img
          width: 47px
          height: 47px
        &:active
          width: $navColumnWidth / 2 + 1
          height: $navColumnWidth / 2 + 1
          margin-left: -2px
          margin-top: -2px
