%content-column-block
  position: absolute
  top: $headerHeight
  bottom: 0
  overflow-y: auto
  +overflow-scrolling

%list-column-shadow
  +box-shadow(0 0 3px rgba(0, 0, 0, 0.2))

%list-column-block
  @extend %content-column-block
  left: $navColumnWidth + $filtersColumnWidth
  right: 0
  height: auto
  z-index: $content-column-z-index
  background-color: #fff
  @extend %list-column-shadow
  //@media screen and (max-width: $screen-sm-max)
    left: $navColumnWidth

%wide-column-block
  @extend %list-column-shadow
  left: $navColumnWidth

%filters-column-block
  @extend %content-column-block
  left: $navColumnWidth
  width: $filtersColumnWidth
  z-index: $filters-column-z-index
  background-color: $filters-column-background
  @extend %list-column-shadow
  //@media screen and (max-width: $screen-sm-max)
    display: none
