%content-column-block
  position: absolute
  top: $headerHeight
  bottom: 0
  overflow-y: auto
  +overflow-scrolling
  &.content-column-block-under-top-panel
    top: $headerHeight + $topPanelHeight

%list-column-shadow
  +box-shadow(0 0 3px rgba(0, 0, 0, 0.2))

%filters-column-block,
.filters-column-block
  @extend %content-column-block
  left: $navColumnWidth
  width: $filtersColumnWidth
  z-index: $filters-column-z-index
  background-color: $filters-column-background
  @extend %list-column-shadow
  @media screen and (max-width: $screen-sm-max)
    display: none

%list-column-block,
.list-column-block
  @extend %content-column-block
  left: $navColumnWidth + $filtersColumnWidth
  right: 0
  z-index: $content-column-z-index
  background-color: #fff
  @extend %list-column-shadow
  @media screen and (max-width: $screen-sm-max)
    left: $navColumnWidth

%wide-column-block
  @extend %list-column-shadow
  left: $navColumnWidth

%filters-column-block
%view-column-block,
.view-column-block
  @extend %content-column-block
  top: $headerHeight + $topPanelHeight
  left: $navColumnWidth
  right: 0
  z-index: $content-column-z-index
  background-color: #fff
  @extend %list-column-shadow

.filters-column
  @extend %filters-column-block

.list-column
  @extend %list-column-block
