$nav-item-highlight-color: $blue-brand
$nav-item-active-background: $blue-brand
$nav-item-active-color: white

.nav-global
  width: $navColumnWidth
  height: 100%
  position: relative
  z-index: 12
  background: $navigationBackground
  //overflow: hidden;
  overflow-x: hidden
  overflow-y: auto
  +transition(opacity 0.25s ease-out)
  +box-sizing(content-box)
  ul
    width: 100%
    > li
      width: 90%
      margin: 0 auto
      text-align: center
      border-bottom: 1px solid rgba(255, 255, 255, 0.1)
      +border-radius(4px)
      a
        display: block
        text-align: center
        padding: 4px 0 4px 0
        +transition(all 0.2s ease-out)
        +transition-property(background-color, border-color, color)
        border-top: 1px solid transparent
        border-bottom: 1px solid transparent
        color: $text-color-dark
        &:hover
          text-decoration: none
          &, .picture
            color: $nav-item-highlight-color
        .picture
          position: relative
          +inline-block
          margin-bottom: 4px
          width: 100%
          +box-sizing(border-box)
          font-size: 40px
          color: $text-color-light
          +transition(all 0.2s ease-out)
          +transition-property(color, background)
          > sup
            @extend %bubble-counter
            display: block
            position: absolute
            top: -2px
            right: 0%
            margin-right: 5px
            text-decoration: none
        > span
          display: block
          width: 100%
          font-size: 11px
          line-height: 11px
      &.active
        background: $nav-item-active-background
        position: relative
        a
          font-weight: bold
          &:hover
            background: transparent
          .picture
            color: $nav-item-active-color
          > span
            color: $nav-item-active-color

.navigation-kontur-popover
  max-width: 300px

.navigation-kontur-link
  a
    text-decoration: none

.navigation-kontur-more-link
  color: #3a87ad

.navigation-kontur-menu-item
  padding-top: 12px
  text-decoration: underline

.navigation-kontur-text
  vertical-align: top
  display: inline-block
  p
    max-width: 217px
    color: $notification

.navigation-kontur-image
  max-height: 40px
  padding-right: 10px
  padding-top: 5px
  display: inline-block