.top-panel
  background: #fff
  height: $topPanelHeight
  line-height: $topPanelHeight
  border-bottom: solid 1px rgba(#000, 0.1)
  +box-sizing(border-box)
  +clear
  > .pull-left
    > *
      float: left
    > a
      border-right: 1px solid $borderColor
      text-decoration: none
      min-width: $topPanelHeight
      height: $topPanelHeight
      color: inherit
      +inline-block
      +transition(all)
      +box-sizing(border-box)
      i
        font-size: 15px
        line-height: 14px
        position: relative
        top: 2px
    > .btn
      padding-top: 12px
      padding-bottom: 12px
      border: 0
      font-weight: 400
      line-height: 21px
      &:hover
        text-decoration: underline
  > .pull-right
    display: none
    text-align: right
    +children-inline

%active-switcher-button
  background: $brand-primary
  color: white

.top-panel-title
  font-size: $font-size-h4
  font-weight: bold
  text-align: center

.top-panel-container
  border-bottom: solid 1px rgba(#000, 0.1)

.top-panel-content
  line-height: $line-height-base

.top-panel-content-block
  &:before
    content: ' '
    display: inline-block
    height: $topPanelHeight
    vertical-align: middle

.top-panel-form-block
  display: inline-block
  width: 100%
  padding:
    @each $s in top, bottom
      #{$s}: ($topPanelHeight - $input-height-base - 2px) / 2

.top-panel-fixed-container
  padding: 10px 0

.top-panel-fixed-community-image
  height: 21px

.top-panel-block-left
  margin-right: $grid-gutter-width/2

.top-panel-block-right
  margin-left: $grid-gutter-width/2

.top-panel-btn
  +transition(transform 0.3s ease, opacity 0.3s ease)
  +translate(0, 0)
  opacity: 1
  &.top-panel-btn-hidden
    +translate(0, -100%)
    opacity: 0

.top-panel-fixed-block
  position: fixed
  width: 1184px
  z-index: 21
  .block-scrollable-y
    max-height: 350px

.users-show
  .top-panel-fixed-block
    z-index: 601
