$avatar-size: 33px
$border-size: 1px

ul.select2-results
  .select2-result
    +bordered
    border-top: none
    &:first-child
      +bordered-top
  .select2-highlighted
    background: #338cae
    .user
      border: none
      .name
        a, .detailed
          color: white
    .folder
      i
        color: white
  .user
    //+bordered
    img
      width: $avatar-size + $border-size
      height: $avatar-size + $border-size
      float: left
      margin-right: 10px
      z-index: -1
      +bordered
    .name
      font-size: 12px
      padding-right: 10px
      padding-left: 0
      +truncate
      a
        text-decoration: none
      .detailed
        margin-top: -4px
        padding: 0
        color: #999999
        span
          display: inline-block
          overflow: hidden
          word-wrap: break-word
          white-space: nowrap
          +truncate
          font-size: 0.8em
  .folder
    i
      color: #999999
      padding-right: 6px
