.title
  .pull-left
    h6
      span= model.prettyTitle()
      small= ' ' + model.users.length
  .pull-right
    a.link-grey(href='#', role='clear-btn') Очистить
.subtitle
  span Добавить:
  a(href = '#', role = 'add-all-community')Все сообщество
  if model.selectedDepartment()
    a(href = '#', role = 'add-selected-department')
      = "Весь отдел \"" + model.selectedDepartment().get('title') + "\""