%section.top-panel
  .pull-left.col-xs-4.col-reset-padding
    %a.header-back-btn{:href => "../projects"}
      %span.header-back-btn-icon
      К списку проектов
  .col-xs-4
    .top-panel-title
      - if locals[:edit]
        Настройки проекта
      - else
        Новый проект
  .clearfix
