%title iq300 frontend
%meta{:charset => "utf-8", :content => "text/html", "http-equiv" => "content-type"}
-# %meta{:name => "viewport", :content => "initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width, user-scalable=no"}
-#%meta{:name => "viewport", :content => "initial-scale=1.0"}

- if build?
  %link{rel: 'stylesheet', href: '/stylesheets/app.css'}
- else
  %link{rel: 'stylesheet', href: '/tmp/stylesheets/app.css'}
