%title iq300 frontend
%meta{:charset => "utf-8", :content => "text/html", "http-equiv" => "content-type"}
-# %meta{:name => "viewport", :content => "initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width, user-scalable=no"}
-#%meta{:name => "viewport", :content => "initial-scale=1.0"}


= stylesheet_link_tag 'app'
= stylesheet_link_tag 'static_fixes'

