// Tree structure

$title-height: 34px
$list-left-padding: 65px
$list-top-padding: 28.75px
$toggle-size: 23.75px
$toggle-bg-color: #dbe3e6
$toggle-arrow-color: #666666
$line-size: 2px
$department-line-color: #dbe3e6
$line-transparent-color: white
$counter-width: 31.25px
$counter-height: 21.25px
$counter-fg-color: white
$counter-bg-color: #338bae

.community-structure-view
  overflow-y: auto
  &.zero-children
    .root-line, .root-line-clear
      display: none !important
  &.popup-opened
    > ol.departments
      margin-bottom: 270px
  > ol.departments
    margin-left: 30px
    //margin-left: $list-left-padding * 3
    //
    // List
    //
    > li
      position: relative
      padding-left: $list-left-padding
      padding-top: 0px
      margin-top: $list-top-padding
      > ol.children
        li
          position: relative
          padding-left: $list-left-padding
          padding-top: 0px
          margin-top: $list-top-padding
    //
    // Lines
    //
    > .root-line
      position: absolute
      top: $list-top-padding + $title-height / 2
      left: 0
      height: 100%
      border-left: $line-size solid $department-line-color
    > .root-line-clear
      position: absolute
      bottom: -($list-top-padding + $title-height / 2)
      left: 0
      height: $list-top-padding + $title-height / 2
      border-left: $line-size solid $line-transparent-color
    .line
      position: absolute
      top: $title-height / 2
      height: 100%
      left: 0
      width: $list-left-padding
    > li > .line
      border-top: $line-size solid $department-line-color
      border-left: $line-size solid $department-line-color
    > li:last-child > .line
      border-left-color: $line-transparent-color
    > li > ol.children li > .line
      border-top: $line-size solid $department-line-color
    > li > ol.children li > .line-child
      position: absolute
      top: $title-height / 2
      height: 100%
      left: -$list-left-padding
      width: $list-left-padding * 2
      border-top: $line-size solid $department-line-color
    > li > ol > li > ol li:last-child > .line-child
      border-left: $line-size solid $line-transparent-color
    > li:last-child > ol li:last-child > .line-child
      border-left: $line-size solid $line-transparent-color
    > li > input.toggle:checked ~ .line
      border-left: $line-size solid $department-line-color
    //
    // Toggles
    //
    input.toggle
      position: absolute
      opacity: 0
      z-index: 200
      margin: 0px
      top: $title-height / 2 - $toggle-size / 2
      left: 0px - $toggle-size / 2
      width: $toggle-size
      height: $toggle-size
      ~ ol > li
        display: none
    input.toggle:checked
      ~ ol > li
        display: block
      ~ .line
        border-left: $line-size solid $department-line-color
      ~ .toggle-arrow
        top: $title-height / 2 - $toggle-size / 6 + $line-size
        left: 0px - $toggle-size / 3 + $line-size
        border-left: $toggle-size / 3 solid transparent
        border-right: $toggle-size / 3 solid transparent
        border-top: $toggle-size / 3 solid $toggle-arrow-color
    ol:empty
      ~ .toggle-block
        display: block
      ~ .toggle-arrow
        display: none
      ~ .toggle-icon
        display: none
    li.department
      &.zero-children
        .counter, .toggle-arrow, .toggle-icon, .line
          display: none !important
        .toggle-block
          display: block !important
    .toggle-icon
      position: absolute
      z-index: 100
      display: block
      top: $title-height / 2 - $toggle-size / 2 + $line-size / 2
      left: 0px - $toggle-size / 2 + $line-size
      width: $toggle-size - $line-size * 2
      height: $toggle-size - $line-size * 2
      background-color: $line-transparent-color
      border: $line-size solid $department-line-color
    .toggle-block
      display: none
      opacity: 0
      z-index: 210
      position: absolute
      top: $title-height / 2 - $toggle-size / 2
      left: 0px - $toggle-size / 2
      width: $toggle-size
      height: $toggle-size
    .toggle-arrow
      position: absolute
      z-index: 100
      display: block
      top: $title-height / 2 - $toggle-size / 3 + $line-size
      left: -$toggle-size / 6 + $line-size
      width: 0
      height: 0
      border-top: $toggle-size / 3 solid transparent
      border-bottom: $toggle-size / 3 solid transparent
      border-left: $toggle-size / 3 solid $toggle-arrow-color
    //
    // Counter
    //
    .counter
      position: absolute
      z-index: 100
      text-align: center
      color: $counter-fg-color
      background-color: $counter-bg-color
      top: $title-height / 2 - $counter-height / 2
      height: $counter-height - $line-size * 2
      left: $list-left-padding / 2 - $counter-width / 2 + $line-size * 4
      width: $counter-width - $line-size * 2
      border-radius: $counter-width / 2
      border: $line-size solid $counter-bg-color

//
// Department
//

$department-width: 229.75px
$department-toggle-size: 34px
$department-toggle-border-size: 1px
$department-toggle-border-color: #cccccc
$department-toggle-bg: #dbe3e6
$department-toggle-bg-open: #f1f5f6
$department-label-width: $department-width - $department-toggle-size - $department-toggle-border-size
$department-label-fg: #666666
$department-label-padding: 10px

.department-root-drop-area
  position: absolute
  left: -$list-left-padding * 1.5
  display: block
  height: 100%
  width: $list-left-padding
  border: 2px dashed white
  text-align: center
  margin-top: $list-top-padding

.department-root-drop-area.drop-area
  border: 2px dashed $department-line-color

.department
  min-height: 71px
  width: $department-width
  &.drop-area
    border: 1px solid $brand-primary
  &.removed
    display: none !important
  input.department-toggle
    position: absolute
    z-index: 110
    margin: 0px
    opacity: 0
    top: $department-toggle-border-size
    left: $list-left-padding + $department-toggle-border-size
    width: $department-toggle-size
    height: $department-toggle-size
    ~ .d-card-body
      .boss-card
        display: block
      .workers
        display: block
    ~ .expander
      position: absolute
      top: 0
      z-index: 100
      left: $list-left-padding
      width: $department-toggle-size
      height: $department-toggle-size
      background-color: $department-toggle-bg-open
      border: $department-toggle-border-size solid $department-toggle-border-color
      +unselectable
      +has-after-icon(15px, #666666)
        +absoluted
        line-height: $department-toggle-size
        text-align: center
        @extend .icon-chevron-down:before
  input:checked.department-toggle
    ~ .d-card-body
      .boss-card
        display: block
      .workers
        display: none
    ~ .expander
      position: absolute
      top: 0
      left: $list-left-padding
      width: $department-toggle-size
      height: $department-toggle-size
      background-color: $department-toggle-bg
      border: $department-toggle-border-size solid $department-toggle-border-color
      +unselectable
      +has-after-icon(15px, #666666)
        +absoluted
        line-height: $department-toggle-size
        text-align: center
        @extend .icon-chevron-right:before
  .d-card-title
    overflow: hidden
    position: relative
    +truncate
    white-space: nowrap
    padding-left: $department-toggle-size + $department-toggle-border-size * 2 + $department-label-padding
    padding-right: $department-toggle-size + $department-toggle-border-size * 2 + $department-label-padding
    line-height: $department-toggle-size
    font-weight: bold
    color: $department-label-fg
    background-color: $department-toggle-bg
    border: $department-toggle-border-size solid $department-toggle-border-color
    width: $department-width - ($department-toggle-size + $department-toggle-border-size * 2 + $department-label-padding) * 2 - $department-toggle-border-size * 2
    height: $department-toggle-size
    label
      &:hover
        background-color: #feffe0
      > span
        cursor: text
    input
      margin-top: 7px
      display: none
    &.edit-mode
      input
        display: block
      span, .destroy-department
        display: none
    &.dragging-source
      opacity: 0.6
      border: 1px dashed $brand-primary !important
    &.dragging
      border: 1px solid $brand-primary
      z-index: 2000 !important
    .destroy-department
      cursor: pointer
      +has-after-icon(18px, #666666)
        top: 0px
        right: 0px
        line-height: $department-toggle-size
        text-align: center
        @extend .icon-remove:before
        width: $department-toggle-size
        height: $department-toggle-size
  .d-card-body
    background: #f1f5f6
    &.drop-area
      border: 1px solid $brand-primary
      margin: -1px
    .boss-card
      .memberships-contract
        margin-bottom: 8px
        &.empty
          height: $department-toggle-size
          cursor: default
          opacity: 0.6
          border: $department-toggle-border-size dashed $brand-primary !important
          z-index: 400
          &:hover
            border: $department-toggle-border-size dashed $brand-primary !important
          +has-after-icon(18px, white)
            //+absoluted
            line-height: $department-toggle-size
            text-align: center
            @extend .icon-plus:before
            width: $department-toggle-size
            height: 32px
            float: left
            +bordered
            margin-right: 10px
            background: #cccccc
    .workers
      .memberships-contract
        margin-top: 5px
        margin-bottom: 1px
        &:first-child
          margin-top: 0px
    .boss-card, .workers
      .memberships-contract
        cursor: move
        overflow: hidden
        border: $department-toggle-border-size solid #f1f5f6
        z-index: 1
        &:hover
          border: $department-toggle-border-size solid $brand-primary
    .boss-card
      .memberships-contract
        margin-top: -1px
        border: $department-toggle-border-size solid #cccccc
        img
          border: none
          border-right: $department-toggle-border-size solid #cccccc
