.community-structure-view
  > .personal-tree
    position: relative
    float: left
    margin-left: 30px
    margin-top: 30px
    margin-bottom: 60px
    background-color: #f1f5f6
    padding-bottom: 20px
    height: 100%
    .personal-tree-header
      background-color: #f1f5f6
      position: relative
      //#dbe3e6
      border: 1px solid #cccccc
      //line-height: 34px
      font-size: 13px
      font-weight: bold
      color: #666666
      .title
        +inline-block
        padding: 5px 5px 5px 15px
      .close-btn
        cursor: pointer
        float: right
        padding: 5px 10px 5px 10px
        border-left: 1px solid #cccccc
        +inline-block
    .personal-tree-body
      margin: 12px
      position: relative
      height: 100%
      .search
        position: relative
        display: none
        padding: 5px
        background-color: #3ab54a
        border-top: none
        border-right: 1px solid #cccccc
        border-left: 1px solid #cccccc
        border-bottom: 1px solid #cccccc
        &.search-expanded
          display: block
        input
          border: none
          padding: 2px 5px
          background-color: white
          font-size: 13px
          line-height: 18px
          font-family: Arial
          width: 208px
        .icon-search
          position: absolute
          top: 12px
          right: 12px
          cursor: pointer
      .search-results
        display: none
        z-index: 500
        position: relative
        +box-shadow(0px 2px 9px rgba(0, 0, 0, 0.2))
        margin-bottom: 14px
        &.search-expanded
          display: block
        .workers
          display: none
          &.expanded
            display: block
        > span
          font-size: 0.8em
          padding: 2px 0 1px 5px
        .empty
          position: relative
          text-align: center
          padding-bottom: 10px
          padding-top: 10px
          font-size: 0.8em
      .slaves-column, .masters-column
        height: 100%
      .slaves-column, .masters-column, .target-column
        @extend .unallocated-btn
        position: relative
        .btn
          border: 1px solid #cccccc
          +truncate
          display: block
          padding: 0
          border-radius: 0
          text-align: left
          &.column-title
            position: relative
            &.search-expanded
              border-bottom: none
              ~ .task-rules-list > .group-workers-view:first-child > .btn
                border-top: 1px solid #cccccc !important
          &.dark
            background-color: #b3c6ca
            &.expanded
              .expander
                background-color: #dbe3e6
          a
            color: #666666
          .expander
            border-right: 1px solid #cccccc
            &:before
              color: #666666 !important
          .search-expander
            position: absolute
            top: 0
            right: 0
            width: 34px
            height: 34px
            background-color: #3ab54a
            color: white
            content: none
            text-align: center
            +transition(0.5s background-color)
            cursor: pointer
            &:hover
              background-color: #b5683a
            i
              display: inline
              line-height: 36px
        .task-rules-list, .target
          display: none
          position: relative
          height: 100%
          &.expanded
            display: block
          .group-workers-view
            position: relative
            > .btn
              position: relative
              border-bottom: none
              &.expanded
                border-bottom: 1px solid #cccccc
            &:first-child
              .btn
                border-top: none
            &:last-child
              .btn
                border-bottom: 1px solid #cccccc
          .workers
            display: none
            position: relative
            height: 100%
            &.expanded
              display: block
            .memberships-contract
              height: 100%
              position: relative
              &:first-child
                img
                  border-top: none
      .target-column
        background-color: #338cae !important
        margin-top: 40px
        .target
          &.expanded
            background-color: #338cae
          .memberships-contract
            margin: 4px 0 8px 0
            background-color: #338cae
            input, i
              display: none
            img
              border: 1px solid #338cae
            .name
              a
                color: white
      > div
        +inline-block
        width: 200px
        vertical-align: top
        .memberships-contract
          margin-bottom: 10px
          .detailed
            .actions
              display: none
