
.accessor-users{"role-task-members" => "ready"}
  %section.invite-participiant
    %a.btn.btn-primary{:href => "#", :style => "color:white;", "ui-invite-member-button" => "true"} Пригласить участника
    %section.invite-community-member.search-user-for-community{:style => "margin-top:6px;", "ui-invite-form" => ""}
      %form{:action => "/tasks/127468/candidates?for=tasks", :method => "get", "ui-search-form" => ""}
        %input#search{:name => "search", :placeholder => "Введите имя пользователя или его email", :type => "text", "ui-search-input" => "true", :value => ""}/
      .results{"ui-result-list" => ""}
  %section.customer
    %p.accessor-users-role Заказчик:
    = partial 'tasks/show/accessor_users_item', locals: {contact: true, online: true}
  %section.responsible
    %p.accessor-users-role Исполнитель:
    = partial 'tasks/show/accessor_users_item'
  %section.spectator
    %p.accessor-users-role Наблюдатели:
    %ul{:role => "ui-invited-members"}
      .user-wrapper{"ui-task-member" => ""}
        = partial 'tasks/show/accessor_users_item', locals: {contact: true, remove: true, online: true}
      - for i in 0..10
        .user-wrapper{"ui-task-member" => ""}
          = partial 'tasks/show/accessor_users_item', locals: {contact: (i % 2 == 0 ? true : false), remove: true, online: (i % 3 == 0 ? true : false) }
