.form-group.events{:role => "actions-field", :style => "display: block;"}
  .form-field
    .pull-left
      .group
        %a.btn.btn-default.action.force_accept{:href => "/tasks/121/change_status?do=force_accept", :role => "action"} Принять как выполненную
        %a.btn.btn-default.action.cancel{"data-confirm" => "Вы уверены?", :href => "/tasks/121/change_status?do=cancel", :role => "action"} Отменить
    .pull-right
      %a.btn.btn-default{"data-method" => "put", :href => "/tasks/121/save_as_template", :rel => "nofollow"} Сохранить как шаблон
      %a.btn.btn-default{:href => "/tasks/121/edit"}
        %span.fa.fa-edit
        Редактировать

.task-page-section-block
  .row
    .col-md-6
      %table.table-info.table-responsive
        %tbody
          %tr
            %td
              Номер задачи:
            %td
              65590
          %tr
            %td
              Сообщество:
            %td
              %a{:href => "/communities/956"} Айкью 300, ООО
          %tr
            %td
              Создана:
            %td
              17 июня 2014 в 15:46
    .col-md-6
      %table.table-info.table-responsive
        %tbody
          %tr
            %td
              Базовая задача:
            %td
              Компоновка раздела Задачи
          %tr
            %td
              %span{"data-original-title" => "Присваивайте категории задачам для более удобного поиска в списке задач", "role-bootstrap-tooltip" => "ready", :title => ""}
                Категории:
            %td.badges-list.categories-view{"role-categories-view" => "ready"}
              .label-tags
                .add-button
                  %a.with-plus-button.add-tag{"data-original-title" => "Добавьте новую категорию к задаче", :href => "#", "role-bootstrap-tooltip" => "ready", :title => ""}
                    Добавить
                    %span
                      %i.icon-plus
                .adding-form
                  %form.new-todo{"accept-charset" => "UTF-8", :action => "#", :method => "post"}
                    %div{:style => "margin:0;padding:0;display:inline"}
                      %input{:name => "utf8", :type => "hidden", :value => "✓"}/
                      %input{:name => "authenticity_token", :type => "hidden", :value => "uEWcLHYGGc3CWmAg2FbZlhOKDays7ebwCfdUXdj6d0I="}/
                    #s2id__name.select2-container.select2-container-multi.select-two.todo-body{:style => "width: 100%;"}
                      %ul.select2-choices
                        %li.select2-search-field
                          %input#s2id_autogen1.select2-input.select2-default{:autocapitalize => "off", :autocomplete => "off", :autocorrect => "off", :spellcheck => "false", :style => "width: 122%;", :type => "text"}/
                      .select2-drop.select2-drop-multi.select2-display-none
                        %ul.select2-results

%hr
.task-page-section-block
  .todo-list{"role-todo-list" => "ready"}
    %h3.task-page-section-title
      %span{"data-original-title" => "С помощью чек-листов Вы можете создавать список работ по задаче и отслеживать прогресс ее исполнения", "data-placement" => "right", "role-bootstrap-tooltip" => "ready", :title => ""}
        Чек-лист
      &nbsp;
      %small.text-muted{"data-text" => "Выполнено", :role => "progress"}
        Выполнено 0/0
    %div
      %ul#todo-list{role: 'task-checklist'}
        - for i in 0..2
          %li.task-checklist-item{:role => "task-checklist-item"}
            .task-checklist-item-form
              .task-checklist-item-title
                %label.task-checklist-item-checkbox
                  %input{type: :checkbox}
                Сделать обзор макета страницы Задача
              .task-checklist-item-weight
                Вес: 25%
              .task-checklist-item-progress
                .form-inline
                  Прогресс:
                  %select.form-control
                    - for i in 0..20
                      %option= "#{i*5}%"

              .task-checklist-item-actions
                %a.remove_nested_fields.btn.btn-link-plain.btn-link-gray-light{"data-association" => "todo_items", :href => "javascript:void(0)"}
                  %i.fa.fa-times
                %a.btn.btn-link-plain.btn-link-gray-light{:href => "/tasks/new?parent_id=121&todo_item_id=66", :title => "Преобразовать в задачу"}
                  %i.icon-list-alt
                %a.btn.btn-link-plain.btn-link-gray-light{:href => "#", :title => "Изменить"}
                  %i.icon-pencil
      %ul
        %li.fields.task-checklist-item.task-checklist-item-done{:role => "todo-fields"}
          .task-checklist-item-form
            .task-checklist-item-title
              %label.task-checklist-item-checkbox
                %input{type: :checkbox, checked: :checked}
              Сделать обзор макета страницы Задача
            .task-checklist-item-weight
              Вес: 25%
            .task-checklist-item-progress
              .form-inline
                Прогресс:
                %select.form-control{disabled: :disabled}
                  %option{selected: :selected} 100%

            .task-checklist-item-actions
              %a.remove_nested_fields.btn.btn-link-plain.btn-link-gray-light{"data-association" => "todo_items", :href => "javascript:void(0)"}
                %i.fa.fa-times
              %a.btn.btn-link-plain.btn-link-gray-light{:href => "/tasks/new?parent_id=121&todo_item_id=66", :title => "Преобразовать в задачу"}
                %i.icon-list-alt
              %a.btn.btn-link-plain.btn-link-gray-light{:href => "#", :title => "Изменить"}
                %i.icon-pencil

      .task-checklist-item{:role => "todo-fields"}
        .task-checklist-item-form
          %input#base_task_todo_items_attributes_1432543593417_title.form-control.task-checklist-item-input-title{:name => "base_task[todo_items_attributes][1432543593417][title]", :placeholder => "Новый пункт", :role => "todo-title", :size => "30", :type => "text"}/
          .input-group.task-checklist-item-input-weight
            %input#base_task_todo_items_attributes_1432543593417_title.form-control{:name => "base_task[todo_items_attributes][1432543593417][title]", :placeholder => "Вес", :type => "number"}/
            %span.input-group-addon= "%"
          %input#base_task_todo_items_attributes_1432543593417_position{:name => "base_task[todo_items_attributes][1432543593417][position]", :role => "ui-todo-position", :type => "hidden", :value => "1"}/
          %input#base_task_todo_items_attributes_1432543593417__destroy{:name => "base_task[todo_items_attributes][1432543593417][_destroy]", :type => "hidden", :value => "false"}/
          .task-checklist-item-buttons
            %a.remove_nested_fields.btn.btn-link-plain.btn-link-gray-light{"data-association" => "todo_items", :href => "javascript:void(0)"}
              %i.fa.fa-times
        .clearfix
        .task-checklist-item-form-actions
          %input.btn.btn-primary.pull-right{:name => "commit", :type => "submit", :value => "Сохранить"}/
          %input.btn.btn-link-plain.btn-link-gray-light.pull-right{:type => "reset", :value => "Отменить"}/
          .clearfix

      %a.add-todo.btn.btn-default.add-button.pull-left{"data-original-title" => "Добавьте новый пункт в чек-лист задачи", :href => "#", "role-bootstrap-tooltip" => "ready", :title => ""}
        %span.fa.fa-plus-circle
        Добавить пункт
      .pull-right
        Прогресс задачи: 59%
      .clearfix
%hr
.task-page-section-block
  .page-title{"role-task-attachments" => "ready"}
    %h3.task-page-section-title{"aria-describedby" => "tooltip155203", "data-original-title" => "Вы можете добавить файлы к задаче", "data-placement" => "right", "role-bootstrap-tooltip" => "ready", :title => ""}
      Файлы к задаче
    .files.task-page-subsection-block
      %span.attached-file{"role-ready" => "task-attachment"}
        %a{:href => "/download?file=40160815-8048-4164-af5e-4c199d6ce5d5.png"}
          %i.fa.fa-file-text-o.attached-file-icon
          favicon (1).png
        %a.attached-file-delete-btn{:href => "/tasks/121/attachments/52?file=52", :role => "remove-attachment"}
          %i.fa.fa-times
    %a.btn.btn-default{"data-original-title" => "Добавьте новый файл", "data-placement" => "left", :href => "#", :role => "new-attachment-button", "role-bootstrap-tooltip" => "ready", :title => ""}
      %span.fa.fa-plus-circle
      %span.title
        Добавить файл
    .task-attachment-form
      %form{"accept-charset" => "UTF-8", :action => "/tasks/65590/attachments", "data-attachment-max-size" => "50", :enctype => "multipart/form-data", :method => "post"}
        %div{:style => "margin:0;padding:0;display:inline"}
          %input{:name => "utf8", :type => "hidden", :value => "✓"}/
          %input{:name => "authenticity_token", :type => "hidden", :value => "uEWcLHYGGc3CWmAg2FbZlhOKDays7ebwCfdUXdj6d0I="}/
        %input#attachments_attributes_file.task-attachment{:name => "attachments_attributes[file]", :type => "file"}/
%hr
.task-details-subtasks-list.form-group{"test-subtasks" => ""}
  .page-title.mbm
    .pull-left
      %h3.task-page-section-title
        Подзадачи
    .pull-right
      %a.btn.btn-default{"data-original-title" => "", :href => "/tasks/new?parent_id=121", :role => "add-subtask-btn", :title => ""}
        %span.fa.fa-plus-circle
        Добавить
    .clearix
  .task-box{"data-group-id" => "all_tasks", "data-group-title" => "Все задачи", "data-href" => "https://beta.iq300.ru/tasks/66863", :role => "task-item", "test-task" => ""}
    .col-md-10
      .row
        .col-md-10
          %h4.fa.text-warning.fa-star-o{"data-url" => "/favorites?base_task_id=66863", :role => "favorite-list-view"}
          %h4.task-box-title-block
            %span.title{"data-original-title" => "Вместе со своим верстальщиком сделать маленький одностраничный прототип, чтобы увидеть в действии поведение холста вокруг центальной колонки", "role-bootstrap-tooltip" => "ready", "test-task-title" => "", :title => ""}
              Вместе со своим верстальщиком сделать маленький одностраничный прототип, чтобы увидеть в действии поведение холста вокруг центальной колонки
              %span.small
                \#66863
      .row
        .col-md-10
          .text-muted
            %span
              %span.fa.fa-users
              Айкью 300, ООО
            %span
            [
            %a.user.task-box-user{"data-href" => "/users/76", :role => "user"}
              Алмаз Бикчурин
            →
            %a.user.task-box-user{"data-href" => "/users/1757", :role => "user"}
              Мне
            ]
      .row
        .col-md-10
          .text-muted
            Без проекта
            | Изменилась 17 июля
      .row
        .col-md-7
          .label.label-default
            Выполнена
    .col-md-2
      .task-box-status-block
        .status-date.task-box-status-date
          %span.day-list
            21
          %span.month
            Июнь
        %br.visible-md.visible-lg/
        .clearfix
