
.tab-content
  #task-details.tab-pane.active
    .task-discussion{"role-task-discussion" => "ready"}
      .comments-list{role: 'fixed-block-parent-comments', "data-channel" => "private-discussion-137412:comments", "data-url" => "/discussions/137412/comments", "data-with-button" => ""}
        .text-center
          %a.btn.btn-default{:href => "#", :role => "infinite-list-button"} Загрузить еще 100
          .pull-right.task-comments-filter.hide
            %input#task-comments-filter{:name => "task-comments-filter", :type => "checkbox", :value => "task-comments-filter"}/
            %label{:for => "task-comments-filter"} Скрывать активность
          .clearfix

        .infinite-list{:role => "ui-infinite-list"}
          .more-button-data{"data-current-page" => "1", "data-limit-value" => "10", "data-total-pages" => "3", :style => "display:none;"}
          - for i in 0..3
            = partial 'tasks/show/discussion_list'


