.task-discussion{"role-task-discussion" => "ready"}
  .comments-list{role: 'fixed-block-parent-comments', "data-channel" => "private-discussion-137412:comments", "data-url" => "/discussions/137412/comments", "data-with-button" => ""}
    .text-center
      %a.btn.btn-default{:href => "#", :role => "infinite-list-button"} Загрузить еще 100
      .pull-right.task-comments-filter.hide
        %input#task-comments-filter{:name => "task-comments-filter", :type => "checkbox", :value => "task-comments-filter"}/
        %label{:for => "task-comments-filter"} Скрывать активность
      .clearfix

    .infinite-list{:role => "ui-infinite-list"}
      .more-button-data{"data-current-page" => "1", "data-limit-value" => "10", "data-total-pages" => "3", :style => "display:none;"}
      - for i in 0..3
        = partial 'tasks/show/discussion_list'

    %form#new_comment.comments-form.main-form.comments-form-block{role: 'fixed-block-bottom', data: {'fixed-block-parent' => '@fixed-block-parent-comments'}, 
          "accept-charset" => "UTF-8", :action => "/discussions/137412/comments", "data-discussion-key" => "discussion-137412", "data-exist-attachment-default-name" => "Прикрепить уже загруженный", "data-users-path" => "/discussions/137412/users?for=accessors&per=500&without_current_user=true", :enctype => "multipart/form-data", :method => "post"}
      .row
        .col-sm-10
          %div{:style => "margin:0;padding:0;display:inline"}
            %input{:name => "utf8", :type => "hidden", :value => "✓"}/
            %input{:name => "authenticity_token", :type => "hidden", :value => "uA6xR7HjabBYeN2QtkkPByY5w+mC3PIq0qRVBuwnwC0="}/
          %input#redirect_to{:name => "redirect_to", :type => "hidden", :value => "/tasks/109472"}/
          %textarea.comment-body.form-control.task-discussion-form-textarea{:placeholder => "Добавить комментарий", rows: 2, :role => "autosize", "test-comment-body" => "true", style: 'height: 36px;'}
        .col-sm-2
          %input#btnSubmit.btn.btn-block.btn-primary{"data-wait" => "Отправка...", :name => "commit", :role => "submit-button", "test-submit-comment" => "true", :type => "submit", :value => "Отправить"}/

      .comments-form-actions
        .row
          .col-sm-3
            #discussion-attachments-137412{"data-files-max-size" => "50", :role => "files"}
              %a.link-plain.add_nested_fields{"data-association" => "attachments", "data-blueprint-id" => "attachments_fields_blueprint", "data-target" => "#discussion-attachments-137412", :href => "javascript:void(0)", :role => "add-file"}
                %i.fa.fa-paperclip
                &nbsp;
                Прикрепить
          .col-sm-3.text-center
            %p Shift+Enter перенос строки
          .col-sm-4.text-right
            %a{:href => "//ru.wikipedia.org/wiki/Markdown", :target => "_blank"} Markdown
        #attachments_fields_blueprint{"data-blueprint" => "<div class='file fields' role='file'>\r\n<a href=\"#\"><span class='fa fa-file-text-o fa-lg'></span>\r\n</a><span class='file-name' role='file-name'>\r\nfile_name\r\n</span>\r\n<input id=\"comment_attachments_attributes_new_attachments_file\" name=\"comment[attachments_attributes][new_attachments][file]\" role=\"file-input\" style=\"display:none\" type=\"file\" />\r\n<input id=\"comment_attachments_attributes_new_attachments__destroy\" name=\"comment[attachments_attributes][new_attachments][_destroy]\" type=\"hidden\" value=\"false\" /><a href=\"javascript:void(0)\" class=\"delete remove_nested_fields\" data-association=\"attachments\" data-confirm=\"Вы уверены?\"><i class=\"icon-remove \" ></i></a>\r\n</div>\r\n", :style => "display: none"}
