.comment-box.comment-item{"data-author" => "hamadeev", "data-id" => "187068", "test-comment-item" => ""}
  .media
    .pull-left
      .message-box-user-avatar
        %img.img-circle{:alt => "Шамиль", :hide_wait_message => "true", :src => "https://iq300.s3.amazonaws.com/uploads/user_profile/photo/2/medium_e641ce02-e837-4d54-beaa-25724ff58b98.jpg", :style => "width: 40px; height: 40px", :title => "Хамадеев Шамиль Актасович"}/
        .user-status-bullet.user-status-bullet-bottom-right.user-status-bullet-offline.user-status-bullet-sm
    .media-body
      .message-box-header.group
        %h4.pull-left
          %a{:href => "/users/2"} Шамиль Хамадеев
        %p.pull-right.text-muted
          21 января, 14:01
      .message-body
        .message-body-text{"test-comment-item-body" => ""}
          %p
            %span.mention.people.highlight
              %a @Александр Мещеряков
            %span.mention.people
              %a @Elvir
            а можно вот так сделать?
        .message-box-files
          .attachment.image
            %a{"data-lightbox" => "image-list-137412", "data-title" => "iq300 frontend.png", :href => "https://iq300.s3-eu-west-1.amazonaws.com/uploads/attachment_picture/file/23392/d2345c29-a5d2-4359-bdd4-4c320de46c5b.png?AWSAccessKeyId=AKIAIY3TV45BHIUSZBSQ&Signature=bnT/BJX7LTYK0tHyEUBTCSbtk5A%3D&Expires=1422523848", :target => "_blank"}
              %img{:alt => "iq300 frontend.png", :src => "https://iq300.s3-eu-west-1.amazonaws.com/uploads/attachment_picture/file/23392/thumb_d2345c29-a5d2-4359-bdd4-4c320de46c5b.png?AWSAccessKeyId=AKIAIY3TV45BHIUSZBSQ&Signature=f2NjM2Up/ymSGGxRX7A/tKIvtdo%3D&Expires=1422523848"}/
            %br/
            %a{:href => "/download?file=d2345c29-a5d2-4359-bdd4-4c320de46c5b.png"} Скачать
.comment-box.comment-item{"data-author" => "hamadeev", "data-id" => "187069", "test-comment-item" => ""}
  .media
    .pull-left
      .message-box-user-avatar
        %img.img-circle{:alt => "Шамиль", :hide_wait_message => "true", :src => "https://iq300.s3.amazonaws.com/uploads/user_profile/photo/2/medium_e641ce02-e837-4d54-beaa-25724ff58b98.jpg", :style => "width: 40px; height: 40px", :title => "Хамадеев Шамиль Актасович"}/
        .user-status-bullet.user-status-bullet-bottom-right.user-status-bullet-offline.user-status-bullet-sm
    .media-body
      .message-box-header.group
        %h4.pull-left
          %a{:href => "/users/2"} Шамиль Хамадеев
        %p.pull-right.text-muted
          21 января, 14:01
      .message-body
        .message-body-text{"test-comment-item-body" => ""}
          %p Все равно много пустого места остается и больше информации
.comment-box.comment-item{"data-author" => "Ilnur", "data-id" => "187072", "test-comment-item" => ""}
  .media
    .pull-left
      .message-box-user-avatar
        %img.img-circle{:alt => "Ильнур", :hide_wait_message => "true", :src => "https://iq300.s3.amazonaws.com/uploads/user_profile/photo/462/medium_1f7a19dd-6c9e-4e49-8e71-55bf61b744f3.jpg", :style => "width: 40px; height: 40px", :title => "Газизуллин Ильнур "}/
        .user-status-bullet.user-status-bullet-bottom-right.user-status-bullet-online.user-status-bullet-sm
    .media-body
      .message-box-header.group
        %h4.pull-left
          %a{:href => "/users/253"} Ильнур Газизуллин
        %p.pull-right.text-muted
          21 января, 14:01
      .message-body
        .message-body-text{"test-comment-item-body" => ""}
          %p а как должен выглядить список после группировки?
.comment-box.comment-item{"data-author" => "hamadeev", "data-id" => "187074", "test-comment-item" => ""}
  .media
    .pull-left
      .message-box-user-avatar
        %img.img-circle{:alt => "Шамиль", :hide_wait_message => "true", :src => "https://iq300.s3.amazonaws.com/uploads/user_profile/photo/2/medium_e641ce02-e837-4d54-beaa-25724ff58b98.jpg", :style => "width: 40px; height: 40px", :title => "Хамадеев Шамиль Актасович"}/
        .user-status-bullet.user-status-bullet-bottom-right.user-status-bullet-offline.user-status-bullet-sm
    .media-body
      .message-box-header.group
        %h4.pull-left
          %a{:href => "/users/2"} Шамиль Хамадеев
        %p.pull-right.text-muted
          21 января, 14:01
      .message-body
        .message-body-text{"test-comment-item-body" => ""}
          %p может быть убрать группировку вообще, пока она не вписывается


