#task-discussions.object-details.task-discussions-tab.undefined{"data-url" => "/tasks/4629/discussion?initial=true", :style => "display: block;"}
#task-discussion.tab-pane.active
  .task-discussion{"data-id" => "5617", "role-discussion" => "ready"}
    .task-discussion{"data-reactid" => ".2"}
      .comments-list-container{"data-reactid" => ".2.0"}
        .comments-list{"data-reactid" => ".3", "data-test-comments-list" => "true"}
          %ul.infinite-list{"data-reactid" => ".3.1"}
            .message-box.message-box-from-current-user{"data-reactid" => ".3.1.$11748", "data-test-comment-item" => "true"}
              .media{"data-reactid" => ".3.1.$11748.0"}
                .pull-left{"data-reactid" => ".3.1.$11748.0.0"}
                  .message-box-user-avatar-empty{"data-reactid" => ".3.1.$11748.0.0.0"}
                .media-body{"data-reactid" => ".3.1.$11748.0.1"}
                  .message-box-header.group{"data-reactid" => ".3.1.$11748.0.1.0"}
                    .pull-left{"data-reactid" => ".3.1.$11748.0.1.0.0"}
                      %span.message-box-title{"data-reactid" => ".3.1.$11748.0.1.0.0.0", :href => "/users/2"} Iren Mikhaylova
                      %small.text-muted{"data-reactid" => ".3.1.$11748.0.1.0.0.1"}
                        %span{"data-reactid" => ".3.1.$11748.0.1.0.0.1.0"}   
                        %a.btn-link-gray-light.btn-link-plain{"data-reactid" => ".3.1.$11748.0.1.0.0.1.1", "data-test111" => "true"}
                          %i.fa.fa-mail-forward{"data-reactid" => ".3.1.$11748.0.1.0.0.1.1.0"}
                    .pull-right{"data-reactid" => ".3.1.$11748.0.1.0.1"}
                      %span.message-box-time{"data-reactid" => ".3.1.$11748.0.1.0.1.0"} 20 ноября, 17:55
                  .message-body{"data-reactid" => ".3.1.$11748.0.1.1"}
                    .message-body-text{"data-reactid" => ".3.1.$11748.0.1.1.0", "data-test-comment-item-body" => "true"}
                      %p yep
                  .message-box-files{"data-reactid" => ".3.1.$11748.0.1.2"}
                  .message-box-files{"data-reactid" => ".3.1.$11748.0.1.3"}
