.page-title
  .pull-left.title
    %h3.task-title
      .favorite.favorite-view{"role-favorite-view" => "ready"}
        %a{"data-method" => "put", :href => "/favorites?base_task_id=65590", :rel => "nofollow"}
          %span.fa.fa-big.icon-star-empty.star-favourite
      %span Сделать обзор макета страницы Задача
    .bread-crumbs
      %a{:href => "/users/76"} Алмаз Бикчурин
      %span.fa.fa-long-arrow-right
      %a{:href => "/users/1757"} Александр Владимирогородский
  .pull-right.task-status
    .status-box
      .status-label{"test-task-status" => ""}
        %i.fa.fa-eye
        Просмотрена
      .status-date
        %i.fa.fa-calendar
        18 Августа в 13.00
        %i.fa.fa-pencil-square-o.fa-2
      .task-status-badge
        %i.task-status-badge-icon.fa.fa-clock-o.fa-2
        Осталось 12 дней
      -#.task-status-badge.task-status-badge-overdued
        -#%i.task-status-badge-icon.fa.fa-clock-o.fa-2
        -#Просрочено 2 дня
      -#.task-status-badge.task-status-badge-close-deadline
        -#%i.task-status-badge-icon.fa.fa-clock-o.fa-2
        -#Остался 1 день
