---
body_class: tasks-show
nav_item: projects
---

.application-content
  .application-content-top-panel
    %section.top-panel
      .pull-left
        %a.navigation{:href => "#", :onclick => "$('#container').removeClass('show-filters show-list').toggleClass('show-navigation'); return false;"}
          %i.icon-reorder
        %a.btn.btn-lg{:href => "/tasks"}
          %span.fa.fa-reply
          Список задач
  .application-content-block{role: 'application-content-block'}
    = partial 'tasks/show/discussion'
  .application-content-bottom-block
    = partial 'comments/form'




