%h2.content-heading Активность сообщества
.content-group
  .row
    .col-sm-3
      %h3 Показать историю
    .col-sm-4
      %select{:name => "", :role => "select2"}
        %option{:value => ""} за последний месяц
        %option{:value => ""} за последний месяц
        %option{:value => ""} за последний месяц
        %option{:value => ""} за последний месяц
%h3.content-heading 12 мая 2014
.content-group
  .tab-content-wide.container-white
    .row
      .col-md-1
        %p.text-muted 15:10
      .col-md-4
        %p 
          %a{:href => "#"} Наладка инфраструктуры для Минкомсвязь
        %p.text-muted Проект
      .col-md-7
        %ul.list-inline
          %li Сменился исполнитель задачи
          %li
            %a{:href => "#"} Согласование Техзадания
        %ul.list-inline
          %li Новый исполнитель:
          %li 
            %a{:href => "#"} 
              %img.img-circle.middle{:src => "/images/community/6.png", :alt => "", :width => "25px", :height => "25px"}/
              %span Игнат Зайцев
  .tab-content-wide.container-grey
    .row
      .col-md-1
        %p.text-muted 15:06
      .col-md-4
        %p 
          %a{:href => "#"} Наладка инфраструктуры для Минкомсвязь
        %p.text-muted Проект
      .col-md-7
        %ul.list-inline
          %li Новая задача
          %li
            %a{:href => "#"} Согласование Техзадания (25 июля 15:40)
        %ul.list-inline
          %li Муниципальное автономное учреждение города Набережные Челны «Центр информационных технологий», МАУ [ Борис Сергеев ]
  .tab-content-wide.container-white
    .row
      .col-md-1
        %p.text-muted 15:10
      .col-md-4
        %p 
          %a{:href => "#"} Наладка инфраструктуры для Минкомсвязь
        %p.text-muted Проект
      .col-md-7
        %ul.list-inline
          %li Статус задачи 
          %li
            %a{:href => "#"} Установочная встреча с клиентом
        %ul.list-inline
          %li изменен на 
          %li 
            .label.label-warning Принята к исполнению

