.community-profile.content-group
  %h2 Активность
  .activities-page.content-group{"role-pulse" => "ready"}
    #pulse{"data-pulse-source" => "https://app.iq300.ru/communities/2933/activities", "data-resource-id" => "2933", "data-resource-type" => "communities", :style => "position:relative;"}
      %svg.cal-heatmap-container{:height => "147", :width => "934", :x => "0", :y => "0"}
        %svg.graph{:x => "0", :y => "0"}
          %svg.graph-domain.m_7.y_2014{:height => "132", :width => "77", :x => "0", :y => "0"}
            %rect.domain-background{:height => "127", :width => "72"}
            %svg.graph-subdomain-group{:x => "0", :y => "0"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "0", :y => "15"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "0", :y => "30"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "0", :y => "45"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "0", :y => "60"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "0", :y => "75"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "0", :y => "90"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "15", :y => "0"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "15", :y => "15"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "15", :y => "30"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "15", :y => "45"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "15", :y => "60"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "15", :y => "75"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "15", :y => "90"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "30", :y => "0"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "30", :y => "15"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "30", :y => "30"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "30", :y => "45"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "30", :y => "60"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "30", :y => "75"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "30", :y => "90"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "45", :y => "0"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "45", :y => "15"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "45", :y => "30"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "45", :y => "45"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "45", :y => "60"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "45", :y => "75"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "45", :y => "90"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "60", :y => "0"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "60", :y => "15"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "60", :y => "30"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "60", :y => "45"}
            %text.graph-label{"dominant-baseline" => "middle", "text-anchor" => "middle", :x => "37.5", :y => "117.5"} июль
          %svg.graph-domain.m_8.y_2014{:height => "132", :width => "77", :x => "77", :y => "0"}
            %rect.domain-background{:height => "127", :width => "72"}
            %svg.graph-subdomain-group{:x => "0", :y => "0"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "0", :y => "60"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "0", :y => "75"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "0", :y => "90"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "15", :y => "0"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "15", :y => "15"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "15", :y => "30"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "15", :y => "45"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "15", :y => "60"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "15", :y => "75"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "15", :y => "90"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "30", :y => "0"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "30", :y => "15"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "30", :y => "30"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "30", :y => "45"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "30", :y => "60"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "30", :y => "75"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "30", :y => "90"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "45", :y => "0"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "45", :y => "15"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "45", :y => "30"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "45", :y => "45"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "45", :y => "60"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "45", :y => "75"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "45", :y => "90"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "60", :y => "0"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "60", :y => "15"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "60", :y => "30"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "60", :y => "45"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "60", :y => "60"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "60", :y => "75"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "60", :y => "90"}
            %text.graph-label{"dominant-baseline" => "middle", "text-anchor" => "middle", :x => "37.5", :y => "117.5"} август
          %svg.graph-domain.m_9.y_2014{:height => "132", :width => "77", :x => "154", :y => "0"}
            %rect.domain-background{:height => "127", :width => "72"}
            %svg.graph-subdomain-group{:x => "0", :y => "0"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "0", :y => "0"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "0", :y => "15"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "0", :y => "30"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "0", :y => "45"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "0", :y => "60"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "0", :y => "75"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "0", :y => "90"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "15", :y => "0"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "15", :y => "15"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "15", :y => "30"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "15", :y => "45"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "15", :y => "60"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "15", :y => "75"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "15", :y => "90"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "30", :y => "0"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "30", :y => "15"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "30", :y => "30"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "30", :y => "45"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "30", :y => "60"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "30", :y => "75"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "30", :y => "90"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "45", :y => "0"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "45", :y => "15"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "45", :y => "30"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "45", :y => "45"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "45", :y => "60"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "45", :y => "75"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "45", :y => "90"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "60", :y => "0"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "60", :y => "15"}
            %text.graph-label{"dominant-baseline" => "middle", "text-anchor" => "middle", :x => "37.5", :y => "117.5"} сентябрь
          %svg.graph-domain.m_10.y_2014{:height => "132", :width => "77", :x => "231", :y => "0"}
            %rect.domain-background{:height => "127", :width => "72"}
            %svg.graph-subdomain-group{:x => "0", :y => "0"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "0", :y => "30"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "0", :y => "45"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "0", :y => "60"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "0", :y => "75"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "0", :y => "90"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "15", :y => "0"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "15", :y => "15"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "15", :y => "30"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "15", :y => "45"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "15", :y => "60"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "15", :y => "75"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "15", :y => "90"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "30", :y => "0"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "30", :y => "15"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "30", :y => "30"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "30", :y => "45"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "30", :y => "60"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "30", :y => "75"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "30", :y => "90"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "45", :y => "0"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "45", :y => "15"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "45", :y => "30"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "45", :y => "45"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "45", :y => "60"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "45", :y => "75"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "45", :y => "90"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "60", :y => "0"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "60", :y => "15"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "60", :y => "30"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "60", :y => "45"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "60", :y => "60"}
            %text.graph-label{"dominant-baseline" => "middle", "text-anchor" => "middle", :x => "37.5", :y => "117.5"} октябрь
          %svg.graph-domain.m_11.y_2014{:height => "132", :width => "77", :x => "308", :y => "0"}
            %rect.domain-background{:height => "127", :width => "72"}
            %svg.graph-subdomain-group{:x => "0", :y => "0"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "0", :y => "75"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "0", :y => "90"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "15", :y => "0"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "15", :y => "15"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "15", :y => "30"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "15", :y => "45"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "15", :y => "60"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "15", :y => "75"}
              %g
                %rect.graph-rect.r3.q3.hover_cursor{:height => "12", :width => "12", :x => "15", :y => "90"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "30", :y => "0"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "30", :y => "15"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "30", :y => "30"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "30", :y => "45"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "30", :y => "60"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "30", :y => "75"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "30", :y => "90"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "45", :y => "0"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "45", :y => "15"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "45", :y => "30"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "45", :y => "45"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "45", :y => "60"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "45", :y => "75"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "45", :y => "90"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "60", :y => "0"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "60", :y => "15"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "60", :y => "30"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "60", :y => "45"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "60", :y => "60"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "60", :y => "75"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "60", :y => "90"}
            %text.graph-label{"dominant-baseline" => "middle", "text-anchor" => "middle", :x => "37.5", :y => "117.5"} ноябрь
          %svg.graph-domain.m_12.y_2014{:height => "132", :width => "77", :x => "385", :y => "0"}
            %rect.domain-background{:height => "127", :width => "72"}
            %svg.graph-subdomain-group{:x => "0", :y => "0"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "0", :y => "0"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "0", :y => "15"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "0", :y => "30"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "0", :y => "45"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "0", :y => "60"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "0", :y => "75"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "0", :y => "90"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "15", :y => "0"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "15", :y => "15"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "15", :y => "30"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "15", :y => "45"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "15", :y => "60"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "15", :y => "75"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "15", :y => "90"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "30", :y => "0"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "30", :y => "15"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "30", :y => "30"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "30", :y => "45"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "30", :y => "60"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "30", :y => "75"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "30", :y => "90"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "45", :y => "0"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "45", :y => "15"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "45", :y => "30"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "45", :y => "45"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "45", :y => "60"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "45", :y => "75"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "45", :y => "90"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "60", :y => "0"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "60", :y => "15"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "60", :y => "30"}
            %text.graph-label{"dominant-baseline" => "middle", "text-anchor" => "middle", :x => "37.5", :y => "117.5"} декабрь
          %svg.graph-domain.m_1.y_2015{:height => "132", :width => "77", :x => "462", :y => "0"}
            %rect.domain-background{:height => "127", :width => "72"}
            %svg.graph-subdomain-group{:x => "0", :y => "0"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "0", :y => "45"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "0", :y => "60"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "0", :y => "75"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "0", :y => "90"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "15", :y => "0"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "15", :y => "15"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "15", :y => "30"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "15", :y => "45"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "15", :y => "60"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "15", :y => "75"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "15", :y => "90"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "30", :y => "0"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "30", :y => "15"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "30", :y => "30"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "30", :y => "45"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "30", :y => "60"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "30", :y => "75"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "30", :y => "90"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "45", :y => "0"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "45", :y => "15"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "45", :y => "30"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "45", :y => "45"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "45", :y => "60"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "45", :y => "75"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "45", :y => "90"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "60", :y => "0"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "60", :y => "15"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "60", :y => "30"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "60", :y => "45"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "60", :y => "60"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "60", :y => "75"}
            %text.graph-label{"dominant-baseline" => "middle", "text-anchor" => "middle", :x => "37.5", :y => "117.5"} январь
          %svg.graph-domain.m_2.y_2015{:height => "132", :width => "77", :x => "539", :y => "0"}
            %rect.domain-background{:height => "127", :width => "72"}
            %svg.graph-subdomain-group{:x => "0", :y => "0"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "0", :y => "90"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "15", :y => "0"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "15", :y => "15"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "15", :y => "30"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "15", :y => "45"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "15", :y => "60"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "15", :y => "75"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "15", :y => "90"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "30", :y => "0"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "30", :y => "15"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "30", :y => "30"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "30", :y => "45"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "30", :y => "60"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "30", :y => "75"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "30", :y => "90"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "45", :y => "0"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "45", :y => "15"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "45", :y => "30"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "45", :y => "45"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "45", :y => "60"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "45", :y => "75"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "45", :y => "90"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "60", :y => "0"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "60", :y => "15"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "60", :y => "30"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "60", :y => "45"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "60", :y => "60"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "60", :y => "75"}
            %text.graph-label{"dominant-baseline" => "middle", "text-anchor" => "middle", :x => "37.5", :y => "117.5"} февраль
          %svg.graph-domain.m_3.y_2015{:height => "132", :width => "92", :x => "616", :y => "0"}
            %rect.domain-background{:height => "127", :width => "87"}
            %svg.graph-subdomain-group{:x => "0", :y => "0"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "0", :y => "90"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "15", :y => "0"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "15", :y => "15"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "15", :y => "30"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "15", :y => "45"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "15", :y => "60"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "15", :y => "75"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "15", :y => "90"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "30", :y => "0"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "30", :y => "15"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "30", :y => "30"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "30", :y => "45"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "30", :y => "60"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "30", :y => "75"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "30", :y => "90"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "45", :y => "0"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "45", :y => "15"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "45", :y => "30"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "45", :y => "45"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "45", :y => "60"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "45", :y => "75"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "45", :y => "90"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "60", :y => "0"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "60", :y => "15"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "60", :y => "30"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "60", :y => "45"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "60", :y => "60"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "60", :y => "75"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "60", :y => "90"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "75", :y => "0"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "75", :y => "15"}
            %text.graph-label{"dominant-baseline" => "middle", "text-anchor" => "middle", :x => "45", :y => "117.5"} март
          %svg.graph-domain.m_4.y_2015{:height => "132", :width => "77", :x => "708", :y => "0"}
            %rect.domain-background{:height => "127", :width => "72"}
            %svg.graph-subdomain-group{:x => "0", :y => "0"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "0", :y => "30"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "0", :y => "45"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "0", :y => "60"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "0", :y => "75"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "0", :y => "90"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "15", :y => "0"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "15", :y => "15"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "15", :y => "30"}
              %g
                %rect.graph-rect.r2.q2.hover_cursor{:height => "12", :width => "12", :x => "15", :y => "45"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "15", :y => "60"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "15", :y => "75"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "15", :y => "90"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "30", :y => "0"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "30", :y => "15"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "30", :y => "30"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "30", :y => "45"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "30", :y => "60"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "30", :y => "75"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "30", :y => "90"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "45", :y => "0"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "45", :y => "15"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "45", :y => "30"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "45", :y => "45"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "45", :y => "60"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "45", :y => "75"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "45", :y => "90"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "60", :y => "0"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "60", :y => "15"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "60", :y => "30"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "60", :y => "45"}
            %text.graph-label{"dominant-baseline" => "middle", "text-anchor" => "middle", :x => "37.5", :y => "117.5"} апрель
          %svg.graph-domain.m_5.y_2015{:height => "132", :width => "77", :x => "785", :y => "0"}
            %rect.domain-background{:height => "127", :width => "72"}
            %svg.graph-subdomain-group{:x => "0", :y => "0"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "0", :y => "60"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "0", :y => "75"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "0", :y => "90"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "15", :y => "0"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "15", :y => "15"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "15", :y => "30"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "15", :y => "45"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "15", :y => "60"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "15", :y => "75"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "15", :y => "90"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "30", :y => "0"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "30", :y => "15"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "30", :y => "30"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "30", :y => "45"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "30", :y => "60"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "30", :y => "75"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "30", :y => "90"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "45", :y => "0"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "45", :y => "15"}
              %g
                %rect.graph-rect.r2.q2.hover_cursor{:height => "12", :width => "12", :x => "45", :y => "30"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "45", :y => "45"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "45", :y => "60"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "45", :y => "75"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "45", :y => "90"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "60", :y => "0"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "60", :y => "15"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "60", :y => "30"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "60", :y => "45"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "60", :y => "60"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "60", :y => "75"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "60", :y => "90"}
            %text.graph-label{"dominant-baseline" => "middle", "text-anchor" => "middle", :x => "37.5", :y => "117.5"} май
          %svg.graph-domain.m_6.y_2015{:height => "132", :width => "77", :x => "862", :y => "0"}
            %rect.domain-background{:height => "127", :width => "72"}
            %svg.graph-subdomain-group{:x => "0", :y => "0"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "0", :y => "0"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "0", :y => "15"}
              %g
                %rect.graph-rect.r3.q3.hover_cursor{:height => "12", :width => "12", :x => "0", :y => "30"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "0", :y => "45"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "0", :y => "60"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "0", :y => "75"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "0", :y => "90"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "15", :y => "0"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "15", :y => "15"}
              %g
                %rect.highlight.now.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "15", :y => "30"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "15", :y => "45"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "15", :y => "60"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "15", :y => "75"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "15", :y => "90"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "30", :y => "0"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "30", :y => "15"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "30", :y => "30"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "30", :y => "45"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "30", :y => "60"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "30", :y => "75"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "30", :y => "90"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "45", :y => "0"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "45", :y => "15"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "45", :y => "30"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "45", :y => "45"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "45", :y => "60"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "45", :y => "75"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "45", :y => "90"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "60", :y => "0"}
              %g
                %rect.graph-rect.hover_cursor{:height => "12", :width => "12", :x => "60", :y => "15"}
            %text.graph-label{"dominant-baseline" => "middle", "text-anchor" => "middle", :x => "37.5", :y => "117.5"} июнь
        %svg.graph-legend{:height => "10", :width => "58", :x => "0", :y => "137"}
          %g{:transform => ""}
            %rect.r1.r0.q1.q0{:fill => "", "fill-opacity" => "1", :height => "10", :width => "10", :x => "0"}
              %title less than 0 items
            %rect.r2.q2{:fill => "", "fill-opacity" => "1", :height => "10", :width => "10", :x => "12"}
              %title between 0 and 3 items
            %rect.r3.q3{:fill => "", "fill-opacity" => "1", :height => "10", :width => "10", :x => "24"}
              %title between 3 and 7 items
            %rect.r4.q4{:fill => "", "fill-opacity" => "1", :height => "10", :width => "10", :x => "36"}
              %title between 7 and 10 items
            %rect.r5.q5{:fill => "", "fill-opacity" => "1", :height => "10", :width => "10", :x => "48"}
              %title more than 10 items
      .ch-tooltip{:style => "display:none"}
  .content-group{"role-activity-list-selector" => ""}
    %h3.content-heading 10 июня 2015 г.
    %p В этот день активность отсутствует
