.content-group{role: 'community-billing-info'}
  = partial 'communities/profile/billing/info'

.content-group{role: 'community-billing-change-plan'}
  = partial 'communities/profile/billing/change_plan'

.content-group{role: 'change-plan-confirm'}
  = partial 'communities/profile/billing/change_plan_confirm'

.content-group{role: 'change-plan-confirm-upgrade'}
  = partial 'communities/profile/billing/change_plan_confirm_upgrade'
