.community-profile.content-group
  -#.community-profile-section.community-profile-contacts
  %h2.community-profile-contacts-title Информация и контакты
  .content-group-sm
    Кабельные и беспроводные сети. Оборудование для IT-коммуникаций
  .row
    .col-md-6
      %ul.unstyled-list
        %li Телефон: +7 (8552) 30-55-42
        %li
          %a{:href => "#"} http://www.starbucks.com
        %li
          %a{:href => "#"} E-mail: welcome@romaska.ru
    .col-md-6
      %ul.unstyled-list
        %li Дата создания сообщества: 12 июля 2014
        %li Количество проектов: 124
        %li Количество задач: 1025


