.row
  .col-sm-9.col-md-10
    .community-profile.content-group
      .community-profile-section.community-profile-contacts
        %h2.community-profile-contacts-title Контактная информация
        %ul.unstyled-list
          %li Телефон: +7 (8552) 30-55-42
          %li
            %a{:href => "#"} http://www.starbucks.com
          %li
            %a{:href => "#"} E-mail: welcome@romaska.ru
      .community-profile-section.community-profile-info
        %ul.unstyled-list
          %li Дата создания сообщества: 12 июля 2014
          %li Количество проектов: 124
          %li Количество задач: 1025
    %a.btn.btn-default{:href => "#"} 
      %span.fa.fa-edit
      Редактировать
  .col-sm-3.col-md-2
    .community-profile-details-stats
      .community-profile-details-stats-heading
        .community-profile-details-stats-title Руководитель
      .community-profile-details-stats-body
        %img.community-profile-details-stats-image{:src => "/images/community/2.png", :alt => ""}/
        %br
        %a{:href => "#"} Борис Сергеев

    .community-profile-details-stats
      .community-profile-details-stats-heading
        .community-profile-details-stats-title Владелец
      .community-profile-details-stats-body
        %img.community-profile-details-stats-image{:src => "/images/community/2.png", :alt => ""}/
        %br
        %a{:href => "#"} Антонина Собянина

    .community-profile-details-stats
      .community-profile-details-stats-heading
        .community-profile-details-stats-title Индекс активности
      .community-profile-details-stats-body
        .text-primary 9.7

