.form-section
  .form-group
    %label.text-muted Сокращенное название организации (без кавычек)
    %select.select-wide{:name => "", :role => "select2"}
      %option{:value => ""} Селектор
      %option{:value => ""} Селектор
      %option{:value => ""} Селектор
      %option{:value => ""} Селектор
  .form-group
    %label.text-muted Выбор организационно-правовой формы
    %input.form-control{:type => "text", :placeholder => "Областное государственное учреждение"}/

%h3.form-heading Почтовый адрес
.form-section
  .form-group
    %label.text-muted Выберите город
    %select.select-wide{:name => "", :role => "select2"}
      %option{:value => ""} Набережные Челны, Республика Татарстан, Россия
      %option{:value => ""} Набережные Челны, Республика Татарстан, Россия
      %option{:value => ""} Набережные Челны, Республика Татарстан, Россия
      %option{:value => ""} Набережные Челны, Республика Татарстан, Россия
  .form-group
    %label.text-muted Улица
    %input.form-control{:type => "text", :placeholder => "Машиностроительная"}/
  .form-group
    %label.text-muted Дом, Офис
    %input.form-control{:type => "text", :placeholder => "91 (ИТ-парк), оф. А506"}/
  .checkbox
    %label
      %input{:type => "checkbox"}/
      %span.text-muted Юридический адрес совпадает с почтовым
  .form-group
    %label.text-muted БИК
    %input.form-control{:type => "text", :placeholder => "048762824"}/
  .form-group
    %label.text-muted ИНН
    %input.form-control{:type => "text", :placeholder => "1650255336"}/
  .form-group
    %label.text-muted КПП
    %input.form-control{:type => "text", :placeholder => "165001001"}/
  .form-group
    %label.text-muted ОГРН
    %input.form-control{:type => "text", :placeholder => "1121650022889"}/
  .form-group
    %label.text-muted Банковские реквизиты
    %textarea.form-control{:rows => "7"}

.form-section
  .form-group
    %label.text-muted Рабочий email
    %input.form-control{:type => "text", :placeholder => "info@iq300.ru"}/
  .form-group
    %label.text-muted Рабочий телефон
    %input.form-control{:type => "text", :placeholder => "8 (905) 311 92 32"}/
  .form-group
    %label.text-muted Должность руководителя
    %input.form-control{:type => "text", :placeholder => "Генеральный директор"}/
  .form-group
    %label.text-muted ФИО в именительном падеже
    %input.form-control{:type => "text", :placeholder => "Ткачев Александр Александрович"}/
  .form-group
    %label.text-muted ФИО в родительном падеже (для автоматической генерации договоро
    %input.form-control{:type => "text", :placeholder => "Ткачева Александра Александровича"}/
  .form-group
    %label.text-muted Email руководителя
    %input.form-control{:type => "text", :placeholder => "at@iq300.ru"}/
  .form-group
    %label.text-muted Основание действия руководителя
    %select.select-wide{:name => "", :role => "select2"}
      %option{:value => ""} Положение
      %option{:value => ""} Положение
      %option{:value => ""} Положение
      %option{:value => ""} Положение

.form-section.tab-content-wide.container-grey
  .form-group
    %label.text-muted Должность
    %input.form-control{:type => "text", :placeholder => "Главный бухгалтер"}/
  .form-group
    %label.text-muted Телефон
    %input.form-control{:type => "text", :placeholder => "Главный бухгалтер"}/
  .form-group
    %label.text-muted Email
    %input.form-control{:type => "text", :placeholder => "Главный бухгалтер"}/
  .form-group
    %a.btn.btn-sm.btn-default{:href => "#"} Добавить контакт

.form-group
  %a.btn.btn-default{:href => "#"} Сохранить
  %a.btn.btn-link{:href => "#"} Отмена
