.content-group
  .content-section
    .row
      .col-sm-9
        .form-inline
          .input-group.input-group-spacy
            .community-logo
              %img.img-corrector-initialized{:alt => "Default-group-image", :src => "/assets/default-group-image.png"}/
          .input-group.input-group-spacy
            %h2
              Карта партнера
              %br/

      .col-sm-3
        %a.btn.btn-block.btn-default{:href => "/communities/2933/profile/edit"}
          %span.fa.fa-edit
          Редактировать
        %a.btn.btn-block.btn-default{:href => "/communities/2933/profile/print_partner_card", :target => "_blank"}
          %span.fa.fa-print
          Печать
        %a.btn.btn-block.btn-default{"data-toggle" => "tab", :href => "#community-partners"}
          %span.fa.fa-download
          Скачать карту партнера

  .content-group
    %p.text-muted
      Полное название организации(c указанием организационно-правовой формы) по Уставу:
    %h4
      Индивидуальный предприниматель ,
  .content-group
    %p.text-muted
      Сокращенное название организации:
    %h4
      UX fake community
  .content-group
    %p.text-muted
      Юридический адрес:
    %h4
  .content-group
    %p.text-muted
      Почтовый адрес:
    %h4
  .content-group
    %p.text-muted
      ИНН:
    %h4
  .content-group
    %p.text-muted
      КПП:
    %h4
  .content-group
    %p.text-muted
      ОГРН:
    %h4
  .content-group
    %p.text-muted
      Руководитель:
    %h4
  .content-group
    %p.text-muted
      Телефон руководителя:
    %h4

