%ul.nav.nav-tabs.tab-buttons.tabnav.container-grey
  %li.active
    %a{"data-toggle" => "tab", :href => "#community-profile"}
      Профиль
      %span.badge{:role => "counter"}
  %li
    %a{"data-class" => "accessor-users-view", "data-target" => "tab", :href => "/tasks/121/accessor_users"}
      Проекты
      %span.badge{:role => "counter"}
  %li
    %a{:href => "#"} Задачи
  %li
    %a{"data-toggle" => "tab", :href => "#community-members"}
      Участники
      %small.text-muted 17
  %li
    %a{:href => "#"} Структура сообщества
  %li
    %a{"data-toggle" => "tab", :href => "#community-partners"} Карта партнера
  -#%li
    %a{"data-toggle" => "tab", :href => "#community-partners-edit"} Редактировать карту партнера
  %li
    %a{:href => "#"} Отчеты
  %li
    %a{"data-toggle" => "tab", :href => "#community-actions"} Активность
  %li
    %a{"data-toggle" => "tab", :href => "[role='community-billing']"} Биллинг



