---
body_class: communities-profile
---

= partial 'shared/header'
.content.content-global.display-mode.display-mode-initialized{"data-initial-action" => "index", filters: "true", full_view: "true", list: "true", view: "false"}
  = partial 'communities/top_panel'
  = partial 'shared/_navigation'

  %section.one-big-column.one-big-column-collapse
    .form-container.container-grey
      .tabs-page-header
        .row
          .col-sm-2
            .fluid-square
              %a{:href => "#"}
                %img.fluid-square-content{:src => "/images/community/2.png", :alt => ""}/
          .col-sm-10
            .content-group
              %h2.content-heading
                ООО «Старбакс» 
                %small 123
              %h4.content-heading Кабельные и беспроводные сети. Оборудование для IT-коммуникаций
              %ul.list-inline
                %li +7 (8552) 30-55-42
                %li 
                  %a{:href => "#"} http://www.starbucks.com
            .tabs-page-header-actions
              %a.btn.btn-default{:href => "#"} Написать сообщение
    
    %ul.nav.nav-tabs.tab-buttons.tabnav.container-grey
      %li.active
        %a{"data-toggle" => "tab", :href => "#community-profile"}
          Профиль
          %span.badge{:role => "counter"}
      %li
        %a{"data-class" => "accessor-users-view", "data-target" => "tab", :href => "/tasks/121/accessor_users"}
          Проекты
          %span.badge{:role => "counter"}
      %li
        %a{:href => "#"} Задачи
      %li
        %a{"data-toggle" => "tab", :href => "#community-members"} Участники(17)
      %li
        %a{:href => "#"} Структура сообщества
      %li
        %a{"data-toggle" => "tab", :href => "#community-partners"} Карта партнера
      %li
        %a{"data-toggle" => "tab", :href => "#community-partners-edit"} Редактировать Карту партнера
      %li
        %a{:href => "#"} Отчеты
      %li
        %a{"data-toggle" => "tab", :href => "#community-actions"} Активность

    .tab-content.tab-panels
      #community-profile.tab-pane.active
        .row
          .col-sm-9
            .community-profile.content-group
              .community-profile-section.community-profile-contacts
                %h2 Контактная информация
                %ul.unstyled-list
                  %li Телефон: +7 (8552) 30-55-42
                  %li
                    %a{:href => "#"} http://www.starbucks.com
                  %li
                    %a{:href => "#"} E-mail: welcome@romaska.ru
              .community-profile-section.community-profile-info
                %ul.unstyled-list
                  %li Дата создания сообщества: 12 июля 2014
                  %li Количество проектов: 124
                  %li Количество задач: 1025
            %a.btn.btn-default{:href => "#"} 
              %span.fa.fa-edit
              Редактировать
          .col-sm-3
            .panel.panel-primary
              .panel-heading
                .panel-title Руководитель
              .panel-body.text-center
                %img.img-circle{:src => "/images/community/6.png", :alt => ""}/
                %h4
                  %a{:href => "#"} Борис Сергеев

            .panel.panel-primary
              .panel-heading
                .panel-title Владелец
              .panel-body.text-center
                %img.img-circle{:src => "/images/community/2.png", :alt => ""}/
                %h4
                  %a{:href => "#"} Антонина Собянина
            
            .panel.panel-warning-light
              .panel-heading
                .panel-title Индекс активности
              .panel-body
                .text-primary.text-center 9.7 
      
      #community-members.tab-pane
        .content-group.clearfix
          .pull-left
            %a.btn.btn-default{:href => "#"} Добавить участников
            %a.btn.btn-default{:href => "#"} Управление ролями
            %a.btn.btn-default{:href => "#"} Экспорт списка
          .pull-right
            %input.form-control{:type => "text", :placeholder => "Поиск по участникам..."}/
        .content-group
          .tab-content-wide.container-grey
            .clearfix
              .pull-left
                %select{:name => "", :role => "select2"}
                  %option{:value => ""} Роль
                  %option{:value => ""} Роль
                  %option{:value => ""} Роль
                  %option{:value => ""} Роль
                %select{:name => "", :role => "select2"}
                  %option{:value => ""} Подразделение
                  %option{:value => ""} Подразделение
                  %option{:value => ""} Подразделение
                  %option{:value => ""} Подразделение
              .pull-right
                %a.btn.btn-default{:href => "#"} Экспорт
                %a.btn.btn-default{:href => "#"} Редактировать
        .row.row-collapse
          .col-sm-4.col-collapse
            - (1..4).each do
              .media.member-box
                .pull-left
                  .member-box-avatar
                    %a{:href => "#"}
                      %img.img-circle{:src => "/images/community/2.png", :alt => "", :width => "95px", :height => "95px"}/
                    .user-status-bullet.user-status-bullet-bottom-right.user-status-bullet-online
                .media-body
                  %h4.content-heading
                    %a{:href => "#"} Борис Сергеев
                  %ul.unstyled-list
                    %li Сотрудник
                    %li Разработчик,
                    %li Разработка Sega
                    %li Entertainment
          .col-sm-4.col-collapse
            - (1..4).each do
              .media.member-box
                .pull-left
                  .member-box-avatar
                    %a{:href => "#"}
                      %img.img-circle{:src => "/images/community/6.png", :alt => "", :width => "95px", :height => "95px"}/
                    .user-status-bullet.user-status-bullet-bottom-right.user-status-bullet-away
                .media-body
                  %h4.content-heading
                    %a{:href => "#"} Анастасия Сергеевна
                  %ul.unstyled-list
                    %li Руководитель
                    %li Начальник отдела,
                    %li Разработка Sega
                    %li Introduction Pro
          .col-sm-4.col-collapse
            - (1..4).each do
              .media.member-box
                .pull-left
                  .community-member-avatar
                    %a{:href => "#"}
                      %img.img-circle{:src => "/images/community/6.png", :alt => "", :width => "95px", :height => "95px"}/
                    .user-status-bullet.user-status-bullet-bottom-right.user-status-bullet-away
                .media-body
                  %h4.content-heading
                    %a{:href => "#"} Анастасия Сергеевна
                  %ul.unstyled-list
                    %li Руководитель
                    %li Начальник отдела,
                    %li Разработка Sega
                    %li Introduction Pro
        .text-center
          %a.btn.btn-default{:href => "#"} Показать Еще 100

      #community-actions.tab-pane
        %h2.content-heading Активность сообщества
        .content-group
          .row
            .col-sm-3
              %h3 Показать историю
            .col-sm-4
              %select{:name => "", :role => "select2"}
                %option{:value => ""} за последний месяц
                %option{:value => ""} за последний месяц
                %option{:value => ""} за последний месяц
                %option{:value => ""} за последний месяц
        %h3.content-heading 12 мая 2014
        .content-group
          .tab-content-wide.container-white
            .row
              .col-md-1
                %p.text-muted 15:10
              .col-md-4
                %p 
                  %a{:href => "#"} Наладка инфраструктуры для Минкомсвязь
                %p.text-muted Проект
              .col-md-7
                %ul.list-inline
                  %li Сменился исполнитель задачи
                  %li
                    %a{:href => "#"} Согласование Техзадания
                %ul.list-inline
                  %li Новый исполнитель:
                  %li 
                    %a{:href => "#"} 
                      %img.img-circle.middle{:src => "/images/community/6.png", :alt => "", :width => "25px", :height => "25px"}/
                      %span Игнат Зайцев
          .tab-content-wide.container-grey
            .row
              .col-md-1
                %p.text-muted 15:06
              .col-md-4
                %p 
                  %a{:href => "#"} Наладка инфраструктуры для Минкомсвязь
                %p.text-muted Проект
              .col-md-7
                %ul.list-inline
                  %li Новая задача
                  %li
                    %a{:href => "#"} Согласование Техзадания (25 июля 15:40)
                %ul.list-inline
                  %li ООО «Старбакс» [ Борис Сергеев ]
          .tab-content-wide.container-white
            .row
              .col-md-1
                %p.text-muted 15:10
              .col-md-4
                %p 
                  %a{:href => "#"} Наладка инфраструктуры для Минкомсвязь
                %p.text-muted Проект
              .col-md-7
                %ul.list-inline
                  %li Статус задачи 
                  %li
                    %a{:href => "#"} Установочная встреча с клиентом
                %ul.list-inline
                  %li изменен на 
                  %li 
                    .label.label-warning Принята к исполнению

      #community-partners.tab-pane
        %h2.form-heading Активность сообщества
        .form-section
          .form-group
            %label.text-muted Выбор организационно-правовой формы
            %select.select-wide{:name => "", :role => "select2"}
              %option{:value => ""} Подразделение
              %option{:value => ""} Подразделение
              %option{:value => ""} Подразделение
              %option{:value => ""} Подразделение
          
          .form-group
            %label.text-muted Название организации(без кавычек)
            %input.form-control{:type => "text", :placeholder => "Селектор"}/
        

        %h3.form-heading Почтовый адрес
        .form-section
          .form-group
            %label.text-muted Выберите город
            %select.select-wide{:name => "", :role => "select2"}
              %option{:value => ""} Набережные Челны, Республика Татарстан, Россия
              %option{:value => ""} Набережные Челны, Республика Татарстан, Россия
              %option{:value => ""} Набережные Челны, Республика Татарстан, Россия
              %option{:value => ""} Набережные Челны, Республика Татарстан, Россия
          .form-group
            %label.text-muted Улица
            %input.form-control{:type => "text", :placeholder => "Машиностроительная"}/
          .form-group
            %label.text-muted Дом, Офис
            %input.form-control{:type => "text", :placeholder => "91 (ИТ-парк), оф. А506"}/

          .checkbox
            %label
              %input{:type => "checkbox"}/
              %span Юридический адрес совпадает с почтовым
          
          .form-group
            %label.text-muted БИК
            %input.form-control{:type => "text", :placeholder => "048762824"}/

          .form-group
            %label.text-muted ИНН
            %input.form-control{:type => "text", :placeholder => "165001001"}/

          .form-group
            %label.text-muted КПП
            %input.form-control{:type => "text", :placeholder => "163231001"}/

          .form-group
            %label.text-muted ОГРН
            %input.form-control{:type => "text", :placeholder => "1121650492889"}/

          .form-group
            %label.text-muted Банковские реквизиты
            %textarea.form-control{:rows => "7"}

          .form-group
            %label.text-muted Руководитель
            %input.form-control{:type => "text", :placeholder => "Ткачев Александр Александрович"}/

          .form-group
            %label.text-muted Должность
            %input.form-control{:type => "text", :placeholder => "Генеральный директор"}/
          
          .form-group
            %label.text-muted Основание
            %input.form-control{:type => "text"}/

          .form-group
            %label.text-muted Телефон руководителя
            %input.form-control{:type => "text"}/

        .form-group
          %a.btn.btn-default{:href => "#"} Сохранить
          %a.btn.btn-link{:href => "#"} Отмена

      #community-partners-edit.tab-pane
        .form-section
          .form-group
            %label.text-muted Сокращенное название организации (без кавычек)
            %select.select-wide{:name => "", :role => "select2"}
              %option{:value => ""} Селектор
              %option{:value => ""} Селектор
              %option{:value => ""} Селектор
              %option{:value => ""} Селектор
          .form-group
            %label.text-muted Выбор организационно-правовой формы
            %input.form-control{:type => "text", :placeholder => "Областное государственное учреждение"}/
        
        %h3.form-heading Почтовый адрес
        .form-section
          .form-group
            %label.text-muted Выберите город
            %select.select-wide{:name => "", :role => "select2"}
              %option{:value => ""} Набережные Челны, Республика Татарстан, Россия
              %option{:value => ""} Набережные Челны, Республика Татарстан, Россия
              %option{:value => ""} Набережные Челны, Республика Татарстан, Россия
              %option{:value => ""} Набережные Челны, Республика Татарстан, Россия
          .form-group
            %label.text-muted Улица
            %input.form-control{:type => "text", :placeholder => "Машиностроительная"}/
          .form-group
            %label.text-muted Дом, Офис
            %input.form-control{:type => "text", :placeholder => "91 (ИТ-парк), оф. А506"}/
          .checkbox
            %label
              %input{:type => "checkbox"}/
              %span.text-muted Юридический адрес совпадает с почтовым
          .form-group
            %label.text-muted БИК
            %input.form-control{:type => "text", :placeholder => "048762824"}/
          .form-group
            %label.text-muted ИНН
            %input.form-control{:type => "text", :placeholder => "1650255336"}/
          .form-group
            %label.text-muted КПП
            %input.form-control{:type => "text", :placeholder => "165001001"}/
          .form-group
            %label.text-muted ОГРН
            %input.form-control{:type => "text", :placeholder => "1121650022889"}/
          .form-group
            %label.text-muted Банковские реквизиты
            %textarea.form-control{:rows => "7"}

        .form-section
          .form-group
            %label.text-muted Рабочий email
            %input.form-control{:type => "text", :placeholder => "info@iq300.ru"}/
          .form-group
            %label.text-muted Рабочий телефон
            %input.form-control{:type => "text", :placeholder => "8 (905) 311 92 32"}/
          .form-group
            %label.text-muted Должность руководителя
            %input.form-control{:type => "text", :placeholder => "Генеральный директор"}/
          .form-group
            %label.text-muted ФИО в именительном падеже
            %input.form-control{:type => "text", :placeholder => "Ткачев Александр Александрович"}/
          .form-group
            %label.text-muted ФИО в родительном падеже (для автоматической генерации договоро
            %input.form-control{:type => "text", :placeholder => "Ткачева Александра Александровича"}/
          .form-group
            %label.text-muted Email руководителя
            %input.form-control{:type => "text", :placeholder => "at@iq300.ru"}/
          .form-group
            %label.text-muted Основание действия руководителя
            %select.select-wide{:name => "", :role => "select2"}
              %option{:value => ""} Положение
              %option{:value => ""} Положение
              %option{:value => ""} Положение
              %option{:value => ""} Положение

        .form-section.tab-content-wide.container-grey
          .form-group
            %label.text-muted Должность
            %input.form-control{:type => "text", :placeholder => "Главный бухгалтер"}/
          .form-group
            %label.text-muted Телефон
            %input.form-control{:type => "text", :placeholder => "Главный бухгалтер"}/
          .form-group
            %label.text-muted Email
            %input.form-control{:type => "text", :placeholder => "Главный бухгалтер"}/
          .form-group
            %a.btn.btn-sm.btn-default{:href => "#"} Добавить контакт

        .form-group
          %a.btn.btn-default{:href => "#"} Сохранить
          %a.btn.btn-link{:href => "#"} Отмена