.project-discussion {
  padding: $grid-gutter-width/2;
  padding-bottom: $grid-gutter-width;
  border-bottom: 1px solid darken($line-color, 10%);
  @include transition(background 0.2s ease);
  &.rolled {
    cursor: pointer;
    padding-bottom: $grid-gutter-width/2;
    &:hover {
      background-color: $item-hover-background;
    }
    .project-discussion-info {
      display: block;
    }
    .project-discussion-details {
      display: none;
    }
  }

}

.project-discussions-form {
  padding: 10px $grid-gutter-width/2;
}

.project-discussions-form-btn {
  @extend .btn;
  @extend .btn-default;
  @extend .btn-block;
  @extend .btn-sm;
  margin: 0;
}


.project-discussion-header {
  margin-bottom: 0.75em;
}

.project-discussion-title {
  font-size: $font-size-h4;
  line-height: $font-size-h4;
}

.project-discussion-label {
  @extend .text-muted;
}
.project-discussion-label {
  line-height: $font-size-h4 + ($font-size-h4 - $font-size-base)/2;
}

.project-discussion-comments-counter {
  @extend .text-muted;
  display: inline-block;
}

.project-discussion-comments-hide {
  @extend small;
  display: inline-block;
}

.project-discussion-latest-info {
  margin-bottom: 0.3em;
}


.project-discussion-latest-image {
  display: inline-block;
  width: $user-avatar-width;
  height: $user-avatar-width;;
  @include border-radius(100%);
  border: 1px solid $line-color;
}
