$project-form-navigation-height: 51px
$project-form-navigation-z-index: 100

.project-form
  position: absolute
  width: 100%
  height: 100%

.form-gray
  background-color: #e6e6e6

.project-form-section
  padding: 0
  color: #666
  .container-centered
    width: 100%
    margin: 0 auto
    padding: 0 10px
    +box-sizing(border-box)
  .project-form
    ul.errors-list
      color: $brand-danger
    .inputs-manager
      .inputs-list
        li
          span
            cursor: pointer
            font-weight: normal
            color: $blue-link-color
            border-bottom: dashed 1px $blue-link-color
          input
            display: none
      .editor
        display: none

.project-form-navigation-container-centered
  position: relative
  z-index: 1
  text-transform: uppercase
  &:before
    content: ""
    height: 1px
    background-color: #e6e6e6
    position: absolute
    left: 10px
    right: 10px
    top: $font-size-base*$line-height-base
    z-index: 0
  span
    vertical-align: middle
  .number
    display: inline-block
    line-height: 18px
    width: 18px
    height: 18px
    text-align: center
    border: solid 1px $greyText
    border-radius: 100%
    margin-right: 5px

.project-form-navigation-controls
  padding: 0 5px
  .back-link
    @extend .btn-lg
    display: inline-block
    padding-left: 0
    font-size: $font-size-base
    line-height: 1
    color: #666666
    max-width: 100%
    +text-overflow
    span
      vertical-align: middle

.project-team
  max-width: 970px
  width: 100%
  margin: 0 auto
  +clear
  color: #666
  .column-white
    background-color: white
    border: 3px solid #e6e6e6
    border-top-width: 6px
    min-height: 400px
  .members-scrolling-list
    max-height: 400px
    overflow: auto
    border-left: solid 1px #e6e6e6
  h6
    font-weight: 600
    margin-bottom: 5px

.projects-form-step-indicator
  @extend .btn-lg
  display: inline-block
  position: relative
  z-index: 1
  padding:
    left: 25px
    right: 25px
  font-size: 11px
  background: white
  cursor: pointer
  color: $gray-light
  &, &:hover
    text-decoration: none
  &:first-child
    float: left
    padding-left: 0
  &:last-child
    float: right
    text-align: right
    padding-right: 0
  &:hover, &.active
    color: $blue-link-color
    .number
      border-color: $blue-link-color

.project-form-info,
.project-form-description
  //padding-top: $project-form-navigation-height + 30px
  padding-top: 30px

.project-step-team
  position: absolute
  left: 0
  right: 0
  bottom: 0
  top: 0

.project-form-team-communities
  margin-top: 10px

.project-form-team-selected-list-group
  cursor: default
  font-size: 0.85em
  text-transform: uppercase
  &, &:hover
    background: $gray-lightest

.project-form-team-users-list
  list-style-type: none
  margin: 0
  padding: 0
  & > li
    display: block

.project-form-team-users-list-item-block
  display: block
  width: 100%
  margin: 0
  bottom: 0

.project-form-team-users-list-item
  padding: 5px $form-group-padding
  cursor: pointer
  border-bottom: 1px solid $line-color
  &:hover
    background: $item-hover-background

.project-form-team-users-list-item-checkbox-hidden
  display: none
  &:checked ~ .project-form-team-users-list-item
    background-color: $blue-brand-bright
    border-color: darken($blue-brand-bright, 10%)
    color: #fff
    .project-form-team-users-list-item-checkbox
      border-color: #fff
      &:after
        display: block
        border-color: #fff

.project-form-team-users-list-item-checkbox
  display: inline-block
  order: 3
  position: relative
  width: $form-group-padding
  height: $form-group-padding
  border-radius: 100%
  border: solid 1px $line-color
  overflow: hidden
  margin: ($user-avatar-width - $form-group-padding)/2 0
  &:after
    content: ""
    display: none
    position: absolute
    left: 7px
    top: 4px
    width: 4px
    height: 7px
    border:
      bottom: solid 2px $line-color
      right: solid 2px $line-color
    transform: rotate(45deg)

