$project-form-width: 640px
$project-form-navigation-height: 51px
$project-form-navigation-z-index: 100

.form-gray
  background-color: #e6e6e6

.project-form-section
  padding: 0
  color: #666
  .container-centered
    width: 100%
    max-width: $project-form-width
    margin: 0 auto
    padding: 0 10px
    +box-sizing(border-box)
  .project-form
    ul.errors-list
      color: #ff0101
    .inputs-manager
      .inputs-list
        li
          span
            cursor: pointer
            font-weight: normal
            color: $blue-link-color
            border-bottom: dashed 1px $blue-link-color
          input
            display: none
      .editor
        display: none
    .form-grid-3
      //+set-responsive(0, $project-form-width)
        float: none
        width: 100%

      label
        //+set-responsive(0, $project-form-width)
          display: inline-block
          padding: 0 0 7px
    .form-grid-8
      //+set-responsive(0, $project-form-width)
        width: 91.66667%

.project-form-navigation
  position: absolute
  height: $project-form-navigation-height
  z-index: $project-form-navigation-z-index
  //left: $navColumnWidth;
  left: 0
  right: 0
  text-align: center
  border-bottom: solid 1px #e6e6e6
  min-height: 50px
  line-height: 50px
  background-color: white
  color: $greyText
  .container-centered
    position: relative
    z-index: 1
    text-transform: uppercase
    font-size: 11px
    +clear
    &:before
      content: ""
      height: 1px
      background-color: #e6e6e6
      position: absolute
      left: 10px
      right: 10px
      top: 50%
      z-index: 0
    span
      vertical-align: middle
    .number
      display: inline-block
      line-height: 18px
      width: 18px
      height: 18px
      text-align: center
      border: solid 1px $greyText
      border-radius: 100%
      margin-right: 5px
  .controls
    z-index: 0
    padding: 0 5px
    +absoluted
    +clear
    //+set-responsive(0, 800px)
      position: static

    .back-link
      float: left
      color: #666666
      max-width: 45%
      +text-overflow
      span
        vertical-align: middle

.project-team
  max-width: 970px
  width: 100%
  margin: 0 auto
  +clear
  color: #666
  .column-white
    background-color: white
    border: 3px solid #e6e6e6
    border-top-width: 6px
    min-height: 400px
  .members-scrolling-list
    max-height: 400px
    overflow: auto
    border-left: solid 1px #e6e6e6
  h6
    font-weight: 600
    margin-bottom: 5px

.projects-form-step-indicator
  background: white
  position: relative
  z-index: 1
  padding: 0 25px
  cursor: pointer
  color: $gray-light
  //+set-responsive(0, 400px)
    padding: 0 7px

  &, &:hover
    text-decoration: none
  &:first-child
    float: left
    padding-left: 0
  &:last-child
    float: right
    text-align: right
    padding-right: 0
  &:hover, &.active
    color: #2b8caf
    .number
      border-color: #2b8caf

.project-form-info,
.project-form-description
  padding-top: 45px + $project-form-navigation-height

.project-step-team
  position: absolute
  //left: $navColumnWidth;
  left: 0
  right: 0
  bottom: 0
  //top: $topPanelHeight + $headerHeight + $project-form-navigation-height;
  top: 0

.project-form-team-communities
  margin-top: 10px

.project-form-team-selected-list-group
  cursor: default
  font-size: 0.85em
  text-transform: uppercase
  &, &:hover
    background: $gray-lightest
