// Customization

.gantt_grid_scale, .gantt_scale_cell, .gantt_cell, .gantt_task_content, .gantt_side_content
  font-size: 10px !important

.gantt_tree_icon
  display: none

.project-gantt-tab
  margin-left: -100px
  margin-right: -100px

.gantt_task_cell.right_limit
  border-left: 2px solid $errorColor

.gantt_task_cell.left_limit
  border-right: 2px solid $errorColor

.gantt_side_content
  top: -3px

.gantt_task_line
  background: $gantt-task-color
  .gantt_task_content
    color: $gantt-task-text-color

.gantt_task_line.completed
  background: $gantt-task-progress-color

.gantt_task_line
  i.fa-exclamation-triangle
    color: $errorColor
  i.fa-check-circle
    color: $gantt-task-progress-color

.gantt_task_line > .gantt_task_progress
  background: $gantt-task-progress-color

.gantt_task_line
  &.canceled, &.draft
    background: $gantt-template-task-color

.gantt_task_line.canceled > .gantt_task_progress
  background: $gantt-template-task-color

.gantt_task_line.pending
  background: $gantt-template-task-color

.gantt_task_line.overdued
  background: $gantt-overdue-color

.gantt_task_line.overdued_pending
  background: $gantt-template-task-color
  border-bottom: $gantt-overdue-color 3px solid

.weekend
  background: $gantt-weekend-color

.gantt_selected .weekend
  background: $gantt-weekend-selected-color !important

.gantt_cal_quick_info
  +text-overflow

.gantt_scale_line
  .gantt_scale_cell.current
    border-left: 1px solid $errorColor

.gantt_task_row
  .gantt_task_cell.current
    border-left: 1px solid $errorColor