.print
  margin: 15px

.gantt_tree_icon
  display: none

@media print
  @page
    margin: 0.8cm

  body
    font: 12pt Georgia, "Times New Roman", Times, serif
    line-height: 1.3
    font-color: $mainPrinterColor !important
    background-color: none
  .print
    display: none
  .gantt_container, .gantt-component
    border: 1px solid $mainPrinterColor !important
  .gantt_task_content
    color: $mainPrinterColor !important
  .gantt_task
    border-left: 1px solid $mainPrinterColor
    border-right: 1px solid $mainPrinterColor
  .gantt_task_line
    border: 1px solid $mainPrinterColor !important
  .gantt_task_progress
    background-color: $taskProgressPrinterColor !important
    -webkit-print-color-adjust: exact
  .gantt_link_line_down, .gantt_link_line_up, .gantt_link_line_left, .gantt_link_line_right
    background-color: $taskLinkPrinterColor !important
    -webkit-print-color-adjust: exact
  .gantt_link_arrow_right
    border-left-color: $taskLinkPrinterColor !important