// Customization

.gantt_grid_scale, .gantt_scale_cell, .gantt_cell, .gantt_task_content, .gantt_side_content
  font-size: 10px !important

.gantt_tree_icon
  display: none

.project-gantt-tab
  margin-left: -100px
  margin-right: -100px

.gantt_task_cell.right_limit
  border-left: 2px solid $errorColor

.gantt_task_cell.left_limit
  border-right: 2px solid $errorColor

.gantt_side_content
  top: -3px

.gantt_task_line
  background: $gantt-task-color
  .gantt_task_content
    color: $gantt-task-text-color

.gantt_task_line.completed
  background: $gantt-task-progress-color

.gantt_task_line
  i.fa-exclamation-triangle
    color: $errorColor
  i.fa-check-circle
    color: $gantt-task-progress-color

.gantt_task_line > .gantt_task_progress
  background: $gantt-task-progress-color

.gantt_task_line
  &.canceled, &.draft
    background: $gantt-template-task-color

.gantt_task_line.canceled > .gantt_task_progress
  background: $gantt-template-task-color

.gantt_task_line.pending
  background: $gantt-template-task-color

.gantt_task_line.overdued
  background: $gantt-overdue-color

.gantt_task_line.overdued_pending
  background: $gantt-template-task-color
  border-bottom: $gantt-overdue-color 3px solid

.weekend
  background: $gantt-weekend-color

.gantt_selected .weekend
  background: $gantt-weekend-selected-color !important

.gantt_cal_quick_info
  +text-overflow

.gantt_scale_line
  .gantt_scale_cell.current
    border-left: 1px solid $errorColor

.gantt_task_row
  .gantt_task_cell.current
    border-left: 1px solid $errorColor

.gannt-task-group
  visibility: hidden

.gantt_expand_button
  position: absolute
  background: #fff
  border-radius: 0 2px 2px 0
  border: 1px solid #cecece
  border-left: 0
  text-align: center
  color: #328ea0
  font-size: 33px
  cursor: pointer

.gantt_expand_button svg
  position: absolute
  top: 10px
  left: 10px

.gantt-fullscreen
  width: 100%
  height: 100%

.gantt-fullscreen
  position: absolute
  z-index: 100
  bottom: 20px
  right: -60px
  width: 30px
  height: 30px
  font-size: 32px
  background: transparent
  cursor: pointer
  opacity: 0.5
  text-align: center
  -webkit-transition: background-color 0.5s, opacity 0.5s
  transition: background-color 0.5s, opacity 0.5s

.gantt-fullscreen:hover
  background: rgba(150, 150, 150, 0.5)
  opacity: 1

.gantt-component .gantt-filters
  bottom: 20px
  right: 0
  position: absolute
  z-index: 100

.gantt-component.iq-modal-fullscreen
  .gantt-filters
    bottom: 20px
    right: 70px
  .gantt-fullscreen
    bottom: 20px
    right: 20px

.gantt_marker.today
  background-color: #a6a6a6

.gantt_marker.start_line
  background-color: #3ab54a