//.projects-list-column {
//}

.project-box {
  @extend %task-box-style;
  @extend .project-task-box;
  padding: {
    top: $grid-gutter-width/2;
    bottom: $grid-gutter-width/2;
  }
  &:hover {
    border-left-color: darken($gray-lighter, 10%);
    background-color: $gray-lighter;
  }
  &.project-box-overdued {
    @extend %task-overdued-style;
    border-left-color: desaturate(darken($brand-danger, 0%), 30%);
    .project-box-title-block,
    .status-date {
      color: desaturate(darken($brand-danger, 0%), 30%);
    }
  }
  &.project-box-new {
    @extend %task-new-style;
    background-color: $contentBackgroundColor;
    border-left-color: desaturate(darken($brand-primary, 0%), 30%);
    .project-box-title-block,
    .status-date {
      color: desaturate(darken($brand-primary, 0%), 30%);
    }
  }
  &.project-box-draft {
    border-left-color: desaturate(darken(#a0b9be, 0%), 30%);
    &, 
    .project-box-title-block,
    .status-date {
      color: #8d8d8d;
    }
    .project-box-title-block {
      font-style: italic;
    }
  }
}



.project-box-star {
  margin-left: -1.5em;
}

.project-box-details-block {
  margin: 0.5em 0;

}

.project-box-details-item,
a.project-box-details-item {
  color: $gray-light;
}

.project-box-details-item-new,
a.project-box-details-item-new {
  font-weight: bold;
  color: desaturate(lighten($brand-danger, 20%), 30%);
}


.project-box-progress {
  margin: 0.5em 0;
  height: 5px;
  @include border-radius(0);
  background-color: $gray-lighter;
  &, .progress-bar {
    @include box-shadow(none);
  }
  .progress-bar-danger {
    background-color: desaturate(lighten($brand-danger, 20%), 30%);
  }
  .progress-bar-primary {
    background-color: desaturate(lighten($brand-primary, 20%), 30%);
  }

}
