.project-box
  @extend %task-box-style
  @extend %project-task-box-style
  padding:
    top: $grid-gutter-width / 2
    bottom: $grid-gutter-width / 2
    left: $grid-gutter-width
    right: $grid-gutter-width*2
  &.project-box-project-overdued
    @extend %task-overdued-style
    border-left-color: $overdued-item-border-color
    .project-box-title-block,
    .status-date
      color: $overdued-item-text-color
  &.project-box-project-new
    @extend %task-new-style
    background-color: $new-item-background
    border-left-color: $new-item-border-color
    .project-box-title-block,
    .status-date
      color: $new-item-link-color
  &.project-box-project-draft
    border-left-color: $draft-item-border-color
    &,
    .project-box-title-block,
    .status-date
      color: $draft-item-link-color
    .project-box-title-block
      font-style: italic
  &.project-box-project-template
    background-color: $template-item-background
    border-left-color: $template-item-border-color
    .status-date
      color: $brand-success
  &:hover
    border-left-color: $item-hover-border-color
    background-color: $item-hover-background



a.project-box-block-link
  color: $text-color

.project-box-star
  margin-left: -1.5em

.project-box-details-block
  margin: 0.5em 0

.project-box-details-item,
a.project-box-details-item
  color: $text-muted
  &:hover
    color: darken($text-muted, 10%)

.project-box-details-item-new,
a.project-box-details-item-new
  font-weight: bold
  color: desaturate(lighten($brand-primary, 10%), 20%)
  &:hover
    color: $brand-primary

.project-box-progress
  margin: 0.5em 0
  height: 5px
  +border-radius(0)
  background-color: darken($gray-lighter, 5%)
  &, .progress-bar
    +box-shadow(none)
  .progress-bar-danger
    background-color: desaturate(lighten($brand-danger, 20%), 30%)
  .progress-bar-primary
    background-color: desaturate(lighten($brand-primary, 20%), 30%)
