.project-show-title,
h2.project-show-title {
  &, 
  section.view-column .column-content & {
    margin: 0.5em 0;
  }
}

.project-show-tabs {
  margin-top: 1em;
}


.project-show-section-title {
  margin: {
    top: 1em;
    bottom: 1em;
  }
}

.project-state-block {
  @extend .breadcrumb;
  margin: 2em 0;
}

.project-state {
  color: $gray;
  position: relative;
  padding: 0 10px;
  &.active  {
    color: $text-color;
    font-weight: bold;
  }
}

.project-show-information {
  margin: {
    top: $grid-gutter-width;
    bottom: $grid-gutter-width;
  }
}
