.project-show-title,
h2.project-show-title
  &,
  section.view-column .column-content &
    margin:
      top: 0
      bottom: 0.5em

.project-show-title
  max-width: 60%

.project-show-tabs
  margin:
    top: 1.5em
    bottom: 1em
  .nav.nav-tabs
    & > li
      & > a
        font-size: 1.1em
      &.active > a
        font-weight: bold

.project-show-content
  background-color: #fff
  padding-top: 1em

.project-header-avatar-content
  line-height: 1.2em

.project-header-avatar
  width: $user-avatar-width
  height: $user-avatar-width
  +border-radius(100%)
  border: 1px solid $gray-lighter
  margin-right: 0.5em

.project-show-section
  margin-bottom: 2em

.project-show-section-title
  margin:
    top: 0.5em
    bottom: 1em

.project-state-block
  @extend .breadcrumb
  margin:
    top: 0
    bottom: 1em

.project-state,
.project-state-title
  padding: 5px 10px
  display: inline-block

.project-state-title
  padding-left: 0

.project-state
  color: $gray
  position: relative
  &.active
    color: $text-color
    font-weight: bold

.project-show-information
  margin:
    top: $grid-gutter-width
    bottom: $grid-gutter-width
  ol li
    list-style-position: inside
    list-style-type: disc
