$project-task-box-controls-width: 40px
$project-task-box-status-block-width: 120px
$project-task-box-actions-width: 30px
$project-task-box-spacing: $grid-gutter-width/3
$project-task-padding-left: $project-task-box-spacing + $project-task-box-controls-width
$project-task-padding-right: $project-task-box-spacing + $project-task-box-status-block-width + $project-task-box-actions-width
$project-task-padding-left-nested: $project-task-padding-left + $grid-gutter-width*0.75
$project-task-checkbox-width: 12px

.project-task-box
  &, &.task-box
    padding:
      left: $project-task-padding-left
      right: $project-task-padding-right
  a
    text-decoration: none
  //@each $c in new $brand-primary, overdued $brand-danger, overdue $brand-danger

.project-task-box-template
  &, &:hover, &.task-box
    background: #fff
    border: 1px dashed $gray-light
    margin: 2em 0
    margin-bottom: 2em
    padding:
      top: 1.5em
      bottom: 1.5em

.project-task-box-title-block
  @extend .task-box-title-block
  font-size: $font-size-base + 1px

.project-task-box-controls
  @extend .col-sm-1
  width: $project-task-box-controls-width
  margin-left: - $project-task-box-controls-width
  padding-left: 0

.project-task-box-content
  @extend .col-sm-1
  @extend .task-box-description-block
  width: 100%

.project-task-box-status-block
  @extend .task-box-status-block
  @extend .col-sm-1
  width: $project-task-box-status-block-width
  margin-right: - $project-task-box-status-block-width

.project-task-box-actions
  @extend .task-box-status-block
  @extend .col-sm-1
  width: $project-task-box-actions-width
  margin-right: - ($project-task-box-actions-width + $project-task-box-status-block-width) + $project-task-box-spacing

.project-task-box-actions-btn
  @extend .btn
  @extend .btn-sm
  margin-top: -6px

.project-task-box-checkbox,
.project-task-box-child-counter
  display: inline-block
  //margin-left: -$project-task-padding-left + $project-task-checkbox-width

.project-task-box-checkbox
  margin-right: $project-task-checkbox-width/2

.project-task-box-level
  display: inline-block
  margin-right: -5px

.project-task-box-add-subtask-btn,
a.project-task-box-add-subtask-btn
  display: block
  text-align: center
  font-size: 14px
  padding: 5px
  width: 20px
  margin:
    left: $project-task-checkbox-width*1.5
    top: -2px
    bottom: -5px
  color: lighten($gray-light, 10%)
  &:hover
    color: $gray-light

.project-task-box-status-date
  @extend .task-box-status-date
  .month
    font-size: $font-size-small

.project-tasks-list-navbar-checkbox
  margin:
    right: 1em
  label
    padding:
      top: 9px
      bottom: 9px

.project-tasks-list-navbar-checkbox-input
  margin-right: 3px

.project-tasks-list-users-filters-block
  display: block
  padding: 10px $navbar-padding-horizontal
  border-top: 1px solid $navbar-default-border


.project-task-box-stats
  padding-right: 5px
  font-size: 11px

.placeholder
  outline: 1px dashed #4183C4

.mjs-nestedSortable-error
  background: #fbe3e4
  border-color: transparent

li.mjs-nestedSortable-collapsed.mjs-nestedSortable-hovering div
  border-color: #999

.disclose, .expandEditor
  cursor: pointer
  width: 20px
  display: none

.sortable li.mjs-nestedSortable-collapsed > ol
  display: none

.sortable li.mjs-nestedSortable-branch > div > .disclose
  display: inline-block

.project-tasks-list-sortable li ol
  li:first-child
    +arrow(top, 8px, white, $item-border-bottom-color)
    +arrow-position-left(25px)
  li.placeholder
    margin-left: 25px
  &:before
    border-bottom-color: darken($item-border-bottom-color, 10%)
  .project-task-box
    padding-left: $project-task-padding-left-nested
  .project-task-box-checkbox,
  .project-task-box-child-counter
    margin-left: - $project-task-checkbox-width

.project-task-box-child-counter
  @extend .badge
  background: $gray-light
  padding: 3px 5px
  font-size: 11px

.project-tasks-group-header
  padding: 8px $grid-gutter-width / 2
  +box-sizing(border-box)
  list-style: none
  cursor: pointer
  background-color: $gray-lighter
  +transition(background 0.2s ease)
  &:hover
    background-color: darken($gray-lighter, 5%)

.project-tasks-group-title
  margin: 0
  height: 32px
  line-height: 32px

.project-tasks-group-header-form
  margin:
    top: 10px
    bottom: 10px

.project-task-box-form
  padding:
    top: $grid-gutter-width / 2
    bottom: $grid-gutter-width
  &, &:hover
    background-color: $gray-lightest
    border:
      left: 5px solid $gray-lighter
  .project-task-box-template &
    margin-top: $grid-gutter-width / 2
    &, &:hover
      background: none
      border-left: none

.project-group-header-actions-fixed
  @extend .navbar
  @extend .navbar-default
  position: fixed
  z-index: 1000
  bottom: 0
  left: inherit
  right: inherit
  width: inherit
  background-color: $gray-lighter
  margin-left: -$grid-gutter-width / 2

.project-task-box-progress
  @extend .project-box-progress
  display: inline-block
  width: 100px
  margin: 0.75em 1.5em 0 1.5em
