$project-task-box-controls-width: 40px
$project-task-box-subtask-block-width: 30px
$project-task-box-status-block-width: 120px
$project-task-box-actions-width: 40px
$project-task-box-spacing: $grid-gutter-width/3
$project-task-padding-left: $project-task-box-spacing*3 + $project-task-box-controls-width + $project-task-box-subtask-block-width
$project-task-padding-right: $project-task-box-spacing + $project-task-box-status-block-width + $project-task-box-actions-width
$project-task-padding-left-nested: $project-task-padding-left + $grid-gutter-width*0.75
$project-task-checkbox-width: 12px

$project-tasks-group-header-blue: #9ebdfa
$project-tasks-group-header-yellow: #fff180
$project-tasks-group-header-green: #b1fbd6
$project-tasks-group-header-orange: #ffc799

$project-tasks-group-header-colors: "blue" $project-tasks-group-header-blue, "yellow" $project-tasks-group-header-yellow, "green" $project-tasks-group-header-green, "orange" $project-tasks-group-header-orange

=project-task-nested-item
  .project-tasks-list-sortable li ol
    @content

%project-task-action-btn
  @extend .btn
  @extend .btn-sm
  @extend .btn-default
  width: $project-task-box-subtask-block-width
  height: $project-task-box-subtask-block-width
  color: $gray-light
  &:hover
    color: $brand-primary

.project-task-box
  &, &.task-box
    padding:
      left: $project-task-padding-left
      right: $project-task-padding-right
      top: 8px
  a
    text-decoration: none
  //@each $c in new $brand-primary, overdued $brand-danger, overdue $brand-danger
+project-task-nested-item
  .project-task-box
    padding-left: $project-task-padding-left-nested

.project-task-box-template
  &, &:hover, &.task-box
    background: #fff
    border: 1px dashed $gray-light
    margin: 2em 0
    margin-bottom: 2em
    padding:
      top: 1.5em
      bottom: 1.5em
      left: $grid-gutter-width
      right: $grid-gutter-width

.project-task-box-title-block
  @extend .task-box-title-block
  margin-bottom: 4px
  font:
    size: $font-size-base + 1px

.project-task-box-controls
  @extend .col-sm-1
  width: $project-task-box-controls-width
  margin-left: - ($project-task-box-controls-width + $project-task-box-subtask-block-width + $project-task-box-spacing)
  padding-left: 0
+project-task-nested-item
  .project-task-box-controls
    margin-left: - $project-task-box-controls-width

.project-task-box-content
  @extend .col-sm-1
  @extend .task-box-description-block
  width: 100%

.project-task-box-status-block
  @extend .task-box-status-block
  @extend .col-sm-1
  width: $project-task-box-status-block-width
  margin-right: - $project-task-box-status-block-width
  cursor: pointer
  &:hover
    color: $brand-primary

.project-task-box-actions
  @extend .task-box-status-block
  @extend .col-sm-1
  width: $project-task-box-actions-width
  margin-right: - ($project-task-box-actions-width + $project-task-box-status-block-width) + $project-task-box-spacing

.project-task-box-add-subtask-btn-block
  @extend .col-sm-1
  width: $project-task-box-subtask-block-width
  margin-left: - ($project-task-box-subtask-block-width + $project-task-box-spacing*2)

+project-task-nested-item
  .project-task-box-checkbox,
  .project-task-box-child-counter
    margin-left: - $project-task-checkbox-width

.project-task-box-add-subtask-btn,
a.project-task-box-add-subtask-btn
  @extend %project-task-action-btn

.project-task-box-actions-btn
  @extend %project-task-action-btn

.project-task-box-checkbox,
.project-task-box-child-counter
  display: inline-block
  //margin-left: -$project-task-padding-left + $project-task-checkbox-width

.project-task-box-checkbox
  margin-right: $project-task-checkbox-width/2

.project-task-box-level
  display: inline-block
  margin-right: -5px

.project-task-box-status-date
  @extend .task-box-status-date
  .month
    font-size: $font-size-small

.project-tasks-list-navbar-checkbox
  margin:
    right: 1em
  label
    padding:
      top: 9px
      bottom: 9px

.project-tasks-list-navbar-checkbox-input
  margin-right: 3px

.project-tasks-list-users-filters-block
  display: block
  padding: 10px $navbar-padding-horizontal
  border-top: 1px solid $navbar-default-border

.project-task-box-stats
  padding-right: 5px
  font-size: 11px

.placeholder
  outline: 1px dashed #4183C4

.mjs-nestedSortable-error
  background: #fbe3e4
  border-color: transparent

li.mjs-nestedSortable-collapsed.mjs-nestedSortable-hovering div
  border-color: #999

.disclose, .expandEditor
  cursor: pointer
  width: 20px
  display: none

.sortable li.mjs-nestedSortable-collapsed > ol
  display: none

.sortable li.mjs-nestedSortable-branch > div > .disclose
  display: inline-block

+project-task-nested-item
  li:first-child
    +arrow(top, 8px, white, $item-border-bottom-color)
    +arrow-position-left(32px)
  li.placeholder
    margin-left: 30px
  &:before
    border-bottom-color: darken($item-border-bottom-color, 10%)

.project-task-box-child-counter
  @extend .badge
  background: $gray-light
  padding: 3px 5px
  font-size: 11px

.project-tasks-group-header
  padding: 8px $grid-gutter-width / 2
  +box-sizing(border-box)
  list-style: none
  cursor: pointer
  background-color: $gray-lighter
  +transition(background 0.2s ease)
  &:hover
    background-color: darken($gray-lighter, 5%)
  @each $c in $project-tasks-group-header-colors
    &.project-tasks-group-header-#{nth($c,1)}
      background-color: nth($c, 2)
      &:hover
        background-color: darken(nth($c, 2), 10%)
      .project-tasks-group-title
        //font-weight: bold
        color: $text-color-darker
        text-shadow: 0 1px 1px rgba(#fff, 0.2)

.project-tasks-group-title
  margin: 0
  height: 32px
  line-height: 32px
  white-space: nowrap
  text-overflow: ellipsis
  overflow: hidden


.project-tasks-group-header-color-select
  @extend .btn
  @extend .btn-default

.project-tasks-group-header-color-dropdown-menu
  @extend .dropdown-menu
  width: auto
  min-width: 0

.project-tasks-group-header-color-bullet
  display: inline-block
  margin: 0 5px
  width: 12px
  height: 12px
  vertical-align: baseline
  +border-radius(100%)

@each $c in $project-tasks-group-header-colors
  &.project-tasks-group-header-color-select-#{nth($c,1)}
    .project-tasks-group-header-color-bullet
      //background-color: nth($c, 2)
      background-color: darken(nth($c, 2), 10%)

.project-tasks-group-header-form
  margin:
    top: 10px
    bottom: 10px

.project-group-header-form-inputs
  margin-bottom: 10px

.project-task-box-form
  padding:
    top: $grid-gutter-width / 2
    bottom: $grid-gutter-width
  &, &:hover
    background-color: $gray-lightest
    border:
      left: 5px solid $gray-lighter
  .project-task-box-template &
    margin-top: $grid-gutter-width / 2
    &, &:hover
      background: none
      border-left: none

.project-group-header-actions-fixed
  @extend .navbar
  @extend .navbar-default
  position: fixed
  z-index: 1000
  bottom: 0
  left: inherit
  right: inherit
  width: inherit
  background-color: $gray-lighter
  margin-left: -$grid-gutter-width / 2

.project-task-box-progress-block
  display: inline-block
  margin:
    left: 1em
    right: 1em

.project-task-box-progress
  @extend .project-box-progress
  display: inline-block
  width: 100px
  margin: 0.75em 0.5em 0 0.5em
