.calendar-content-column
  @extend %list-column-block
  left: $navColumnWidth

.calendar-block-container
  padding: $grid-gutter-width

.fullcalendar-event-popover
  @extend .popover-form-block
  &.top
    margin-top: 10px
  &.bottom
    margin-top: -10px

.fullcalendar-event-form-control
  @extend .popover-form-control

.fullcalendar-event-form-text
  @extend .popover-form-text

.fullcalendar-event-form-control-title
  @extend .popover-form-control-title
  height: auto

.fullcalendar-event-form-actions
  @extend .popover-form-actions

.fullcalendar-event-form-actions-bottom
  @extend .popover-form-actions-bottom

.fullcalendar-event-form-submit-btn
  @extend .popover-form-submit-btn

.fullcalendar-event-form-cancel-btn
  @extend .popover-form-cancel-btn

.calendar-settings-item-bullet-block
  display: inline-block
  width: 20px

.calendar-settings-title-block
  margin-left: 20px
  .calendar-settings-item-bullet-block
    margin-left: -20px
