%section.filters-column.contacts-filters-column
  %ul.filters-column-list
    %li.active
      %a{:href => "/contacts"} Мои контакты
    %li
      %a{:href => "#"} Входящие
    %li
      %a{:href => "#"} Исходящие
    %li
      %a{:href => "#"} Все контакты
    %li
      %a{href: '/contacts/search/'} Поиск

