---
body_class: contacts-index
nav_item: contacts
layout: application_modular
search: false
---

- content_for :filters_column do
  = partial 'contacts/filters', locals: {active: :all}

- content_for :top_panel do
  .top-panel-container
    .list-panel-container
      .container-fluid
        = partial 'contacts/list/list_panel'

%section.contacts-content-column.form-container-compact
  %div{role: 'contacts-list-content'}
    = partial 'contacts/list'
  %div{role: 'contacts-list-search', style: 'display: none;'}
    = partial 'contacts/search_list'
  %div{role: 'contacts-list-invite', style: 'display: none;'}
    .contacts-list-container
      .content-group
        Пользователь с email
        %strong{role: 'contacts-list-invite-email'}
        еще не пользуется системой
        %br
        %a.btn.btn-primary
          Отправить приглашение


