---
body_class: contacts-index
---

= partial 'shared/header'
.content.content-global.display-mode.display-mode-initialized{"data-initial-action" => "index", filters: "true", full_view: "true", list: "true", view: "false"}
  / = partial 'communities/top_panel'
  = partial 'shared/_navigation'
  %section.filters-column.contacts-filters-column
    %ul.with-subfolders
      %li.active
        %a{:href => "#"} Мои контакты
      %li
        %a{:href => "#"} Входящие
      %li
        %a{:href => "#"} Исходящие
      %li
        %a{:href => "#"} Все контакты

  %section.contacts-content-column
    .page-content-compact.container-grey.clearfix
      .pull-left
        %input.form-control{:type => "text", placeholder: 'Поиск по участникам'}/
      .pull-right
        %ul.list-inline
          %li
            %select{:name => "", :role => "select2"}
              %option{:value => ""} Сообщества
              %option{:value => ""} Сообщества
              %option{:value => ""} Сообщества
              %option{:value => ""} Сообщества
          %li
            %select{:name => "", :role => "select2"}
              %option{:value => ""} Сортировка
              %option{:value => ""} Сортировка
              %option{:value => ""} Сортировка
              %option{:value => ""} Сортировка

    .page-content-compact
      .row.row-collapse
        - user_statuses = ['online', 'offline', 'away', '']
        - for i in 1..4
          - user_statuses.each do |user_status|
            .col-sm-4.col-collapse
              = partial 'contacts/contacts_list_item', locals: {user_status: user_status, is_contact: true}
            .col-sm-4.col-collapse
              = partial 'contacts/contacts_list_item', locals: {user_status: user_status, is_contact: false}



      .text-center
        %a.btn.btn-default{:href => "#"} Показать Еще 100
