---
body_class: contacts-index
nav_item: contacts
---

.application-filters
  = partial 'contacts/filters'
.application-content
  .application-content-block{role: 'application-content-block'}
    %section.contacts-content-column
      = partial 'contacts/index'

