// For task/index 
// Use helpers class for body controller_action_class
body.tasks-index {
	// hide top panel
	.top-panel { display: none !important;}
	
	// Cut place of top panel
	.tasks-filters-column, .tasks-list-column, .task-view-column {
		margin-top: -45px;
		padding-bottom: 45px;
		box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.1);
		@include box-sizing(content-box);
	}
}
body.tasks-show {
  .top-panel {
    .mode-trigger {
      display: none;
    }
  }
}

// Add gray background to tasks/show form
body.tasks-show {
	.task-view-column {
		padding: 0;
		background-color: #f6f6f6;
	}
	.tab-content {
		background-color: #fff;
		padding-left: 40px;
		padding-right: 40px;
	}
}

// Clean flat filters for tasks pages 
// must be refactoring in future 
.section-navigation {
  background-color: #fff;
	
  .with-subfolders, .with-subfolders a {
    background: none!important;
  }
  ul.with-subfolders {
  	padding-top: 20px;
	  
	  > li { 
	  	border: 0;
	  	&:before, &:after { display: none !important;}
	  	&.active {
	  		a {
	  			font-weight: 600;
	  			color: $brand-primary;
	  		}
	  	}

	  	> a {
	  		font-weight: 400;
		  	height: auto;
		  	font-size: 1.1em;
		  	line-height: 30px;
		  	padding-right: 30px;
		  	@include text-overflow;
		  	&:hover {
		  		text-decoration: underline;
		  	}
	  	}

	  	.counter {
	  		color: $brand-primary;
	  		border-color: $brand-primary;
	  		background: none;
	  		font-size: 0.8em;
	  	}
	  }
  }
}