//From iq300 head.haml
body
  &.restrictions-index .top-panel,
  &.users-show .top-panel
    display: none !important

.error_reports-new .top-panel, .error_reports-index .top-panel
  display: none !important

.edit_user .jcrop-holder div
  -webkit-border-radius: 50% !important
  -moz-border-radius: 50% !important
  border-radius: 50% !important

input[type="submit"]
  -webkit-appearance: none
  -webkit-border-radius: 3px

