// Make inline columns
.col-inline
  margin-right: -0.25em
  float: none
  display: inline-block
  vertical-align: top

// @end

// Make columns without gutter
.row-collapse
  margin-left: 0
  margin-right: 0

.col-collapse
  padding-left: 0
  padding-right: 0

// @end
