$container-fixed-width: 1280px
$container-fixed-width-lg: $container-fixed-width

$text-color: #606060
$text-color-dark: #474747
$text-color-darker: #333
$blue-pale-dark: #e3ebed
$blue-brand: #3b5b78
$blue-brand-bright: #3998fc
$brand-beige: #f9f9f4
$brand-beige-light: #fcfcf9
$green-pale: #f4ffee

$bodyBackground: $brand-beige
$bg-light-grey: #f6f6f6
$bg-grey: #b3b3b3
$borderColor: #cccccc
$blueLink: #3fabf3
$greyText: #9a9a9a

$dark-comment-tab: #333333
$gray-comment-tab: #404040
$blue-comment-tab: #348dad

$blue-link-color: #368aaf
//$blue-link-color-hover: saturate($blue-link-color), 50%)
$blue-link-color-hover: darken($blue-link-color, 10%)

$line-color: $gray-lighter

$item-border-color: darken($gray-lighter, 15%)
$item-border-bottom-color: darken($gray-lighter, 5%)

$draft-item-border-color: lighten($item-border-color, 15%)

//$new-item-background: $blue-pale-dark
$new-item-background: saturate(darken($blue-pale-dark, 3%), 34%)
$new-item-border-color: darken($new-item-background, 10%)

$template-item-background: $green-pale
$template-item-border-color: lighten($brand-success, 30%)

$item-hover-background: lighten($gray-lighter, 3%)
$item-hover-border-color: darken($gray-lighter, 10%)

$overdued-item-border-color: desaturate(darken($brand-danger, 0%), 30%)
$overdued-item-text-color: desaturate(darken($brand-danger, 0%), 30%)

$placeholderColor: lighten(black, 60%)
$contentBackgroundColor: $blue-pale-dark

$navigationBackground: transparent
$errorColor: red
$notificationNewParticipant: #fff6ed
$input-color-placeholder: $placeholderColor
$green-cyan: #1adb88
$green-grass: #99ba6b
$invite-button-color: #1abc9c

// Header global vars
$headerDarker: #dbe3e6
$headerBg: transparent
$headerHeight: 55px
$topPanelHeight: 45px

$navColumnWidth: 90px
$filtersColumnWidth: 180px
$listColumnWidth: 319px
$wideListColumnWidth: 409px
$footerHeight: 30px

$voronkaBackground: #b4c7cb
$voronkaBackgroundHover: #358bac

// Color vars from colors.css
$notification: #666666
$defaultInfo: #999999

// Device screen size
$screenDesktop: 980px
$screenTablet: 860px
$screenSmallTablet: 610px
$screenPhone: 490px
$screenSmallPhone: 330px

// spaces
$space-small: 10px
$space-middle: 20px
$space-large: 40px

$heads-color: whitesmoke
$border-color: #eaeaea
$base-color: white
$btn-color: #3daddf
$link-color: black
$alert-color: red
$waiting-color: #fbb04b
$member-color: #50b864

// layout settings:
$filters-column-background: #f9f9f9
$filters-column-z-index: 19
$content-column-z-index: 20
$top-panel-z-index: 21
$view-column-z-index: $content-column-z-index
$content-column-toolbar-z-index: 22
$comment-fixed-form-z-index: $content-column-toolbar-z-index
$modal-z-index: 29
$popover-z-index: 30

$user-avatar-width: 32px

// Select2
$select2-bg-color: #ebebeb
$select2-shadow-color: #d7d7d7

// Community Panel
$community-block-height: 155px


// Alerts

$alert-success-bg:            $state-success-bg 
$alert-success-text:          #fff
$alert-success-border:        $state-success-border 

$alert-info-bg:               $state-info-bg 
$alert-info-text:             $state-info-text 
$alert-info-border:           $state-info-border 

$alert-warning-bg:            $state-warning-bg 
$alert-warning-text:          #fff
$alert-warning-border:        $state-warning-border 

$alert-danger-bg:             $state-danger-bg 
$alert-danger-text:           #fff
$alert-danger-border:         $state-danger-border 

$brand-caption-clarified: #939290
$brand-status-info-light: #D7EBF8
$brand-status-danger-light: #F2DCDB
$brand-status-warning-light: #FCF8E2

// social
$facebook-color: #3b5998
$googleplus-color: #dd4b39
$yandex-color: #f00
$mailru-color: #168de2

// gannt print version
$gantt-main-print-color: #000000
$gantt-progress-print-color: #c9c9c9
$gantt-link-print-color: #a9a9a9
$gantt-overdue-color: #ff3638
$gantt-template-task-color: #a6a6a6
$gantt-task-color: #fff
$gantt-task-progress-color: #368aaf
$gantt-task-text-color: #000000
$gantt-weekend-color: #f6f6f6
$gantt-weekend-selected-color: #f7eb91

// forms
$comment-textarea-max-height: 11.7em
