$borderColor: #cccccc;
$blueLink: #3fabf3;
$greyText: #9a9a9a;
$placeholderColor: #cccccc;
$contentBackgroundColor: #e3ebed;
$navigationBackground: #245b79;
$errorColor: red;
$notificationNewParticipant: #fff6ed;

// Header global vars
$headerDarker: #dbe3e6;
$headerBg: #f8f9f4;
$headerHeight: 55px;
$topPanelHeight: 45px;

$navColumnWidth: 90px;
$filtersColumnWidth: 180px;
$listColumnWidth: 319px;
$wideListColumnWidth: 409px;
$footerHeight: 30px;

$voronkaBackground: #b4c7cb;
$voronkaBackgroundHover: #358bac;

// Color vars from colors.css
$notification: #666;
$defaultInfo: #999;

// Device screen size
$screenDesktop: 980px;
$screenTablet: 860px;
$screenSmallTablet: 610px;
$screenPhone: 490px;
$screenSmallPhone: 330px;

// spaces
$space-small: 10px;
$space-middle: 20px;
$space-large: 40px;
