.accept
  span= t('templates.apply_changes.end_edit')
  i.icon-ok
.decline
  span= t('common.cancel')
  i.icon-remove
.spinner
  span= t('templates.apply_changes.saving')
.error
  span= t('templates.apply_changes.saving_error')
