.personal-tree-header
  .title= t('templates.personal_tree.rules_for_tasks')
  .close-btn
    i.icon-remove
.personal-tree-body
  .masters-column
  .target-column
    .arrow
    .btn
      .expander(data-target='.target', data-expand-on-init=true)
      a.department-title= t('templates.personal_tree.department_name')
    .target

    .arrow
  .slaves-column
