if model.photo()
  img(src=model.photo(), data-default-src='/assets/default-user-avatar.png')
.name
  a(href="/users/#{model.get('user_id')}")=model.get("name")
  .detailed
    span=model.post()
    if model.job()
      .actions
        a.edit
          i.icon-reorder.popup-trigger.edit-job(data-model-id=model.get("id"))
          if workersCount != undefined
            span.workers-counter
              =  workersCount
              i.icon-user