// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/translate";
@import "active_admin/base";
@import "helpers/mixins";
//@import "typography";
@import "redactor";
@import "select2";
@import "just_datetime_picker/base";
@import "jquery.Jcrop.min";
@import "elements/image-cropper";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   body.active_admin {
//      .status_tag { background: #6090DB; }
//   }
//
// Notice that Active Admin CSS rules are nested within a
// 'body.active_admin' selector to prevent conflicts with
// other pages in the app. It is best to wrap your changes in a
// namespace so they are properly recognized. You have options
// if you e.g. want different styles for different namespaces:
//
// .active_admin       applies to any Active Admin namespace
// .admin_namespace    applies to the admin namespace (eg: /admin)
// .other_namespace    applies to a custom namespace named other (eg: /other)

.avatar {
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
}

.mini {
  height: 40px;
}

#info_body_input, #advert_body_input, #help_article_body_input {
  @include children-inline;
  > label {
    float: none;
    padding-bottom: 5px;
  }
  .redactor_box {
    width: 98%;
    @include when-big-screen {
      width: 77.8%;
    }
  }
}

#info_title, #advert_title, #help_article_title, #error_report_title {
  font-size: 21px;
}

#info_short_link {
  font-size: 16px;
}

.select2-container {
  @include inline-block;
  max-width: 77.8%;
}

body.active_admin .redactor_editor {
  //@include bootstrap-typography;
}

body.active_admin .flot-chart {
  width: 800px;
  height: 600px;
}

.statistic-data-range {
  margin-bottom: 10px;
  .dates-select {
    display: none;
    .datepicker {
      display: inline-block;
      width: 100px;
    }
  }
}

a.action-link {
  margin-left: 10px;
}

.filter_form_field {
  > input#q_search {
    width: 212px;
    margin-left: 0;
  }
}

form li.user-avatar {
  height: 250px;
}

.remove-picture-container {
  display: block;
  margin-left: 20%;
}
