$comment-fixed-form-breakpoint: $container-fixed-width - $navColumnWidth
$comment-form-buttons-width: 30px

.comments-form-block
  @extend .comments-form
  @extend .container-grey
  position: relative
  box-sizing: border-box
  padding: 0
  margin: 0
  margin-bottom: $space-middle
  border: 2px dashed transparent
  +border-radius($border-radius-base)
  +transition(background 0.2s ease)
  &.comments-form-drag
    background-color: $new-item-background
    border-color: darken($new-item-border-color, 10%)
  .comment-form-content
    padding:
      top: 10px
      bottom: 30px
      left: $space-middle
      right: $space-middle

.comments-form-block-fixed
  @extend .comments-form-block
  margin:
    bottom: 0
  border-radius: 0
  .comment-form-content
    padding:
      top: 10px
      bottom: 10px
      left: $space-large
      right: $space-large

.comment-form-tip
  display: block
  position: absolute
  left: 0
  top: 0
  width: 100%
  height: 80%
  +center-block-container

.comment-form-tip-content
  +center-block-content

.comments-form-actions-block
  padding-left: $comment-form-buttons-width

.comments-form-buttons-block
  @extend .pull-left
  margin-left: - $comment-form-buttons-width

.comment-tab-content
  .tab-pane
    display: none
    &.active
      display: block
