.comments-form-block-fixed
  @extend .comments-form
  @extend .container-grey
  display: block
  position: fixed
  left: inherit
  right: inherit
  top: auto
  bottom: 0
  width: auto
  margin-left: $navColumnWidth
  padding:
    top: 10px
    bottom: 30px
    left: $space-large
    right: $space-large


