.navbar.navbar-default{role: 'tasks-list-filters'}
  .tasks-list-filters-block-content{"data-reactid" => ".9.0.0.1.0.0"}
    .row{"data-reactid" => ".9.0.0.1.0.0.0"}
      .col-md-6.tasks-list-filters-block-section{"data-reactid" => ".9.0.0.1.0.0.0.0"}
        .input-group-above.input-group-sm{"data-reactid" => ".9.0.0.1.0.0.0.0.0"}
          .Select.is-searchable.has-value{"data-reactid" => ".9.0.0.1.0.0.0.0.0.0"}
            %input{"data-reactid" => ".9.0.0.1.0.0.0.0.0.0.0", :name => "community", :type => "hidden", :value => "-1"}/
            .Select-control{"data-reactid" => ".9.0.0.1.0.0.0.0.0.0.1"}
              .Select-placeholder{"data-reactid" => ".9.0.0.1.0.0.0.0.0.0.1.0:$placeholder"} Все сообщества
              .Select-input{"data-reactid" => ".9.0.0.1.0.0.0.0.0.0.1.1", :style => "display:inline-block;"}
                %input{"data-reactid" => ".9.0.0.1.0.0.0.0.0.0.1.1.0", :style => "width:5px;", :tabindex => "0", :value => ""}/
                %div{"data-reactid" => ".9.0.0.1.0.0.0.0.0.0.1.1.1", :style => "position: absolute; visibility: hidden; height: 0px; width: 0px; overflow: scroll; white-space: nowrap; font-size: 13px; font-family: Arial, sans-serif;"}
              %span.Select-arrow-zone{"data-reactid" => ".9.0.0.1.0.0.0.0.0.0.1.2"}
              %span.Select-arrow{"data-reactid" => ".9.0.0.1.0.0.0.0.0.0.1.3"}
      .col-md-6.tasks-list-filters-block-section{"data-reactid" => ".9.0.0.1.0.0.0.1"}
        .input-group.input-group-sm{"data-reactid" => ".9.0.0.1.0.0.0.1.0"}
          .Select.has-value{"data-reactid" => ".9.0.0.1.0.0.0.1.0.0"}
            %input{"data-reactid" => ".9.0.0.1.0.0.0.1.0.0.0", :name => "sort", :type => "hidden", :value => "created_at"}/
            .Select-control{"data-reactid" => ".9.0.0.1.0.0.0.1.0.0.1"}
              .Select-placeholder{"data-reactid" => ".9.0.0.1.0.0.0.1.0.0.1.0:$placeholder"} Время добавления
              .Select-input{"data-reactid" => ".9.0.0.1.0.0.0.1.0.0.1.1", :tabindex => "0"}  
              %span.Select-arrow-zone{"data-reactid" => ".9.0.0.1.0.0.0.1.0.0.1.2"}
              %span.Select-arrow{"data-reactid" => ".9.0.0.1.0.0.0.1.0.0.1.3"}
          .input-group-btn{"data-reactid" => ".9.0.0.1.0.0.0.1.0.1"}
            %a.btn.fa.fa-sort-amount-desc{"data-reactid" => ".9.0.0.1.0.0.0.1.0.1.0", :href => "#"}
