---
layout: input_registration
---
.registration-page
  .registration-page-container
    .registration-page-header
      %img{src: '/images/login/logo-blue.png', class: 'main-logo'}
      %p.registration-page-header-title
        Система управления задачами и проектами
    .registration-page-body-content
      .registration-page-body
        .registration-form-title-wrapper
          %p.registration-form-title
            Как называется ваша компания?
        %img{src: '/images/login/logo-blue.png', class: 'enter-logo'}
        %form.registration-page-form
          .form-group.registration-step1-form-group
            .registration-form-input-wrapper
              %input.form-control.registration-form-input{placeholder: 'Название компании'}
          .registration-alert.registration-alert-info
            %p
              Введеный промо-код позволяет использовать систему без ограничения в течении 6 месяцев
          .registration-alert.registration-alert-danger
            %p
              Введеный промо-код не корректен. Вы можете продолжить регистрацию.
          .buttons.registration-steps-buttons
            %a{href: '', class: 'btn registration-next-step', value: 'Вперед'} Далее
            %a{href: '', class: 'registration-previous-step', value: 'Вперед'} Назад
        .registration-page-body-footer
        .registration-page-footer
          .enter-container
            .registration-delimeter
            .registration-steps-status-block
              %ol
                %li.registration-steps-status
                  .registration-steps-status-link
                %li.registration-steps-status
                  .registration-steps-status-link.active
                %li.registration-steps-status
                  .registration-steps-status-link
