---
layout: page
---

.container
  .row
    .col-xs-2
      .filters-column
        .list-panel-block{:style => "\n    padding-bottom: 0;\n"}
          -#%select.form-control-select-plain{"data-button-class" => "btn btn-link-plain", "data-button-icon" => "fa fa-users", "data-button-text-all" => "Все задачи", "data-button-text-default" => "Задачи", :role => "multiselect-select", :style => "display: none;"}
            %option
              ООО Айкью 300
            %option
              ЦИТ
            %option
              ООО Айкью 300
            %option
              ЦИТ
            %option
              ООО Айкью 300
            %option
              ЦИТ
          .btn-group{:style => "\n    width: 100%;\n"}
            .text-muted.btn-text{:style => "\n    padding: 0 15px;\n"} Сообщество
            %button.multiselect.dropdown-toggle.btn.btn-link-plain{"aria-expanded" => "false", "data-toggle" => "dropdown", :style => "\n    /* margin-top: -4px; */\n    width: 100%;\n    padding-top: 0;\n", :title => "\n                  ООО Айкью 300\n                ", :type => "button"}
              %span.multiselect-selected-text{:style => "\n    /* width: 100%; */\n    /* display: inline-block; */\n"}
                %span.multiselect-select-text{:style => "\n    font-size: 15px;\n    font-weight: bold;\n    /* margin-top: -5px; */\n    width: 90%;\n    overflow: hidden;\n    text-overflow: ellipsis;\n    display: inline-block;\n    text-align: left;\n    padding: 0;\n"} ООО Айкью 300 Длинное название
                = succeed "\u{a0}" do
                  %span.fa.fa-caret-down{:style => "\n    display: inline-block;\n    vertical-align: top;\n    line-height: 20px;\n"}
            %ul.multiselect-container.dropdown-menu
              %li.active
                %a{:tabindex => "0"}
                  %label.radio
                    %input{:type => "radio", :value => "ООО Айкью 300"}/
                    ООО Айкью 300
              %li
                %a{:tabindex => "0"}
                  %label.radio
                    %input{:type => "radio", :value => "ЦИТ"}/
                    ЦИТ
              %li
                %a{:tabindex => "0"}
                  %label.radio
                    %input{:type => "radio", :value => "ООО Айкью 300"}/
                    ООО Айкью 300
              %li
                %a{:tabindex => "0"}
                  %label.radio
                    %input{:type => "radio", :value => "ЦИТ"}/
                    ЦИТ
              %li
                %a{:tabindex => "0"}
                  %label.radio
                    %input{:type => "radio", :value => "ООО Айкью 300"}/
                    ООО Айкью 300
              %li
                %a{:tabindex => "0"}
                  %label.radio
                    %input{:type => "radio", :value => "ЦИТ"}/
                    ЦИТ
        %ul.filters-column-list.filters-column-list-middle
          %li.clients.active
            %a{:href => "/crm/"} Клиенты
          %li.deals
            %a{:href => "/crm/deals"} Сделки
          %li.tasks
            %a{:href => ""} Задачи
          %li.activities
            %a{:href => ""} Активности
          %li.projects
            %a{:href => ""} Проекты
          %li.reports
            %a{:href => ""} Отчётыa
          %li.settings
            %a{:href => ""} Настройки
    .col-xs-2
      .filters-column
        .list-panel-block{:style => "\n"}
          %ul.contacts-filters-column-list{"data-reactid" => ".3"}
            %li.all.active{"data-reactid" => ".3.$contacts"}
            %li.filters-column-list-section-title{"data-reactid" => ".3.1"} Сообщества
            %li{"data-reactid" => ".3.2:$3396"}
              %a{"data-reactid" => ".3.2:$3396.0", "data-test-conversation-item-title" => "true"}
                %i.fa.fa-users.icon-item-block{"data-reactid" => ".3.2:$3396.0.0"}
                %span{"data-reactid" => ".3.2:$3396.0.1"}
                %span{"data-reactid" => ".3.2:$3396.0.2"}  
                %span{"data-reactid" => ".3.2:$3396.0.3"} Iq300
                %span{"data-reactid" => ".3.2:$3396.0.4"}
              %a{"data-reactid" => ".3.2:$3396.0", "data-test-conversation-item-title" => "true"}
                %i.fa.fa-users.icon-item-block{"data-reactid" => ".3.2:$3396.0.0"}
                %span{"data-reactid" => ".3.2:$3396.0.1"}
                %span{"data-reactid" => ".3.2:$3396.0.2"}  
                %span{"data-reactid" => ".3.2:$3396.0.3"} МАУ ЦИТ
                %span{"data-reactid" => ".3.2:$3396.0.4"}
              %a{"data-reactid" => ".3.2:$3396.0", "data-test-conversation-item-title" => "true"}
                %i.fa.fa-users.icon-item-block{"data-reactid" => ".3.2:$3396.0.0"}
                %span{"data-reactid" => ".3.2:$3396.0.1"}
                %span{"data-reactid" => ".3.2:$3396.0.2"}  
                %span{"data-reactid" => ".3.2:$3396.0.3"} Татнефть–композит
                %span{"data-reactid" => ".3.2:$3396.0.4"}
          .btn-group
            %button.multiselect.dropdown-toggle.btn.btn-link-plain{"data-toggle" => "dropdown", :title => "\n                  ООО Айкью 300\n                ", :type => "button"}
              %span.multiselect-selected-text
                 
                %span.multiselect-select-text> Другое
                 
                %i.fa.fa-caret-down
            %ul.multiselect-container.dropdown-menu
              %li.active
                %a{:tabindex => "0"}
                  %label.radio
                    %input{:type => "radio", :value => "ООО Айкью 300"}/
                    ООО Айкью 300
              %li
                %a{:tabindex => "0"}
                  %label.radio
                    %input{:type => "radio", :value => "ЦИТ"}/
                    ЦИТ
              %li
                %a{:tabindex => "0"}
                  %label.radio
                    %input{:type => "radio", :value => "ООО Айкью 300"}/
                    ООО Айкью 300
              %li
                %a{:tabindex => "0"}
                  %label.radio
                    %input{:type => "radio", :value => "ЦИТ"}/
                    ЦИТ
              %li
                %a{:tabindex => "0"}
                  %label.radio
                    %input{:type => "radio", :value => "ООО Айкью 300"}/
                    ООО Айкью 300
              %li
                %a{:tabindex => "0"}
                  %label.radio
                    %input{:type => "radio", :value => "ЦИТ"}/
                    ЦИТ
          %li.filters-column-list-divider{"data-reactid" => ".3.3", :style => "\n    margin-top: 15px;\n    margin-bottom: 5px;\n"}
        %ul.filters-column-list.filters-column-list-middle
          %li.clients.active
            %a{:href => "/crm/"} Клиенты
          %li.deals
            %a{:href => "/crm/deals"} Сделки
          %li.tasks
            %a{:href => ""} Задачи
          %li.activities
            %a{:href => ""} Активности
          %li.projects
            %a{:href => ""} Проекты
          %li.reports
            %a{:href => ""} Отчётыa
          %li.settings
            %a{:href => ""} Настройки
.content-group
.container
  .row
    .top-panel-container
      .list-panel-container
        .container-fluid
          = partial 'tasks/list/list_panel'


