---
body_class: communities-contacts
---

= partial 'shared/header'
.content.content-global.display-mode.display-mode-initialized{"data-initial-action" => "index", filters: "true", full_view: "true", list: "true", view: "false"}
  = partial 'communities/top_panel'
  = partial 'shared/_navigation'

  %section.one-big-column.one-big-column-collapse.container-grey
    .page-content
      .content-group
        %a.btn.btn-default{:href => "#"}
          %span.fa.fa-print
          Распечатать
      .content-group.container-white.form-container
        .content-section
          .form-inline
            .input-group.input-group-spacy
              .community-logo
                %img{:src => "/images/community/1.png", :alt => ""}/
            .input-group.input-group-spacy
              %h1 
                Контактная информация
                %br/
                ООО «Айкью 300»
        
        .content-group
          %p.text-muted Полное название организации(c указанием организационно-правовой формы) по Уставу:
          %h4 Общество с ограниченной ответственностью Айкью 300, Набережные Челны
        
        .content-group
          %p.text-muted Сокращенное название организации:
          %h4 ООО Айкью 300

        .content-group
          %p.text-muted Юридический адрес:
          %h4 Татарстан, Набережные Челны, ул. Машиностроительная, 91 (ИТ-парк), оф. А506

        .content-group
          %p.text-muted Почтовый адрес:
          %h4 423824, Татарстан, Набережные Челны, ул. Машиностроительная, 91 (ИТ-парк), оф. А506

        .content-group
          %p.text-muted ИНН:
          %h4 1650255336

        .content-group
          %p.text-muted КПП:
          %h4 165001001

        .content-group
          %p.text-muted ОГРН:
          %h4 1121650022889

        .content-group
          %p.text-muted Банковские реквизиты:
          %h4 
            Номер расчетного счета в банке: 40702810029140000402
            %br/
            Наименование банка: в филиале «Нижегородский» ОАО «АЛЬФА-БАНК»
            %br/ 
            Корреспондентский счёт: 30101810200000000824
            %br/
            БИК:  042202824

        .content-group
          %p.text-muted Руководитель: генеральный директор
          %h4 Ткачев Александр Александрович

        .content-group
          %p.text-muted Телефон руководителя:
          %h4 -
