.alert.alert-warning-light
  %h4.content-group-sm
    %strong Понизить план
  .content-group
    Изменения наступят сразу после нажатия кнопки.
  %a.btn.btn-warning{role: 'change-plan-confirm-btn'}
    Поменять план
