.docs-list-header-item
  padding: 1em
  font:
    size: $font-size-small
    weight: bold
  color: $text-muted

.docs-list-item-block
  padding: 1em
  font-weight: normal

.docs-list-item-icon-col
  @extend .col-xs-1
  width: 2em

