section.contracts-view-column {
  .object-details {
    h3 {
      margin-bottom: 10px;
    }
    p, .description, .services {
      margin-bottom: 5px;
      font-size: 13px;
      strong {
        color: #666666;
      }
    }
    code {
      background: #f1f5f6;
    }
    .description {
      margin: 8px 0 16px;
      p {
        margin-top: 4px;
        display: block;
        background: #f1f5f6;
        padding: 7px 14px 24px;
        font-size: 14px;
        color: #666666;
      }
    }
    #prolongation_div {
      display: none;
      @include bordered;
      padding: 8px 10px;
      margin-bottom: 14px;
    }
    .prolongation_link {
      margin-left: 8px;
    }
    .contract-actions {
      margin-top: 18px;
      a {
        @extend %green-link-button;
        &.decline-button {
          @extend %danger-link-button;
        }
        + a {
          background: #348dad;
        }
        + a + a {
          background: #8cc63e;
        }
        + a + a + a {
          background: #4daee3;
        }
      }
    }
  }
}
