.content-global
  > .top-panel
    height: inherit
    > .pull-left
      > span.community
        padding: 12px

@media only screen and (min-width: 320px) and (max-width: 800px)
  .content-global
    .filters-column
      display: block !important
      position: fixed
      top: 0
      right: 0
      z-index: -2
      +opacity(0)
  .show-filters
    right: $filtersColumnWidth
    .content-global
      .filters-column
        z-index: -1
        +opacity(1)

@media only screen and (min-width: 320px) and (max-width: 480px)
  .content-global
    padding-top: 46px
