
section.list-column {
  //  background: #f1f5f6; TODO не соответствовало макету
  background: #FFFFFF;
  @extend %list-column-shadow;
  z-index: $content-column-z-index;
  position: relative;
  .hide {
    display: none;
  }
  .new-elements {
    td {
      cursor: pointer;
    }
  }
  > menu.sortable-header {
    font-size: 14px;
    font-weight: bold;
    height: 44px;
    line-height: 44px;
    background: #dbe3e6;
    @include box-shadow(0 2px 12px rgba(0, 0, 0, 0.12));
    @include children-inline;
    > a {
      height: 100%;
      padding-left: 3%;
      padding-right: 2%;
      color: #666666;
      @include text-overflow;
      &.right {
        text-align: right;
      }
    }
    & + * {
      border-top: 1px solid #cccccc;
    }
  }
  // general
  > ul {
    position: relative;
    z-index: 5;
    font-size: 12px;
    width: 100%;
    @include box-shadow(0 2px 12px rgba(0, 0, 0, 0.12));
    &, > li {
      position: relative;
    }
    > li > * {
      height: 44px;
      line-height: 46px;
      @include inline-block;
      > .favorite {
        a {
          text-decoration: none;
          color: rgba(0, 0, 0, 0.2);
        }
        &:hover a {
          color: #666666;
        }
      }
      .favorite.starred {
        a {
          color: #fab035;
          > i:before {
            @extend .icon-star:before;
          }
        }
      }
    }
    > li.header {
      background: #dbe3e6;
      color: #646665;
      line-height: 44px;
      height: 44px;
      @include bordered-bottom;
      font-weight: bold;
      a {
        color: #646665;
        display: block;
        height: 44px;
        .sort-arrow {
          position: relative;
          margin-left: 5px;
          top: -2px;
        }
        &:hover {
          text-decoration: none !important;
          b {
            text-decoration: underline !important;
          }
        }
      }
    }
    li.active {
      background: #338cae !important;
      @include has-after-icon(21px, #e1ecf0) {
        right: -2px;
        top: 12px;
        @extend .icon-caret-left:before;
      }
    }
  }
  ul.infinite-list {
    z-index: 3;
    @include box-shadow(none);
  }
  ul.infinite-list li, > ul > li.header ~ li {
    min-height: 44px;
    cursor: pointer;
    border: 1px solid transparent;
    & + li {
      margin-top: -1px;
    }
    &:hover {
      border-color: #338cae;
      z-index: 40;
    }
  }
}
