.list-column
  .hide
    display: none
  .new-elements
    td
      cursor: pointer
  > menu.sortable-header
    font-size: 14px
    font-weight: bold
    height: 44px
    line-height: 44px
    background: #dbe3e6
    +box-shadow(0 2px 12px rgba(0, 0, 0, 0.12))
    +children-inline
    > a
      height: 100%
      padding-left: 3%
      padding-right: 2%
      color: #666666
      +text-overflow
      &.right
        text-align: right
    & + *
      border-top: 1px solid #cccccc
  // general
  > ul
    position: relative
    z-index: 5
    width: 100%
    &, > li
      position: relative
    > li > *
      height: 44px
      line-height: 46px
      +inline-block
      > .favorite
        a
          text-decoration: none
          color: rgba(0, 0, 0, 0.2)
        &:hover a
          color: #666666
      .favorite.starred
        a
          color: #fab035
          > i:before
            @extend .icon-star:before
    > li.header
      line-height: 44px
      height: 44px
      +bordered-bottom
      font-weight: bold
      a
        display: block
        height: 44px
        .sort-arrow
          position: relative
          margin-left: 5px
          top: -2px
    li.active
      +has-after-icon(21px, #e1ecf0)
        right: -2px
        top: 12px
        @extend .icon-caret-left:before
  ul.infinite-list
    z-index: 3
    +box-shadow(none)
  ul.infinite-list li, > ul > li.header ~ li
    min-height: 44px
    cursor: pointer
    border: 1px solid transparent
    & + li
      margin-top: -1px
    &:hover
      border-color: $brand-primary
      z-index: 40
