.application-content
  .application-content-top-panel
    = partial 'communities/profile/processes/top_panel'
  .application-content-block.application-content-block-nested
    .contacts-list-container.form-container-compact
      .notifications-widget-list-empty
        .notifications-widget-list-empty-content
          .notifications-widget-list-empty-icon
            %i.iqs-nav-contacts
          %p Процессы отсутствуют
