%article
  %a.crm-clients-list-card{:href => "/communities/14/processes/2"}
    .row
      .col-md-5
        .crm-clients-list-card-title.content-group-xs
          %span.small.text-color-gray
            %span #
            %span 2
          %span  
          %strong test
      .col-md-3
        %small.text-muted Автор
        %br/
        %span.btn-link.btn-link-primary Карина Шульц
      .col-md-2
        %small.text-muted Статус
        %br/
        %span active
      .col-md-2
        %small.text-muted Количество запусков
        %br/
        %span 0
