.content-group
  .row
    %label.control-label.col-sm-2
      ФИО
    .col-sm-5
      %input.form-control{:placeholder => "", :type => :text}
    .col-sm-5
      %a.btn.btn-link-primary.btn-link-plain
        или выбрать пользователя
.content-group
  .row
    %label.control-label.col-sm-2
      Должность
    .col-sm-5
      %input.form-control{:placeholder => "", :type => :text}
.content-group
  .row
    %label.control-label.col-sm-2
      Дата рождения
    .col-sm-5
      %input.form-control{:placeholder => "", :type => :datetime}
.content-group
  .row
    %label.control-label.col-sm-2
      Телефон
    .col-sm-5
      %input.form-control{:placeholder => "", :type => :tel}
.content-group
  .row
    %label.control-label.col-sm-2
      Email
    .col-sm-5
      %input.form-control{:placeholder => "", type: :email}

