.content-group

.alert.alert-info
  .content-group-sm
    %a.close &times;
    Можно настроить команду проекта: изменить участников и администраторов, добавить из других сообществ, пригласить новых пользователей.
  %a.btn.btn-primary{href: '/projects/edit?data_step=team'} Перейти к настройкам
  %a.btn.btn-link-gray-light Нет, спасибо

.alert.alert-info
  .content-group-sm
    %a.close &times;
    Проект находится на стадии планирования. Все задачи на этом этапе — черновики. Чтобы участники проекта смогли начать работу над задачами, нужно запустить проект в работу.
  %a.btn.btn-primary{href: '/projects/show/tasks'} Запустить в работу
  %a.btn.btn-link-gray-light Оставить в планировании

