.resource-watcher-subscription.resource-watcher-subscription-initialized{"data-url" => "/subscriptions?project_id=879"}
  %label.checkbox{title: ""}
    %input#subscribe{checked: "checked", name: "subscribe", type: "checkbox", value: "1"}/
    %i
    Следить за изменениями
.project-body
  %h2.with-icons.project-show-title
    .icons
      .favorite.favorite-view.favorite-view-initialized
        %a{"data-method" => "put", href: "/favorites?project_id=879", rel: "nofollow"}
          %i.icon-star-empty
    UX/UI Iq300

