.member
  input(name='project[memberships_attributes][][user_id]', class='members_user_id', type='hidden', value=id)
  input(name='project[memberships_attributes][][group_name]', class='members_group_name', type='hidden', value=group_name)
  p
    span
      = name
    a(href='#', class='delete-member')
      i.icon-remove