- text = locals[:text] || ''
- user_status = locals[:user_status] || 'offline'
- files = locals[:files]

.message-box.message-box-from-current-user
  .media
    .pull-left
      .message-box-user-avatar-empty
    .media-body
      .message-box-header.group
        .pull-left
          %span.message-box-title
            Александр Мещеряков
          %small.text-muted
            &nbsp;&nbsp;
            %a.btn-link-gray-light.btn-link-plain{href: '#', role: "conversation-message-fwd", data: {'original-title' => 'Переслать сообщение'}}
              %i.fa.fa-mail-forward

        -#, Алексеева Лиана, Чоловский Дмитрий 
        %span.message-box-time.pull-right 18 июля, 16:03
      .message-body
        .message-body-text= text
        .message-box-files
          - if files && files.any?
            - files.each do |f|
              %a.btn.btn-default{:href => "#"}
                %span.fa.fa-file-text-o 
                  = "#{f}"

