
%section.top-panel
  .pull-left
    %a.btn.btn-lg{:href => "/conversations"}
      %span.fa.fa-reply
      Сообщения
  .pull-right{:style => "display:block;"}
    %span.btn.btn-lg{:style => "padding-top: 12px;padding-bottom: 12px;border: 0;font-weight: 400;line-height: 21px;"}
      Ваш собеседник
    %img.member-box-avatar-image-small.img-corrector-initialized{:alt => "Шамиль", :hide_wait_message => "true", :src => "https://iq300.s3.amazonaws.com/uploads/user_profile/photo/2/medium_e641ce02-e837-4d54-beaa-25724ff58b98.jpg", :style => "margin-top:3px;", :title => "Хамадеев Шамиль Актасович"}/
    %a{:href => "/users/2", :style => "padding-left: 5px;padding-right: 20px;text-decoration: none;color: inherit;"} Шамиль Хамадеев
