#community-tab-pane {
  #community-reports {
    .report-form {
      width: 264px;
    }
    .report-period {
      color: #666666;
      .input {
        display: inline;
        input[type='text'] {
          margin: 0;
          border: 1px solid #cccccc;
          background: #f1f5f6;
          padding: 3px 11px;
          line-height: 18px;
          height: 18px;
          color: #666666;
          width: 64px;
        }
      }
    }
    .community-report {
      .buttons {
        .report-save {
          width: 80px;
          float: right;
          background: #338cae;
          text-align: center;
          padding: 5px 21px;
          &:hover {
            background-color: lighten(#338cae, 4%);
          }
          span {
            color: white;
          }
        }
      }
      .report-datas {
        overflow: auto;
        overflow-y: hidden;
      }
      > .is-loading {
        margin-top: 30px;
        text-align: center;
        width: 100%;
        height: 100px;
      }
    }
    .task-form-section {
      padding: 0;
      .buttons {
        margin-top: 20px;
        input[type='submit'] {
          &:hover {
            background-color: lighten(#338cae, 4%);
          }
        }
      }
    }
    table {
      width: 100%;
      @extend %simple-table;
      color: #666666;
      th, td {
        padding: 8px 5px;
      }
      th.date {
        width: 115px;
      }
    }
    p {
      font: {
        style: italic;
      };
      margin: {
        top: 20px;
      };
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 640px) {
  .report-form {
    margin: 0 auto;
  }
}
