.iqs-notifications:before
  content: '\e800'

/* ''

.iqs-email-sign:before
  content: '\e801'

/* ''

.iqs-iq300:before
  content: '\e802'

/* ''

.iqs-notifications-o:before
  content: '\e803'

/* ''

.iqs-project:before
  content: '\e804'

/* ''

.iqs-check-circle:before
  content: '\e805'

/* ''

.iqs-message:before
  content: '\e806'

/* ''

.iqs-nav-calendar:before
  content: '\e807'

/* ''

.iqs-nav-communities:before
  content: '\e808'

/* ''

.iqs-nav-contacts:before
  content: '\e809'

/* ''

.iqs-nav-documents:before
  content: '\e80a'

/* ''

.iqs-nav-messages:before
  content: '\e80b'

/* ''

.iqs-nav-notifications:before
  content: '\e80c'

/* ''

.iqs-nav-projects:before
  content: '\e80d'

/* ''

.iqs-nav-tasks:before
  content: '\e80e'

/* ''

.iqs-help:before
  content: '\e80f'

/* ''

.iqs-chat:before
  content: '\e810'

/* ''
