@font-face
  font-family: 'iqs'
  src: url('iqs.eot?12103508')
  src: url('iqs.eot?12103508#iefix') format("embedded-opentype"), url('iqs.woff?12103508') format("woff"), url('iqs.ttf?12103508') format("truetype"), url('iqs.svg?12103508#iqs') format("svg")
  font-weight: normal
  font-style: normal


/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it.
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be
/*
 *@media screen and (-webkit-min-device-pixel-ratio:0) {
 *  @font-face {
 *    font-family: 'iqs';
 *    src: url('iqs.svg?12103508#iqs') format('svg');
 *  }
 *}

[class^="iqs-"]:before, [class*=" iqs-"]:before
  font-family: "iqs"
  font-style: normal
  font-weight: normal
  speak: none
  display: inline-block
  text-decoration: inherit
  width: 1em
  margin-right: .2em
  text-align: center
  /* opacity: .8;
  /* For safety - reset parent styles, that can break glyph codes
  font-variant: normal
  text-transform: none
  /* fix buttons height, for twitter bootstrap
  line-height: 1em
  /* Animation center compensation - margins should be symmetric
  /* remove if not needed
  margin-left: .2em
  /* you can be more comfortable with increased icons size
  /* font-size: 120%;
  /* Uncomment for 3D effect
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3);

.iqs-notifications:before
  content: '\e800'

/* ''

.iqs-email-sign:before
  content: '\e801'

/* ''

.iqs-iq300:before
  content: '\e802'

/* ''

.iqs-notifications-o:before
  content: '\e803'

/* ''

.iqs-project:before
  content: '\e804'

/* ''

.iqs-check-circle:before
  content: '\e805'

/* ''

.iqs-message:before
  content: '\e806'

/* ''

.iqs-nav-calendar:before
  content: '\e807'

/* ''

.iqs-nav-communities:before
  content: '\e808'

/* ''

.iqs-nav-contacts:before
  content: '\e809'

/* ''

.iqs-nav-documents:before
  content: '\e80a'

/* ''

.iqs-nav-messages:before
  content: '\e80b'

/* ''

.iqs-nav-notifications:before
  content: '\e80c'

/* ''

.iqs-nav-projects:before
  content: '\e80d'

/* ''

.iqs-nav-tasks:before
  content: '\e80e'

/* ''
